<div class="panel">

    <div ng-controller="SignupCtrl" novalidate>
            <p class="text-block-title">Identificación</p>
            <p>
                Si nunca se ha registrado en Market Observatory, necesitará un Usuario –un email operativo- y una Contraseña
                para acceder al servicio. El email se usará exclusivamente para las funciones propias del servicio y en cualquier
                momento podrá darse de baja.
                Si es o ha sido cliente utilice sus datos de acceso habituales.
            </p>
        <div class="prices-font11">

            <div class="new-subscription-block">
                <div class="orange-border" style="font-size:12px; margin-bottom:15px;">
                    <table width="400">
                        <tr>
                            <td>
                                <input type="radio" ng-model="newSubscriptionMode" value="login"> Soy
                                cliente </input>
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <form name="loginForm">
                                    <table  class="signup-new-subscription-table" style="height:50px;">
                                        <tr>
                                            <td>
                                                <span class="grey-label">Usuario (email)</span>
                                            </td>
                                            <td>
                                                <input ng-model="login.email" type="email"
                                                       ng-change="clearState()"
                                                       name="uEmail" required="true" />
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="grey-label">Contraseña</span>
                                            </td>
                                            <td>
                                                <input ng-model="login.password"  type="password"
                                                       name="password1" required="true"
                                                       ng-pattern="passwordPatten" ng-trim="false"
                                                       ng-minlength="8"/>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="radio" ng-model="newSubscriptionMode" value="signup"> No soy
                                cliente </input>
                            </td>
                        </tr>
                        <tr>
                            <td>

                                <form name="form">
                                    <table class="signup-new-subscription-table">
                                        <tbody>
                                        <tr>
                                            <td><span class="grey-label">Usuario (email)</span></td>
                                            <td><input ng-model="user.email" type="email"
                                                       ng-change="clearState()"
                                                       name="uEmail" required="true">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="grey-label">Repetir Usuario (email)</span></td>
                                            <td><input type="email" ng-model="user.email2"
                                                       name="username2" required="true"
                                                       matchWith="user.email">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="grey-label">Contrase&ntilde;a</span></td>
                                            <td><input ng-model="user.password" type="password"
                                                       name="password1" required="true"
                                                       ng-pattern="passwordPatten" ng-trim="false"></td>
                                        </tr>
                                        <tr>
                                            <td><span class="grey-label">Repetir contrase&ntilde;a</span></td>
                                            <td><input ng-model="user.password2" type="password"
                                                       name="password2" required="true" matchWith="user.password">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </form>

                            </td>
                        </tr>
                    </table>
                </div>
                <button class="mo-button" name="continue" disabled ng-show="((loginForm.$invalid && newSubscriptionMode == 'login') || (form.$invalid && newSubscriptionMode == 'signup'))"
                        ng-click="createNewSubs()" style="float:right;margin-bottom: 25px;" type="button">Continuar
                </button>
                <button class="mo-button" name="continue" ng-show="!((loginForm.$invalid && newSubscriptionMode == 'login') || (form.$invalid && newSubscriptionMode == 'signup'))"
                        ng-click="createNewSubs()" style="float:right;margin-bottom: 25px;" type="button">Continuar
                </button>
                 <!--ng-disabled="((loginForm.$invalid && newSubscriptionMode == 'login') || (form.$invalid && newSubscriptionMode == 'signup'))"-->
                <!--login errors -->
                <div ng-show="loginForm.uEmail.$error.email && (loginForm.uEmail.$dirty &&  newSubscriptionMode== 'login' )"
                     class="red-color-form prices-font12">
                    Email inv&aacute;lido
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="loginForm.$error.required && (loginForm.$dirty && newSubscriptionMode== 'login' )">
                    Faltan campos obligatorios
                </div>
                <div class="red-color-form prices-font12" ng-show="errorSignIn && (loginForm.$dirty && newSubscriptionMode== 'login' )">
                    Email o password inválidos
                </div>
                <!-- signup errors -->
                <div class="red-color-form prices-font12"
                     ng-show="(form.password2.$error.mismatch  && newSubscriptionMode== 'signup' ) && (form.password2.$dirty &&form.password1.$dirty)">Las
                    contrase&ntilde;as no coinciden
                </div>
                <div ng-show="form.uEmail.$error.email && (form.uEmail.$dirty &&  newSubscriptionMode== 'signup' )"
                     class="red-color-form prices-font12">
                    Email inv&aacute;lido
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="(form.username2.$error.mismatch  && newSubscriptionMode== 'signup' ) && (form.uEmail.$dirty && form.username2.$dirty )">Los
                    emails no coinciden
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="(result.username == 'used' && (form.uEmail.$dirty  && newSubscriptionMode== 'signup' ))">El
                    e-mail ya est&aacute; siendo usado
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="form.password1.$error.minlength && (form.password1.$dirty && newSubscriptionMode== 'signup' )">La
                    contrase&ntilde;a requiere de un m&iacute;nimo 8 caracteres
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="(form.password1.$error.pattern  && newSubscriptionMode== 'signup' ) && (form.password1.$dirty && form.password2.$dirty)">
                    Caracteres inv&aacute;lidos en la contrase&ntilde;a
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="errorForm">Error en el formulario, por favor vuelva a intentarlo
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="form.$error.required && (form.$dirty && newSubscriptionMode== 'signup' )">
                    Faltan campos obligatorios
                </div>
            </div>


        </div>
    </div>

</div>
