
/**
*Sign up Page classes
**/
.black-title-bold{
  font-size: 14px;
  font-family: verdana;
  margin-bottom: 20px;
  font-weight: bold;
  height: 20px;
  margin-top: 20px;
}
.super-border {
  border-top: 1px solid #1A171B;
}
.margin-top-header{
  margin-top: 20px;
}
.sign-text {
  margin-top: 10px;
  margin-bottom: 10px;
}
.default-format-text{
  font-size: 12px;
  line-height: 130%;
  float: left;
  width: 100%;
  margin-bottom: 10px;
  text-align: justify;
}
.sign-up-block{
  clear: both;
  width: 400px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  font-size: 12px;
  margin-bottom: 15px;
}
.orange-border{
  border: 3px solid #FF8200;
}
.grey-label{
  color: #6F7072;
}
.prices-font11{
  font-family: fontpo, verdana !important;
  font-size: 11px;
}

.prices-font12{
  font-family: fontpo, verdana !important;
  font-size: 12px;
}

/*SignUp step 2*/
.sign-up2-body{
  width: 400px;
  margin: 0 auto;
  height: 500px;
  margin-top: 20px;
}

.signup-table-step2{
  width: 485px;
  font-family: fontpo;
  font-size: 12px;
  color: black !important;
  font-weight: 100;
  height: 220px;
}
.signup-table-step2 td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.red-color-form{
  color: #C30;
}

.signup-input{
  margin: 0 !important;
  padding: 0 !important;
  width: 178px;
  height: 19px !important;
  border: 1px solid #AAA !important;
  border-top: 1px solid #888 !important;
  border-left: 1px solid #888 !important;
  font-size: 11px;
}

.signup-select{
  font-family: "fontpo";
  font-size: 10px !important;
  font-weight: 100;
  height: 17px !important;
  border: 1px solid #AAA !important;
  border-top: 1px solid #888 !important;
  border-left: 1px solid #888 !important;
  width: 185px;
}

.signup-form-warning{
  text-align: left !important;
  font-size: 10px !important;
  color: #C30;
  padding-top: 20px !important;
}

.signup-succesfulMessage{
  width:900px;
  margin:0px 20px 20px 148px;
  padding-bottom:20px;
  margin-left: 50%;
  left: -450px;
  position: relative;
  margin-top:20px;
  margin-bottom:20px;
  font-family: fontpo, verdana;
  font-size: 16px;
  font-weight: normal;
  line-height: 17px;
}

.signup-table{
  width: 100%;
  height: 130px;
  margin: 10px;
}
.signup-table td{
  vertical-align: baseline;
}
.captcha-img{
  position:relative;
  top:5px;
  width:70px;
  height: 20px;
  vertical-align: baseline;
}