<div class="panel">

    <p class="text-block-title">
        Datos de Registro
    </p>

    <p>
        Introduzca los datos solicitados de identificaci&oacute;n.
    </p>

    <div>
        <form name="formReg" novalidate method="POST" autocomplete="on">
            <div class="sign-up-body-step2" ng-controller="SignupCtrl">
                <div class="orange-border prices-font11" style="padding: 10px; margin-bottom:20px;">
                    <table class="signup-table-step2 prices-font12">
                        <tbody>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td class="grey-label">Nombre y apellidos</td>
                            <td >
                                <input  type="text" name="name" id="name" ng-enter="nextInput('surname')"
                                       class="signup-input "
                                       ng-class=" {'warning-input': (formReg.name.$error.required && (formReg.name.$dirty || formSubmited) )
                                                  || (formReg.name.$error.pattern && (formReg.name.$dirty|| formSubmited))
                                                  || formReg.name.$error.maxlength}"
                                       alt="Nombre"
                                       ng-pattern="namePattern" ng-trim="false" ng-model="user.name" required="true"
                                       ng-maxlength="80"></td>
                        </tr>
                         <!--<tr>
                            <td class="red-color-form">*</td>
                            <td>Apellido</td>
                            <td >
                                <input  type="text" name="surname" class="signup-input" ng-enter="nextInput('address')"
                                       alt="Apellido" id="surname"
                                       ng-model="user.surname" required="true" ng-pattern="namePattern"
                                       ng-maxlength="80"
                                        ng-class="{'warning-input': (formReg.surname.$error.required && (formReg.surname.$dirty || formSubmited))
                                                  || (formReg.surname.$error.pattern && (formReg.surname.$dirty || formSubmited))
                                                  || formReg.surname.$error.maxlength}"></td>
                        </tr>-->
                        <tr>
                            <td class="red-color-form"></td>
                            <td class="grey-label">Direcci&oacute;n</td>
                            <td ><input  type="text" name="address" id="address" ng-enter="nextInput('city')"
                                                           class="signup-input" alt="Direccion"
                                                           ng-model="user.address" ng-maxlength="200"
                                                           ng-class="{'warning-input': (formReg.address.$error.maxlength)}"  >
                            </td>
                        </tr>
                        <tr>
                            <td class="red-color-form"></td>
                            <td class="grey-label">Ciudad</td>
                            <td ><input  type="text" name="city" id="city" ng-enter="nextInput('postal')"
                                                           class="signup-input" alt="Ciudad"
                                                           ng-model="user.city"  ng-maxlength="200"
                                                           ng-class="{'warning-input': (formReg.city.$error.maxlength)}" ></td>
                        </tr>
                        <tr>
                            <td class="red-color-form"></td>
                            <td class="grey-label">C&oacute;digo Postal</td>
                            <td ><input  type="text" name="postal" id="postal" ng-enter="nextInput('country')"
                                                           class="signup-input" alt="Codigo Postal"
                                                           ng-model="user.postal"  ng-maxlength="80"
                                                           ng-pattern="zipPattern"
                                                           ng-class="{'warning-input': (formReg.postal.$error.pattern && (formReg.postal.$dirty|| formSubmited))}"></td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td class="grey-label">Pa&iacute;s</td>
                            <td >


                                <select class="signup-select" name="country" size="1"
                                        ng-model="user.country" id="country" ng-enter="nextInput('captcha')"
                                        ng-options="opt as opt.name for opt in countries"
                                        required="true"
                                        ng-class="{'warning-input': (formReg.country.$error.required && (formReg.country.$dirty || formSubmited))}" >
                                    <option style="display:none" value="">Seleccione un país</option>

                                </select>

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="red-color-form">*</td>
                            <td colspan="2" class="grey-label">Pregunta de seguridad</td>
                        </tr>
                        <tr>
                            <td class="red-color-form"></td>
                            <td colspan="2">
                                <div id="bodyCaptcha">
                                    <img id="captchaImg" src="assets/img/captcha.png/captcha.png" class="captcha-img">
                                    <input type="text" name="captcha" style="width:212px;" id="captcha" ng-enter="nextInput('conditions')"
                                           class="signup-input"
                                           ng-model="user.captcha" required="true" ng-pattern="captchaPattern"
                                           ng-class="{'warning-input': ((formReg.captcha.$error.required &&
                                            (formReg.button-submit.$dirty|| formSubmited))||(!validCaptcha && formSubmited))
                                            || (formReg.captcha.$error.pattern && (formReg.captcha.$dirty || formSubmited))}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="red-color-form">*</td>
                            <td colspan="2" class="grey-label">Acepto las
                                <div id="terms-conditions-link" ng-click="openModalInstanceTerms('sign_up/terms-and-conditions');" style="display:inline;">
                                    <span style="color:#0663D7;cursor:pointer;">Condiciones de Uso</span>
                                </div>

                                <input  type="checkbox" name="conditions" id="conditions" ng-enter="nextInput('submit2')"
                                       style="margin-left:20px !important;" ng-model="user.conditions" required="true">
                            </td>

                        </tr>

                        <tr>
                            <td colspan="3" class="signup-form-warning" style="text-align: left;">
                                * Campos obligatorios
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height: 60px; padding-right: 105px;">
                                <div  class="text-warning-form"
                                   >
                                    <span ng-show="(formReg.$error.required && formSubmited)">
                                    Faltan campos obligatorios</span>
                                </div>
                                <div   class="text-warning-form"
                                     ><span ng-show="formReg.$error.pattern || formReg.$error.maxlength">
                                    Campos err&oacute;neos
                                    </span>
                                </div>
                                <div  class="text-warning-form"
                                        ><span ng-show="errorForm">
                                   Ha ocurrido un error con el registro, por favor vuelva a intentarlo de nuevo
                                    </span>
                                </div>
                                <div  class="text-warning-form"
                                     ><span ng-show="formReg.conditions.$error.required && formSubmited">
                                    Debe aceptar las condiciones del servicio
                                    </span>
                                </div>
                                <div  class="text-warning-form"
                                        ><span ng-show="!validCaptcha && formSubmited">
                                    captcha incorrecto
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <input class="mo-button" ng-enter="sendSecondStep()"
                       name="button-submit" id="submit2"
                       value="Registrar" style="float:right;" type="button" ng-click="sendSecondStep()">
            </div>


        </form>

    </div>
</div>
