<div class="panel">

    <div ng-controller="SignupCtrl" novalidate>
        <p class="text-block-title">
            Usuario y Contrase&ntilde;a para Acceso Online
        </p>

        <p>
            Si nunca se ha registrado en Market Observatory, necesitará un Usuario –un email operativo- y una Contraseña
            para acceder al servicio. El email se usará exclusivamente para las funciones propias del servicio y en cualquier
            momento podrá darse de baja.
        </p>
        <div  class="prices-font11">
            <form name="form" method="POST" autocomplete="on" ng-dirty="dirtyForm">
                <div class="sign-up-block">
                    <div class="orange-border" style="font-size:12px; margin-bottom:15px;">
                        <table class="signup-table" style="width:95%;">
                            <tbody>
                            <tr>
                                <td><span class="grey-label">Email</span></td>
                                <td><input  class="signup-input" ng-model="user.email" type="email" ng-change="clearState()" id="email"
                                           name="uEmail" style="width:200px;" required="true" ng-enter="nextInput('email2')">
                                </td>
                            </tr>
                            <tr>
                                <td><span class="grey-label">Repetir email</span></td>
                                <td><input  class="signup-input" type="email" ng-model="user.email2" id="email2" ng-change="inputChange()"
                                           name="username2" style="width:200px;" required="true" match-with="user.email" ng-enter="nextInput('password')">
                                </td>
                            </tr>
                            <tr>
                                <td><span class="grey-label">Contrase&ntilde;a</span></td>
                                <td><input  class="signup-input" ng-model="user.password" type="password" id="password" ng-change="passwordCheck();"
                                           name="password1" required="true"
                                           ng-pattern="passwordPatten" ng-trim="false" ng-enter="nextInput('password2')"
                                           style="width:200px;" ng-minlength="8"></td>
                            </tr>
                            <tr>
                                <td><span class="grey-label">Repetir contrase&ntilde;a</span></td>
                                <td><input  class="signup-input" ng-model="user.password2" type="password" id="password2" ng-change="passwordCheck();"
                                           name="password2" required="true" ng-pattern="passwordPatten" match-with="user.password" ng-enter="nextInput('submit1')"
                                           style="width:200px;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="mo-button"  name="continue"  id="submit1" ng-enter="sendFirstStep()"
                            ng-click="sendFirstStep()" style="float:right;" type="button">Continuar
                    </button>
<!--form.password2.$error.mismatch && -->
                    <div class="red-color-form prices-font12" ng-show="((form.password2.$dirty || form.password1.$dirty) && (passwordErrorMatch)) && (form.password1.value != '' && !form.password2.value != '')">Las
                        contrase&ntilde;as no coinciden
                    </div>
                    <div ng-show="form.uEmail.$error.email && (form.uEmail.$dirty)"
                         class="red-color-form prices-font12">
                        Email inv&aacute;lido
                    </div>
                    <div class="red-color-form prices-font12" ng-show="form.username2.$error.mismatch && (form.uEmail.$dirty && form.username2.$dirty )">Los
                        emails no coinciden
                    </div>
                    <div class="red-color-form prices-font12" ng-show="(result.username == 'used' && form.uEmail.$dirty)">El
                        e-mail ya est&aacute; siendo usado
                    </div>
                    <div  class="red-color-form prices-font12" ng-show="form.password1.$error.minlength && form.password1.$dirty">La
                        contrase&ntilde;a requiere de un m&iacute;nimo 8 caracteres
                    </div>
                    <div  class="red-color-form prices-font12"
                         ng-show="form.password1.$error.pattern && (form.password1.$dirty && form.password2.$dirty)">Caracteres inv&aacute;lidos en la contrase&ntilde;a
                    </div>
                    <div class="red-color-form prices-font12"
                          ng-show="errorForm">Error en el formulario, por favor vuelva a intentarlo
                    </div>
                    <div  class="red-color-form prices-font12"
                         ng-show="form.$error.required && form.$dirty">
                        Faltan campos obligatorios
                    </div>
                    <div  class="red-color-form prices-font12"
                          ng-show="triedFirstStep && !form.$dirty">
                        Faltan campos obligatorios
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
