<div class="panel">
    <div>
        <form id="formReg" name="formReg">

            <div id="cuerpoFreeSuscription" class="sign-up2-body" ng-controller="SignUpController">
                <div id="j_id333" class="orange-border prices-font11" style="padding: 10px; margin-bottom:20px;">
                    <table class="signup-table-step2 prices-font12">
                        <tbody>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>Nombre</td>
                            <td class="registerCol">
                                <input id="registerName" type="text" name="registerName"
                                       class="signup-input "
                                       ng-class=" {warningInput: (formReg.registerName.$error.required && (formReg.registerName.$dirty || formSubmited) )
                                                  || (formReg.registerName.$error.pattern && (formReg.registerName.$dirty|| formSubmited))
                                                  || formReg.registerName.$error.maxlength}"
                                       alt="Nombre"
                                       ng-pattern="namePattern" ng-trim="false" ng-model="user.name" required="true"
                                       ng-maxlength="80"></td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>Apellido</td>
                            <td class="registerCol">
                                <input id="registerSurnameId" type="text" name="registerSurnameId" class="signup-input"
                                       alt="Apellido"
                                       ng-model="user.surname" required="true" ng-pattern="namePattern"
                                       ng-maxlength="80"
                                        ng-class="{warningInput: (formReg.registerSurnameId.$error.required && (formReg.registerSurnameId.$dirty || formSubmited))
                                                  || (formReg.registerSurnameId.$error.pattern && (formReg.registerSurnameId.$dirty || formSubmited))
                                                  || formReg.registerSurnameId.$error.maxlength}"></td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>Direcci&oacute;n</td>
                            <td class="registerCol"><input id="registerAddress" type="text" name="registerAddress"
                                                           class="signup-input" alt="Direccion"
                                                           ng-model="user.address" required="true" ng-maxlength="200"
                                                           ng-class="{warningInput: (formReg.registerAddress.$error.required && (formReg.registerAddress.$dirty || formSubmited))
                                                           || (formReg.registerAddress.$error.maxlength)}"  >
                            </td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>Ciudad</td>
                            <td class="registerCol"><input id="registerCity" type="text" name="registerCity"
                                                           class="signup-input" alt="Ciudad"
                                                           ng-model="user.city" required="true" ng-maxlength="200"
                                                           ng-class="{warningInput: (formReg.registerCity.$error.required && (formReg.registerCity.$dirty|| formSubmited))
                                                           || (formReg.registerCity.$error.maxlength)}" ></td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>C&oacute;digo Postal</td>
                            <td class="registerCol"><input id="registerZip" type="text" name="registerZip"
                                                           class="signup-input" alt="Codigo Postal"
                                                           ng-model="user.postal" required="true" ng-maxlength="80"
                                                           ng-pattern="zipPattern"
                                                           ng-class="{warningInput: (formReg.registerZip.$error.pattern && (formReg.registerZip.$dirty|| formSubmited))
                                                           || (formReg.registerZip.$error.required  && (formReg.registerZip.$dirty|| formSubmited))}"></td>
                        </tr>
                        <tr>
                            <td class="red-color-form">*</td>
                            <td>Pa&iacute;s</td>
                            <td class="registerCol">


                                <select id="selectPais" class="signup-select" name="selectPais" size="1"
                                        ng-model="user.country"

                                        ng-options="opt as opt.name for opt in countries"
                                        required="true"
                                        ng-class="{warningInput: (formReg.selectPais.$error.required && (formReg.selectPais.$dirty || formSubmited))}" >
                                    <option style="display:none" value="">select a type</option>

                                </select>

                                </select>
                            </td>
                        </tr>

                        <tr>
                            <td class="red-color-form">*</td>
                            <td colspan="2">
                                <div id="bodyCaptcha">
                                <span class="accountLabelCaptcha">
                                Pregunta de seguridad:</span>
                                    <img id="captchaImg" src="assets/img/captcha.png/captcha.png" class="captcha-img">
                                    <input id="verifyCaptcha" type="text" name="verifyCaptcha" style="width:65px;"
                                           class="signup-input"
                                           ng-model="user.captcha" required="true" ng-pattern="captchaPattern"
                                           ng-class="{warningInput: (formReg.verifyCaptcha.$error.required && (formReg.signupBtn.$dirty|| formSubmited))||(!validCaptcha && formSubmited)}">
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td class="red-color-form">*</td>
                            <td colspan="2">Acepto las
                                <div id="enlace" ng-click="openModalInstance();" style="display:inline;">
                                    <span style="color:#0663D7;cursor:pointer;">condiciones del servicio</span>
                                </div>
                                <input id="registerConditions" type="checkbox" name="registerConditions"
                                       style="margin-left:20px !important;" ng-model="user.conditions" required="true">
                            </td>

                        </tr>

                        <tr>
                            <td colspan="3" class="signup-form-warning" style="text-align: left;">
                                * Campos obligatorios
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" style="height: 60px;">
                                <div id="requiredFormError" class="text-warning-form"
                                   >
                                    <span   ng-show="formReg.$error.required">
                                    Faltan campos obligatorios</span>
                                </div>
                                <div id="invalidFormError" class="text-warning-form"
                                     ><span ng-show="formReg.$error.pattern || formReg.$error.maxlength">
                                    Campos err&oacute;neos
                                    </span>
                                </div>
                                <div id="conditionsError" class="text-warning-form"
                                     ><span ng-show="formReg.registerConditions.$error.required">
                                    Debe aceptar las condiciones del servicio
                                    </span>
                                </div>
                                <div id="captchaError" class="text-warning-form"
                                        ><span ng-show="!validCaptcha && formSubmited">
                                    captcha incorrecto
                                    </span>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <input class="mo-button" id="registrar"
                       name="signupBtn"
                       value="Registrar" style="float:right;" type="button" ng-click="sendSecondStep()">
            </div>


        </form>

    </div>
</div>