<div ng-controller="ChangePasswordCtrl">
    <div>
        Introduzca el nuevo password
    </div>
    <div>
        <form name="formPassword" method="POST" autocomplete="on">
            <table class="reactivate-box">

                <tr>
                    <td><span class="grey-label">Password</span></td>
                    <td><input class="signup-input" ng-model="password" type="password"
                               ng-pattern="passwordPatten" ng-trim="false"  required="true" ng-minlength="8"
                               name="uPass" style="width:200px;" required="true"  >
                    </td>
                </tr>
                <tr>
                    <td><span class="grey-label">Repetir Password</span></td>
                    <td><input class="signup-input" type="password" ng-model="password2" ng-trim="false"  required="true"
                               name="uPass2" style="width:200px;" required="true" match-with="password">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button class="mo-button cursor-pointer"  name="continue"
                                ng-click="changePassword()" style="margin: auto;" type="button">Cambiar Password
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="height:55px;">
                        <div class="red-color-form prices-font12" ng-show="mismatch">Los
                            passwords no coinciden
                        </div>
                        <div ng-show="formPassword.uPass.$error.minlength && formPassword.uPass.$dirty"
                             class="red-color-form prices-font12">
                            Password inv&aacute;lido
                        </div>
                        <div  class="red-color-form prices-font12"
                              ng-show="formPassword.uPass.$error.pattern">Caracteres inv&aacute;lidos en la contrase&ntilde;a
                        </div>
                        <div  class="red-color-form prices-font12"
                              ng-show="error">
                            Ha ocurrido un error, puede que el enlace no sea correcto, si usted ha pedido recuperar password, haga click en Recuperar Password de nuevo.
                        </div>
                        <div class="prices-font12" ng-show="changed  && formPassword.uPass.$dirty">
                            Se ha modificado el password correctamente, lo podrá usar en el próximo login
                        </div>
                    </td>
                </tr>
            </table>

        </form>


    </div>

</div>