<div class="public-zone-text container" ng-controller="HomeCtrl">
    <p class="text-block-title">FAQ</p>

    <ol class="faq-index">
        <li ng-click="scrollTo('faq1')">No localizo una compañía en los packs de un mes. ¿qué debo hacer?</li>
        <li ng-click="scrollTo('faq2')">Mi intermediario financiero – bróker – no me permite invertir con ventas a corto ¿puedo elegir una suscripción con tan solo patrones alcistas?</li>
        <li ng-click="scrollTo('faq3')">Al observar el nombre de las compañías que se publican durante un mes, a veces se repite el nombre de la compañía ¿esto es posible o es un error?</li>
        <li ng-click="scrollTo('faq4')">¿Cómo usar los Patrones de Market Observatory conjuntamente con el Análisis Técnico?</li>
        <li ng-click="scrollTo('faq5')">¿Es práctico usar las Fechas de Entrada y Salida directamente como se especifica en el Patrón?</li>
        <li ng-click="scrollTo('faq6')">En la identificación de Patrones no se han considerado las Comisiones ¿No puede invalidar este hecho la rentabilidad de muchos Patrones?</li>
        <li ng-click="scrollTo('faq7')">Hay Índices que no tienen instrumentos negociables. ¿Cómo se puede aprovechar la información de los Patrones en estos casos?</li>
    </ol>


    <p class="orange-title" id="faq1">No localizo una Compañía en los packs de un mes. ¿Qué debo hacer?</p>
    <p>
        Lo que sucede es que la Compañía no tiene estrategias estadísticamente significativas durante ese mes y es el motivo para no publicarlo.
        Lo que debería hacer es consultar la web de Market Observatory en los próximos meses para ver si se publican patrones sobre la Compañía (u otras compañías de su interés) y cuando esto ocurra comprar una suscripción al Pack.
        Si en el futuro utiliza los servicios de Market Observatory siempre sabrá cuándo debe comprar y vender acciones de cualquier compañía. Comprará (y venderá) las acciones alrededor de las fechas indicadas por el servicio.
    </p>
    <p class="orange-title" id="faq2">Mi Intermediario Financiero - Bróker - no me permite invertir con Ventas a corto ¿Puedo elegir una suscripción con tan solo Patrones Alcistas?</p>

    <p>
        Durante la suscripción no es posible diferenciar entre patrones Alcistas y Bajistas. Esta decisión tiene dos

        objetivos:

        <ol>
            <li>Incluso para un ahorrador que solo toma posiciones al Alza –largas-, si su Compañía favorita tiene durante

            un periodo del año un Patrón Bajista, la información es útil para “retrasar sus Compras”.</li>

            <li>Evitar sesgos inducidos por el usuario. Por ejemplo si durante una época claramente Bajista solo elige

            Patrones Alcistas, la cartera de Estrategias estará sesgada por las “expectativas o deseos de Compra” del

            usuario. También es una información valiosa saber que de los 100 Patrones del Pack, 20 son alcistas y 80

            bajistas.
            </li>
        </ol>

        Recuerde que actualmente hay buenos brókeres que le permiten realizar la operación de Vender a corto

        exactamente igual que una Compra.
    </p>

    <p class="orange-title" id="faq3">Al observar el nombre de las Compañías que se publican durante un mes, a veces se repite el Nombre de la Compañía

        ¿esto es posible o es un error?</p>

    <p>No es un error. Lo que indica es que una compañía puede tener más de un Patrón por mes. Hay varios casos:</p>
    <ol style="list-style-type: lower-alpha;">
        <li>Dos Patrones con igual tendencia. Por ejemplo, uno de ellos puede indicar una compra a “corto plazo” que

            dura 40 días y otro una compra a “largo plazo” superior a 6 meses.</li>
        <li>Dos patrones con diferentes tendencias. Suelen ocurrir en compañías con formaciones en “V” y meses con

            cambios de tendencia. Por ejemplo, puede darse una Venta a corto –patrón bajista- sobre una Compañía

            que comienza a principio de mes y termina a final del mismo mes. Y una vez cerrado la posición corta, puede

            iniciarse un patrón Alcista.</li>
    </ol>

    <p class="orange-title" id="faq4">¿Cómo usar los Patrones de Market Observatory conjuntamente con el Análisis Técnico?</p>
    <p>En esencia un Patrón de Market Observatory indica el mejor periodo para hacer una inversión con fechas de

        apertura y cierre, pero las fechas son “aproximadas” en el sentido de que no todos los años, los suelos y techos del

        mercado ocurren exactamente en el mismo día.

        Durante los citados periodos, puede usar indicadores de Análisis Técnico que se alineen con la tendencia de los

        patrones de Market Observatory para buscar el día preciso o “timing” de apertura y cierre de posiciones. De esta

        manera puede adelantar –y retrasar- operaciones en días o semanas y maximizar las operaciones con patrones.

        Si el patrón de Market Observatory pronostica una “continuación” de tendencia, debería usar indicadores de

        Análisis Técnico de seguimiento de tendencia. Si el patrón pronostica una vuelta o “cambio” de tendencia, debería

        usar indicadores de Análisis Técnico de antitendencia.

        La recomendación es usar Resistencias y Soportes sobre ambos gráficos del Patrón y de Precios, y unos

        pocos indicadores técnicos. Recuerde elaborar pocas reglas y que sean simples, para evitar el problema de la

        “sobreoptimización” (*).

        (*) El fallo de la sobreoptimización se produce cuando a un sistema de inversión se le añaden gradualmente

        más reglas, parámetros e indicadores con el objeto de maximizar los beneficios durante las pruebas con datos

        históricos -back testing-. A medida que se incluyan nuevos indicadores –nuevas dependencias según el lenguaje

        matemático- se estará disminuyendo el poder predictivo.</p>

    <p class="orange-title" id="faq5">¿Es práctico usar las Fechas de Entrada y Salida directamente como se especifica en el Patrón?</p>
    <p>A los patrones publicados por Market Observatory se les exige una frecuencia de aciertos o Fiabilidad 90 % y que

        con el objeto de descartar Patrones casuales, además hayan mantenido esa fiabilidad en fechas adyacentes a

        las publicadas. Los suelos y techos de los valores se dan alrededor de las mismas fechas, por lo que si la Acción

        y el mercado están fuertes, puede adelantar las Compras y retrasar las Ventas, y si están ambos muy débiles

        puede adelantar las Ventas y retrasar las Compras. Para Patrones a largo plazo puede usar perfectamente las

        fechas publicadas. Para operaciones a corto plazo –duración menor a 1 mes- e instrumentos apalancados podría

        usar las fechas publicadas u otras que pivoten alrededor de ellas. Siempre es aconsejable observar los datos

        Fundamentales de las compañías y activos.</p>
    <p class="orange-title" id="faq6">En la identificación de Patrones no se han considerado las Comisiones ¿No puede invalidar este hecho la rentabilidad de muchos Patrones?</p>
    <p>Hay muy pocos casos publicados de estrategias de muy baja rentabilidad. Si para ponerlas en práctica usted

        utiliza un intermediario financiero de costes muy elevados –los hay-, pues el resultado podría reducirse de forma

        significativa. Si es su caso, debe inmediatamente buscar otros intermediarios financieros pues los hay muy buenos

        a precios muy competitivos.

        El efecto de las Comisiones es más importante cuanto mayor sea la frecuencia de operaciones. Si invierte a Corto

        Plazo es imprescindible que opere con brókers con bajas comisiones. Si invierte con Par de Acciones se duplican las

        comisiones y todavía es más necesario que elija un bróker apropiado.</p>

    <p class="orange-title" id="faq7">Hay Índices que no tienen instrumentos negociables. ¿Cómo se puede aprovechar la información de los Patrones en estos casos?</p>
    <p>Efectivamente, aunque el desarrollo de ETF’s está acelerándose –hay miles-, existen Índices que todavía no

        tiene instrumentos que se puedan negociar directamente o son muy ilíquidos. Una aproximación indirecta de

        aprovechamiento es identificar las Compañías que lo componen -Constituents- y negociar acciones de algunas de

        ellas.

        Por ejemplo Market Observatory puede publicar un patrón para el índice FTSE Gold Mines Africa. Si no encuentra

        ETF’s o Fondos sobre este índice, en la web www.ftse.com puede consultar las Compañías de Africa que

        constituyen el Índice Gold Mines Africa, que son 4 compañías. Una aproximación sería repartir su inversión en

        Acciones de algunas o todas estas compañías.</p>

</div>