<div class="super-border private-black-title">Correlación</div>

<div class="private-container-text">
    <p>El análisis de correlación permite planificar la diversificación de los componentes de una Cartera.</p>
    <p>Los valores de correlación entre dos activos están comprendidos entre [-100%, +100%] con zonas singulares:</p>
    <ul class="public-list-first-level">
        <li>+100% (valor próximo). La variación de rentabilidades de ambos activos es similar, no hay diversificación.</li>
        <li>0% (valor próximo). No hay relación entre las rentabilidades de ambas series. Pueden ser componentes válidos para diversificar.</li>
        <li>-100% (valor próximo). La variación de rentabilidades de ambos activos es similar en proporción pero en sentido opuesto,
            cuando uno sube el otro baja y viceversa. Son componentes válidos para diversificar.</li>
    </ul>

    <p>El modo de uso es como sigue: <span ng-click="show=!show" ng-hide="show" class="toggle-link show-more">Mostrar Más</span></p>
    <div ng-show="show">
        <ul class="public-list-first-level">
            <li>Use “<span class="blue-text">>></span>” para añadir activos a evaluar.</li>
            <li>Use “<span class="blue-text"><<</span>” para descartar activos que no desea evaluar.</li>
            <li>Pulse “Calcular“ y analice los resultados.</li>
            <li>Use la marca de Favoritos para incluir o eliminar los activos preferidos.</li>
            <li>Evaluar los datos Fundamentales de las compañías marcadas como favoritas</li>
        </ul>

       <!-- <p><a ng-click="openModalInstance('services/detailed_description/correlation')">Más información.</a></p>-->

        <span ng-click="show=!show" class="toggle-link show-less">Mostrar menos</span>
    </div>

</div>

<div style="margin-top: 15px;">

    <tabset>
        <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title | translate}}"
             active="ctab.active" disabled="tab.disabled">
            <fieldset > <!--ng-disabled="loading || loadingFilters"-->
            <div class="correlation-filter-container">

                <div ng-include="getTemplateFilter()"></div>
            </div>
            <div class="loading-div-container">
                <div ng-include="getTemplateTable()">


            </div>

                <div class="footer-table-correlation">
                    <div class="pagination-correlation-container" >
                        <pagination ng-show="found > pagingOptions.pageSize" boundary-links="true" on-select-page="setPage(page)" total-items="found"
                                    items-per-page="pagingOptions.pageSize" max-size="10"
                                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                                    next-text="&gt;"
                                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
                    </div>
                    <div>
                        <button style="width: 120px;margin-left: 165px;margin-right:35px;" class="mo-cancel-button" ng-click="clearCorrelationList();">
                            {{'TOOLS.cancel'|translate}}
                        </button>
                        <button style="width: 120px;" class="mo-button" ng-click="correlate();">
                            {{'TOOLS.calc'|translate}}
                        </button>
                    </div>
                </div>
            </div>
                </fieldset>

        </tab>
    </tabset>
    <div class="loading-div-container">
        <div class="loading-div" ng-show="calculating"><img src="assets/img/ajax-loader.gif"><span>{{'TOOLS.calculating'|translate}}</span></div>

        <div ng-if="correlationData.length > 0" id="correlation-result-container">
            <table class="table-correlation-result" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        <th colspan="{{correlationData.length}}"><span style="float:left;">{{'TOOLS.correlation_result_header'|translate}} </span> <span style="float:right;">({{lastUpdateDateCorrelation | date: 'dd MMM yyyy'}})</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in correlationData track by $index">
                       <!-- <td  ng-repeat="column in row track by $index" ng-class="{'high-correlation': column.value >= 80, 'buy-color': column.patternType == 'BULLISH', 'sell-color': column.patternType == 'BEARISH'}">{{column.value}}</td>-->
                       <td  ng-repeat="column in row track by $index"  ng-class="{'high-correlation': (column.value >= 88 || column.value <=-88), 'buy-color': column.patternType == 'BULLISH', 'sell-color': column.patternType == 'BEARISH'}">
                            <span  ng-if="column.name == ''">{{column.value}}</span>
                           <span tooltip-html-unsafe="{{column.name}}"  ng-if="column.name != ''" class="cursor-help">{{column.value}}</span>
                       </td>
                    </tr>
                </tbody>
            </table>



            <div style="margin: 0 auto; width: 740px;">
                <table class="correlation-caption-table" ng-if="correlationCaption1.length > 0">
                    <thead>
                        <tr>
                            <!--<th><span tooltip="Favoritos">Fav.</span></th> -->
                            <th>{{'TOOLS.code'|translate}}</td>
                            <th>{{'TOOLS.name'|translate}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in correlationCaption1 track by $index">
                            <!--<td>
                                <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(row.id);"
                                      ng-class="{'favourite-added': row.favorite == true}"></div>
                            </td> -->
                            <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">{{row.code}}</td>
                            <td>{{row.name | limitTo: 35}}</td>
                        </tr>
                    </tbody>
                </table>

                <table class="correlation-caption-table" style="margin-left: 75px;" ng-if="correlationCaption2.length > 0">
                    <thead>
                    <tr>
                        <!--<th><span tooltip="Favoritos">Fav.</span></th> -->
                        <th>{{'TOOLS.code'|translate}}</td>
                       <!-- <th>{{'TOOLS.symbol'|translate}}</td>-->
                        <th>{{'TOOLS.name'|translate}}</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="row in correlationCaption2 track by $index">
                            <!--<td>
                                <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(row.id);"
                                     ng-class="{'favourite-added': row.favorite == true}"></div>
                            </td> -->
                            <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">{{row.code}}</td>
                           <!-- <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">{{row.symbol}}</td>-->
                            <td>{{row.name | limitTo: 35}}</td>
                        </tr>
                    </tbody>
                </table>


                <!--PAIRS-->

                <table class="table-correlation-result" ng-if="filterOptions.filters.active_tab == 1 && pairCorrelationData.length > 2 || (filterOptions.filters.active_tab == 2 && filterOptions.filters.index_type == 1) && pairCorrelationData.length > 2">
                    <thead>
                    <tr>
                        <th colspan="{{pairCorrelationData.length}}"><span style="float:left;">{{'TOOLS.correlation_pair_result_header'|translate}} </span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in pairCorrelationData track by $index">
                        <td  ng-repeat="column in row track by $index" ng-class="{'high-correlation': (column.value >= 88 || column.value <=-88)}">
                            <span  ng-if="column.name == ''">{{column.value}}</span>
                            <div ng-if="column.name != '' && column.type == 'firstRow'"><!--first row-->
                                <span tooltip-html-unsafe="{{column.name}}"   class="cursor-help buy-color">{{column.value}}</span><br>
                                <span>/</span><span tooltip-html-unsafe="{{column.name}}"   class="cursor-help sell-color">{{column.value2}}</span>
                            </div>
                            <div ng-if="column.name != '' && column.type == 'empty'"><!--first column-->
                                <span tooltip-html-unsafe="{{column.name}}"   class="cursor-help buy-color ">{{column.value}}</span>
                                <span>/</span>
                                <span tooltip-html-unsafe="{{column.name}}"   class="cursor-help sell-color ">{{column.value2}}</span>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>


                <!--caption pair-->

                <table class="correlation-caption-table" ng-if="correlationPairCaption1.length > 0">
                    <thead>
                    <tr>
                        <!--<th><span tooltip="Favoritos">Fav.</span></th> -->
                        <th>{{'TOOLS.code'|translate}}</td>
                        <th>{{'TOOLS.name'|translate}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in correlationPairCaption1 track by $index">
                        <!--<td>
                            <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(row.id);"
                                  ng-class="{'favourite-added': row.favorite == true}"></div>
                        </td> -->
                        <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">
                            <span class="buy-color">{{row.code1}}</span>/<span class="sell-color">{{row.code2}}</span>
                        </td>
                        <td>{{row.name | limitTo: 35}}</td>
                    </tr>
                    </tbody>
                </table>

                <table class="correlation-caption-table" style="margin-left: 75px;" ng-if="correlationPairCaption2.length > 0">
                    <thead>
                    <tr>
                        <!--<th><span tooltip="Favoritos">Fav.</span></th> -->
                        <th>{{'TOOLS.code'|translate}}</td>
                        <th>{{'TOOLS.name'|translate}}</td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in correlationPairCaption2 track by $index">
                        <!--<td>
                            <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(row.id);"
                                 ng-class="{'favourite-added': row.favorite == true}"></div>
                        </td> -->
                        <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">
                            <span class="buy-color">{{row.code1}}</span>/<span class="sell-color">{{row.code2}}</span>
                        </td>
                        <!-- <td ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}">{{row.symbol}}</td>-->
                        <td>{{row.name | limitTo: 35}}</td>
                    </tr>
                    </tbody>
                </table>
                <div style="clear:both;"> </div>
                <!--
                <button style="width: 120px;float:right;" class="mo-button" ng-click="clearCorrelationList();">
                    Aceptar
                </button>-->
                <!--<div class="excel-correlation-icon" ng-click="isDisabled || generateCorrelationExcel()"></div>-->
                <div class="pdf-correlation-icon" ng-click="isDisabled || generatePdf();"></div>
                <button style="width: 75px;float:right;margin-bottom: 10px; margin-right: 20px;" class="mo-button" ng-click="clearAll();goToTop();">
                    {{'TOOLS.accept'|translate}}
                </button>
                <div style="clear:both;">
                <div class="copyright">
                    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
                </div>
                </div>

            </div>
        </div>

    </div>
</div>