<div>
    <table>
        <tr>
            <td>
                <input class="border-filters input-filter" ng-change="search();" style="width: 112px;" placeholder="Nombre" ng-delay="2000"
                       ng-model="filterOptions.filters.filterName">
            </td>
            <td>
                <select class="border-filters select-filter-portfolio"
                        data-ng-model="filterOptions.filters.selectMonth"
                        ng-change="goToMonth()"
                        ng-options="item.name for item in filterOptions.months"
                        >
                </select>
            </td>
            <td>
                <select ng-change="selectRegion()" class="border-filters select-filter-portfolio"
                        data-ng-model="filterOptions.filters.selectedRegion"
                        ng-disabled="filterOptions.selectors.regions.length <= 0">
                    <option value="">Región</option>
                    <option ng-repeat="item in filterOptions.selectors.regions" value="{{item.id}}"
                            ng-selected="{{item.id == filterOptions.filters.selectedRegion}}">
                        {{item.description}}
                    </option>
                </select>
            </td>
            <td>
                <select ng-change="selectMarket()" class="border-filters select-filter-portfolio"
                        data-ng-model="filterOptions.filters.selectedMarket"
                        ng-disabled="filterOptions.selectors.markets.length <= 0">
                    <option value="">- Mercado -</option>
                    <option ng-repeat="item in filterOptions.selectors.markets" value="{{item.id}}"
                            ng-selected="{{item.id == filterOptions.filters.selectedMarket}}">
                        {{item.description}}
                    </option>
                </select>
            </td>
            <td>
                <select ng-model="filterOptions.filters.durationInterval" class="select-filter-portfolio-duration" ng-change="search();">
                    <option selected="selected" value="">- Elegir duración -</option>
                    <option value="[*/1]">Hasta 1 mes</option>
                    <option value="[1/3]">De 1 a 3 meses</option>
                    <option value="[3/*]">Mas de 3 meses</option>
                </select>
            </td>
            <td>
                <select ng-change="search()" style="width: 100px;" class="border-filters select-filter-portfolio"
                        data-ng-model="filterOptions.filters.selectedOperation">
                    <option value="">- Operacion -</option>
                    <option ng-repeat="item in filterOptions.selectors.operations" value="{{item.id}}"
                             ><!---->
                        {{item.description}}
                    </option>
                </select>
            </td>
            <td style="text-align: center;">
                <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search();">
                <span class="filter-label-select-portfolio">Favoritos</span>
            </td>
        </tr>
    </table>
</div>