<div>
    <table class="table-filter-lookup">
        <tr>
            <td>
                <input ng-keypress="submitName($event)"  class="border-filters input-filter" style="margin-right: 10px;" placeholder="{{'FOLLOW.name'|translate}}"
                       ng-model="filterOptions.filters.filterName">
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td style="text-align: center; width: 45px;">
                <span class="filter-label-select">{{'FOLLOW.alarms'|translate}}</span><br>
                <input class="checkbox-filters" type="checkbox"
                       ng-change="applyFilters();"
                       ng-model="filterOptions.filters.alarm">
            </td>
        </tr>
    </table>
    <form name="rentForm" class="filters-margin">
        <table>
            <tr>
                <td>

                    <span class="filter-label-select">{{'FOLLOW.last_rent'|translate}}</span><br>
                    <select class="border-filters select-filter small-select-filter"
                            ng-options="item.description|translate for item in filterOptions.selectors.comparators"
                            data-ng-model="filterOptions.filters.selectedRent">
                        <option value="">- {{'FOLLOW.choose'|translate}} -</option>
                    </select>
                    <input name="rentInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-class=" {'warning-input':  (rentForm.rentInput.$error.pattern && (rentForm.rentInput.$dirty))}"
                           ng-pattern="rentPattern" ng-trim="false"
                           data-ng-model="filterOptions.filters.rentInput">

                </td>
                <td>
                    <span class="filter-label-select" style="margin-left: 2px;">{{'FOLLOW.best_rent'|translate}}</span><br>
                    <select class="border-filters select-filter small-select-filter"
                            style="margin-left: 1px;"
                            ng-options="item.description|translate for item in filterOptions.selectors.comparators"
                            data-ng-model="filterOptions.filters.selectedAverage">
                        <option value="">- {{'FOLLOW.choose'|translate}} -</option>
                    </select>
                    <input name="rentAverageInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           ng-class=" {'warning-input':  (rentForm.rentAverageInput.$error.pattern && (rentForm.rentAverageInput.$dirty))}"
                           data-ng-model="filterOptions.filters.rentAverageInput">
                </td>
                <td>
                    <span class="filter-label-select" style="margin-left: 1px;">{{'FOLLOW.worst_rent'|translate}}</span><br>
                    <select class="border-filters select-filter small-select-filter"
                            ng-options="item.description|translate for item in filterOptions.selectors.comparators"
                            data-ng-model="filterOptions.filters.selectedRentDiary">
                        <option value="">- {{'FOLLOW.choose'|translate}} -</option>
                    </select>
                    <input name="rentDiaryInput" class="border-filters input-filter small-input-filter" placeholder="%" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           ng-class=" {'warning-input':  (rentForm.rentDiaryInput.$error.pattern && (rentForm.rentDiaryInput.$dirty))}"
                           data-ng-model="filterOptions.filters.rentDiaryInput">
                </td>
                <td>
                    <span class="filter-label-select">{{'FOLLOW.volatility_long'|translate}} (%)</span><br>
                    <select class="border-filters select-filter small-select-filter"
                            ng-options="item.description|translate for item in filterOptions.selectors.comparators"
                            data-ng-model="filterOptions.filters.selectedVolatility">
                        <option value="">- {{'FOLLOW.choose'|translate}} -</option>
                    </select>
                    <input name="volatilityInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           ng-class=" {'warning-input':  (rentForm.volatilityInput.$error.pattern && (rentForm.volatilityInput.$dirty))}"
                           data-ng-model="filterOptions.filters.volatilityInput">
                </td>
                <td>
                    <span class="filter-label-select">{{'FOLLOW.duration'|translate}} ({{'FOLLOW.days'|translate}})</span><br>
                    <select class="border-filters select-filter small-select-filter"
                            ng-options="item.description|translate for item in filterOptions.selectors.comparators"
                            data-ng-model="filterOptions.filters.selectedDuration">
                        <option value="">- {{'FOLLOW.choose'|translate}} -</option>
                    </select>
                    <input name="durationInput" class="border-filters input-filter small-input-filter" placeholder="{{'FOLLOW.days'|translate}}"
                           ng-pattern="daysPattern" ng-trim="false"
                           ng-class=" {'warning-input':  (rentForm.durationInput.$error.pattern && (rentForm.durationInput.$dirty))}"
                           data-ng-model="filterOptions.filters.durationInput">
                </td>
                <td>
                    <table style="position: relative; left: -15px;">
                        <tr>
                            <td style="text-align: center;"><span class="filter-label-select">{{'FOLLOW.favorites'|translate}}</span><br>
                                <input type="checkbox" ng-change="search();"
                                       ng-model="filterOptions.filters.favourite">
                            </td>

                            <td style="vertical-align: bottom; text-align: center;">
                                <button class="mo-button" ng-click="search()">{{'FOLLOW.search'|translate}}</button>
                            </td>
                        </tr>
                    </table>


                </td>
            </tr>

        </table>
    </form>
</div>