<div class="forget-password-container">
    <span class="black-title-bold super-border float-left">&iquest;Olvid&oacute; su contrase&ntilde;a?</span>
    <div>
        <label>Introduzca e-mail</label><input type="text" ng-model="emailRemember">
        <button class="mo-button float-left" style="margin-top:15px;clear:both;" ng-click="rememberPassword();">Continuar</button>
    </div>
    <div ng-show="mailSent"> Se ha mandado un email al usuario de la cuenta indicada, por favor revise su bandeja de entrada</div>
</div>