<div id="graphicPanel" class="graphic-div-volatility"
     ng-class="{'move-left' :  openGraph , 'move-right' : animateClose }" ng-style="myStyle"
     ng-click="$event.stopPropagation();">
    <button class="btn-close-volatility-graphic" ng-click="hideSelectedGraphicVol();"></button>
    <br/>

    <div ng-if="selectedGraphic.isPair">
        <span class="buy-color">{{selectedGraphic.indiceName}}</span>
        <span>/</span><span class="sell-color">{{selectedGraphic.secondIndiceName}}</span>
    </div>
    <div ng-if="!selectedGraphic.isPair">
        <span ng-class="{'buy-color': selectedGraphic.type == 'BULLISH', 'sell-color': selectedGraphic.type == 'BEARISH'}">{{selectedGraphic.indiceName}}</span>
    </div>
    <br/>
    <img style='width:700px;height:245px;display:inline-block !important;' class="selected-graphic-image"
         src="{{selectedGraphic.url}}"/>
</div>