.body{
  height:100%;
}
.button-scroller-enabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.button-scroller-enabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.rich-datascr-button{
  font-family: "fontpo" !important;
  background-image: none !important;
  background-color: #FF8200 !important;
  border: 0px !important;
  color: #FF8200 !important;
  padding-bottom: 3px;
}

.button-scroller-disabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.rich-datascr-button-dsbld {
  font-family: "fontpo" !important;
  background-color: #C5C6C8 !important;
  color: #FFFFFF !important;
}

.rich-datascr-act {
  font-family: "fontpo" !important;
  border-color: #FF8200 !important;
  background-color: #FF8200 !important;
  color: #FFFFFF !important;
  width: 20px;
}

.rich-datascr-inact {
  font-family: "fontpo" !important;
  border-color: #FF8200 !important;
  color: #6F7072 !important;
  margin-right: 4px;
  padding-right: 4px;
  border-top-width: 2px;
  border-top-style: solid;
  width: 25px;
  cursor: pointer;
  text-align: center;
  padding: 0 9px;
  margin-left: 1px;

  color: #6f7072;
  background-color: #ffffff;
  border: none;
  border-top: 2px solid #ff8200;
  padding: 0 9px;
  margin-left: 1px;
}

.VolatilityHeaderFilter{
  height: 90px;
}

.percent-input{
  position: relative;
  left: 111px;
  height: 20px;
  width: 40px;
}

.favourite-check{
  float: left;
  left: 644px;
  top: -33px;
  position: relative;
}
.favourite-text{
  float: left;
  left: 504px;
  top: -11px;
  position: relative;
  position: relative;
  top: -17px;
  left: 45px;
}


.vol-select{
  float: right;
  position: relative;
  right: -35px;
  top: -33px;


}
.operation-select{
  float: right;
  position: relative;
  right: 5px;
  top: -33px;
}
.market-select{
  float: right;
  position: relative;
  right:474px;
  top: 23px;
}
.volatility-filters{
  float:left;
  margin-left: 60px;
  margin-top: 5px;
}

.month-select{
  float: right;
  position: relative;
  right: 565px;
  top: 44px;
}

.region-select{
  display: inline-block;
  position: relative;
  left: 151px;
  top: -12px;
}

.diaryTableCopyText {
  float: right;
  color: #3D3D3F;
  font-size: 11px;
  margin-bottom: 10px;
}

.move {
  -webkit-transition:all 1s;
  -webkit-transform: translateX(-350px);

}

td{
  padding-left:4px;
}
.move-to-the-right{
  -webkit-transition:all 1s;
  -webkit-transform: translateX(650px);
}

.diaryTablaMailText {
  float: right;
  margin-right: 10px;
}
.tableMenuOpt {
  display:inline-block;
  font-weight: bold;
  background-color: #BBBBBB;
  color:white;
  height:28px;
  text-align: center;
  padding-top: 6px;
  font-size: 12px;
  color: white;
  font-family: "fontpo-bold", "verdana";
  font-size: 12px;
  margin-bottom: 0;
  width:160px;
  margin: 0px;
  position:relative;
  margin-left:-4px;
  border-right: 1px solid #6f7072;

}

.pairs-table-vol{
  position:relative;
  top:0px;
}

.favourite-check-futures{
  float: left;
  left: 283px;
  top: -16px;
  position: relative;
}
.percent-input-futures{
  position: relative;
  left: 0px;
}

.vol-select-futures{
  float: right;
  position: relative;
  right: 142px;
  top: -17px;

}
.operation-select-futures{
  float: right;
  position: relative;
  right: 394px;
  top: -16px;
}
.favourite-check-index{
  float: left;
  left: 538px;
  top: -35px;
  position: relative;
}

.percent-input-index{
  position: relative;
  left: 0px;
}
.volatility-select-index{
  position: relative;
  left: 248px;
  top: -18px;
}
.operation-select-index {
  float: right;
  position: relative;
  right: 310px;
  top: -17px;
}

.vol-selector-futures{
  position: relative;
  top: 1px;
}

.index-select{
  position: relative;
  left: -63px;
}

.percent-input-pairs{
  position: relative;
  left: 0px;
}
.vol-select-pairs{
  float: right;
  position: relative;
  right: 263px;
  top: -33px;
}

.favourite-check-pairs{
  float: left;
  left: 437px;
  top: -33px;
  position: relative;
}
.tableMenuOpt:hover{
  background-color: #FF8200;
}

.selected{
  background-color: #FF8200;
}

.grey {
  background-color: grey;
  left:-4px;
  position:relative;
  text-align: center;
}

.filterSelect{
  display:inline-block;
  position:relative;
  left: -70px;
  top: -2px;
  width: 115px;
  height:20px;
}
.cell1{
  background-color: white;
  text-align: center;
  color:brown;
}
.monthSelector{
  display: inline-block;
  position: relative;
  top: -19px;
  left: 250px;

}
.regionSelector{
  display: inline-block;
  position: relative;
  left: -98px;
  top: -4px;
}

.rich-table-header{
  height: 30px;
  text-align: center;
  margin-left: 10px;
}

.table-container{
  position:relative;;
  top:-300px;
}

.marketSelector{
  display: inline-block;
  position: relative;
  top: -56px;
  left: 165px;
}

.copyRight{
  position: relative;
  top: 701px;
  left: 584px;
  font-family: "fontpo", "verdana" !important;
  font-size: 11px;
  color: #3D3D3F;
}

.inputSelector{
  display: inline-block;
  position: relative;
  top: -70px;
  left: 608px;
}

.favoriteSelector{
  display: inline-block;
  position: relative;
  top: -50px;
  left: 566px;
}

.volatilityContent{
  position:relative;
  left:80px;
}

.pagesNavigation{
  position:relative;
  top:-180px;
  height:10px;
  z-index:-2;
}

.cellA{

  background-color: #eeeeee;
  color:#996600;
  font-size:11px;
  border-right: 1px black;
}
.cellB{
  background-color: white;
  color:#996600;
  font-size:11px;
  border-left: 1px black;
  border-right: 1px black;

}


.blackFont{
  color:black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
  margin-left: 10px;
}

.tableHead{
  text-align: center;
  position: relative;
  left: 20px;
}

.blackFontMarket{
  color:black;
  border-left: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
}
.volatilityCell{
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
  color:#0663D7;
}

.greenFont{
  color: #54BA1E;
  margin: 5px;
  height: 25px;
}

.homeTableMenuOpt1 {
  width: 185px;
}

.homeTableMenuOpt2 {
  position: relative;
  left: 1px;

}

.homeTableMenuOpt3 {
  position: relative;
  left: 2px;
}

.homeTableMenuOpt4 {
  position: relative;
  left: 3px;
}
