
.button-scroller-enabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.button-scroller-enabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.rich-datascr-button{
  font-family: "fontpo" !important;
  background-image: none !important;
  background-color: #FF8200 !important;
  border: 0px !important;
  color: #FF8200 !important;
  padding-bottom: 3px;
}

.button-scroller-disabled {
  color: #FFFFFF !important;
  font-size: 12px !important;
  font-family: "fontpo" !important;
  padding-right: 2px;
  padding-left: 2px;
}

.rich-datascr-button-dsbld {
  font-family: "fontpo" !important;
  background-color: #C5C6C8 !important;
  color: #FFFFFF !important;
}

.rich-datascr-act {
  font-family: "fontpo" !important;
  border-color: #FF8200 !important;
  background-color: #FF8200 !important;
  color: #FFFFFF !important;
  width: 20px;
}

.rich-datascr-inact {
  font-family: "fontpo" !important;
  border-color: #FF8200 !important;
  color: #6F7072 !important;
  margin-right: 4px;
  padding-right: 4px;
  border-top-width: 2px;
  border-top-style: solid;
  width: 25px;
  cursor: pointer;
  text-align: center;

}

.diaryTableCopyText {
  float: right;
  color: #3D3D3F;
  font-size: 11px;
  margin-bottom: 10px;
}

.diaryTablaMailText {
  float: right;
  margin-right: 10px;
}
.tableMenuOpt {
  display:inline-block;
  font-weight: bold;
  background-color: #BBBBBB;
  color:white;
  height:28px;
  text-align: center;
  padding-top: 6px;
  font-size: 12px;
  color: white;
  font-family: "fontpo-bold", "verdana";
  font-size: 12px;
  margin-bottom: 0;
  width:150px;
  margin: 0px;
  position:relative;
  margin-left:-4px;
  border-right: 1px solid #6f7072;
}

.selected{
  background-color: #FF8200;
}

.grey {
  background-color: grey;
  left:-4px;
  position:relative;
  text-align: center;
}

.black {
  background-color: black;

  left:76px;
  top:-315px;
  position:relative;
  color:white;
}

.filterSelect{
  display:inline-block;
  position:relative;
  top:5px;
  left:-53px;
}
.cell1{
  background-color: white;
  text-align: center;
  color:brown;
}
.monthSelector{
  display: inline-block;
  position: relative;
  top: -17px;
  left: 140px;
}
.regionSelector{
  display: inline-block;
  position: relative;
  top: -17px;
  left: 140px;
}

.rich-table-header{
  height: 30px;
  text-align: center;
}

.marketSelector{
  display: inline-block;
  position: relative;
  top: -35px;
  left: 355px;
}

.operationSelector{
  display: inline-block;
  position: relative;
  top: -35px;
  left: 355px;
}

.volatilitySelector{
  display: inline-block;
  position: relative;
  top: -52px;
  left: 540px;
}

.inputSelector{
  display: inline-block;
  position: relative;
  top: -70px;
  left: 608px;
}

.favoriteSelector{
  display: inline-block;
  position: relative;
  top: -50px;
  left: 566px;
}

.volatilityContent{
  position:relative;
  left:80px;
}

.pagesNavigation{

  position:relative;
  top:580px;
}

.cellA{

  background-color: #eeeeee;
  color:#996600;
  font-size:11px;
  border-right: 1px black;
}
.cellB{
  background-color: white;
  color:#996600;
  font-size:11px;
  border-left: 1px black;
  border-right: 1px black;

}


.blackFont{
  color:black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
}

.blackFontMarket{
  color:black;
  border-left: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
}
.volatilityCell{
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  margin: 5px;
  height: 25px;
}

.greenFont{
  color: #54BA1E;
  margin: 5px;
  height: 25px;
}
/*
.homeTableMenuOpt1 {
  width: 185px;
}

.homeTableMenuOpt2 {
  width: 169px;
  top: -30px;
  left: 186px;
  padding-top: 7px;
}

.homeTableMenuOpt3 {
  width: 169px;
  top: -61px;
  left: 357px;
}

.homeTableMenuOpt4 {
  width: 169px;
  top: -92px;
  left: 525px;
}
*/