<div class="super-border private-black-title">Volatilidad</div>
<div class="private-container-text" style="margin:10px">
    <p>
        La Volatilidad de las cotizaciones es un parámetro que se asocia con el riesgo de un activo además de la Liquidez y el Apalancamiento
        . Un correcto dimensionado de operaciones debe tener en cuenta estos tres parámetros de forma conjunta.
        </p>
    <p>Como regla general no Venda a corto valores con poca liquidez y muy volátiles.</p>
    <p>El modo de uso es como sigue:
        <span ng-click="show=!show" ng-hide="show" class="toggle-link show-more">Mostrar Más</span></p>
    <div ng-show="show">
        <ul class="public-list-first-level">
            <li>Observe la volatilidad de los activos pre-seleccionados marcados como Favoritos.</li>
            <li>Recuerde que una Cartera óptima debe estar compuesta por algunos activos de mayor volatilidad.</li>
            <li>Use la marca de Favoritos para incluir o eliminar los activos preferidos.</li>
            <li>Evaluar los datos Fundamentales de las compañías marcadas como preferidas.</li>
        </ul>
        <!--<p><a ng-click="openModalInstance('services/detailed_description/volatility')">Más información.</a></p>-->
            <span ng-click="show=!show" class="toggle-link show-less">Mostrar menos</span>
    </div>
    <div class="volatility-content">
        <tabset>
            <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title | translate}}"
                 active="ctab.active" disabled="tab.disabled">
                <fieldset ng-disabled="loading || loadingFilters">
                <div class="filter-container-volatility"  >
                    <!--filters-->
                    <div ng-include="getTemplateFilter()"></div>
                </div>
                <div selected-graphic-volatility ng-show="inVolatilityView && openGraph" style="position: absolute;"></div>
                <table>
                <div class="loading-div-container">
                    <div ng-include="getTemplateTable()" style="width:800px"></div>
                    <div class="loading-div no-patterns-container loading-volat no-packs-load-volat" ng-show="loading" style="width: 800px;"><img src="assets/img/ajax-loader.gif" class="volat-load"><span>{{'TOOLS.loading_patterns'|translate}}</span></div>
                    <div style="width:800px" class="no-patterns-container" ng-show="myData.length==0 && !loading && appliedFilters">{{'TOOLS.no_patterns_with_condition'|translate}}</div>
                    <div style="width:800px" class="no-patterns-container" ng-show="myData.length==0 && !loading && !appliedFilters">{{'TOOLS.no_patterns_in_month'|translate}}</div>

                </div>
                </table>
                </fieldset>
            </tab>
        </tabset>
    </div>
    </div>

    <div class="pagination-container" ng-show="found > pagingOptions.pageSize" style="margin-top:92px; clear:both; margin-bottom:20px;">
        <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                    items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                    next-text="&gt;"
                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
    </div>
    <div class="copyright">
        Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
    </div>










