<div class="super-border private-black-title">Volatilidad</div>
<div class="private-container-text" style="margin:10px">
    <p>
        La volatilidad de las cotizaciones es un parámetro que se asocia con el riesgo de un Activo. <span ng-click="show=!show" ng-hide="show" class="toggle-link show-more">Mostrar Más</span></p>
    <div ng-show="show">
        <p>
            Hay otras dos fuentes de riesgo, la Liquidez y el Apalancamiento. Un correcto dimensionado de la Cartera debe tener en cuenta los tres parámetros de forma conjunta.
        </p>
        <p>
            Además para tener una Cartera “óptima” debería incluir determinados activos de mayor volatilidad. Y antes de tomar una decisión sobre los valores a invertir recuerde evaluar los Datos Fundamentales.
        </p>
        <p><a ng-click="openModalInstance('services/detailed_description/volatility')">Más información.</a></p>
            <span ng-click="show=!show" class="toggle-link show-less">Mostrar menos</span>
    </div>
    <div class="volatility-content">
        <tabset>
            <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title}}"
                 active="ctab.active" disabled="tab.disabled">
                <div class="filter-container" style="width:775px; height:40px">
                    <!--filters-->
                    <div ng-include="getTemplateFilter()"></div>
                </div>
                <table>
                <div>
                    <div ng-include="getTemplateTable()" style="width:775px"></div>
                </div>
                </table>
            </tab>
        </tabset>
        <div class="copyright">
            Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
        </div>
    </div>
    </div>

    <div class="pagination-container" ng-show="results > 10" style="margin-top:92px; clear:both; margin-bottom:20px;">
        <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                    items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                    next-text="&gt;"
                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
    </div>










