<div class="portfolio-tools-container">

    <table style="width: 450px;float:left;" class="table-correlation">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Mercado</td>
            <td>Op.</td>
            <td>Añadir</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pattern in myData">
            <td ui-sref="detail({patternId:pattern.id})">{{pattern.id}}</td>
            <td ng-class="{'buy-color': pattern.patternType == 'BULLISH', 'sell-color': pattern.patternType == 'BEARISH' }"><div class="name-pattern-container" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}}) {{pattern.asset.expirationYear}}"><span class="cursor-help">{{pattern.asset.longName | limitTo: 25}}</span></div></td>
            <td><span  class="cursor-help" tooltip="{{pattern.asset.exchange.name}}">{{pattern.asset.exchange.symbol}}</span></td>
            <td>
                <span  class="cursor-help" tooltip="COMPRA" ng-if="pattern.patternType == 'BULLISH'" class="cursor-help">C</span>
                <span  class="cursor-help" tooltip="VENTA" ng-if="pattern.patternType == 'BEARISH'" class="cursor-help">V</span>
            </td>
            <td class="correlation-button"><span ng-class="{'disable-arrow': correlationList.length >= 20}" ng-click="addToCorrelationList(pattern.id);">>></span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5">
                <div style="padding-top: 20px;">
                    <div class="loading-div" ng-show="loading"><img src="assets/img/ajax-loader.gif"><span>Cargando, por favor espere...</span></div>
                    <span ng-if="myData.length == 0 && !loading && appliedFilters">NO EXISTEN PATRONES CON ESTAS CONDICIONES</span>
                    <span  ng-show="myData.length==0 && !loading && !appliedFilters">NO EXISTEN PATRONES PARA EL MES SELECCIONADO</span>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div style="float:right;">
        <table style="width: 450px;" class="table-correlation">
            <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Mercado</td>
                <td>Op.</td>
                <td>Fav.</td>
                <td>Quitar</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pattern in correlationList">
                <td ui-sref="detail({patternId:pattern.id})">{{pattern.id}}</td>
                <td ng-class="{'buy-color': pattern.patternType == 'BULLISH', 'sell-color': pattern.patternType == 'BEARISH' }"><div class="name-pattern-container" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}}) {{pattern.asset.expirationYear}}"><span class="cursor-help">{{pattern.asset.longName | limitTo: 25}}</span></div></td>
                <td><span class="cursor-help" tooltip="{{pattern.asset.exchange.name}}">{{pattern.asset.exchange.symbol}}</span></td>
                <td>
                    <span tooltip="COMPRA" ng-if="pattern.patternType == 'BULLISH'" class="cursor-help">C</span>
                    <span tooltip="VENTA" ng-if="pattern.patternType == 'BEARISH'" class="cursor-help">V</span>
                </td>
                <td style="width: 32px;" class="table-cell-patterns border-right-table">
                    <div class="current-favourite cursor-pointer" tooltip-placement="left" tooltip="Marcar Estrategia Favorita" ng-click="toggleFavoriteFromList(pattern.id);"
                         ng-class="{'favourite-added': pattern.favorite == true}"></div>
                </td>
                <td class="correlation-button"><span ng-click="deleteFromCorrelationList(pattern.id);"><<</span></td>
            </tr>
            </tbody>
        </table>
        <div style="width: 450px;float:right;">
            <span class="correlation-note">Incluya entre 5 y 20 Estrategias</span>
        </div>
    </div>
</div>