<div class="portfolio-tools-container">

    <table style="width: 450px;float:left;" class="table-portfolio">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Mercado</td>
            <td>Mes</td>
            <td class="cursor-help"><span tooltip="Operación">Op.</span></td>
            <td>Añadir</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pattern in myData">
            <td ui-sref="detail({patternId:pattern.id})">{{pattern.id}}</td>
            <td ng-class="{'buy-color': pattern.patTyp == 'BULLISH', 'sell-color': pattern.patTyp == 'BEARISH' }">
                <div class="name-pattern-container cursor-help" tooltip="{{pattern.name}} ({{pattern.exchSymbol}})"><span>{{pattern.name | limitTo: 23}}</span></div></td>
            <td><span class="cursor-help" tooltip="{{pattern.exchName}}">{{pattern.exchSymbol}}</span></td>
            <td class="width-month-table-portfolio"> {{pattern.entryDate | date: 'MMM'}}</td>
            <td>
                <span class="cursor-help" tooltip="ALCISTA" ng-if="pattern.patTyp == 'BULLISH'">A</span>
                <span class="cursor-help" tooltip="BAJISTA" ng-if="pattern.patTyp == 'BEARISH'">B</span>
            </td>
            <td class="portfolio-button"><span ng-class="{'disable-arrow': portfolioList.length >= 20}" ng-click="addToPortfolioList(pattern.id);">>></span></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="6">
                <div style="padding-top: 20px;">
                    <div class="loading-div" ng-show="loading"><img src="assets/img/ajax-loader.gif"><span>Cargando, por favor espere...</span></div>
                    <span ng-if="myData.length == 0 && !loading && appliedFilters">NO EXISTEN PATRONES CON ESTAS CONDICIONES</span>
                    <span ng-show="myData.length==0 && !loading && !appliedFilters">NO EXISTEN PATRONES PARA EL MES SELECCIONADO</span>
                </div>
            </td>
        </tr>
        </tfoot>
    </table>
    <div style="float:right;">
        <table style="width: 450px;" class="table-portfolio">
            <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td>Mercado</td>
                <td>Mes</td>
                <td class="cursor-help"><span tooltip="Operación">Op.</span></td>
                <td class="cursor-help"><span tooltip="Favorito">Fav.</span></td>
                <td>Quitar</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pattern in portfolioList">
                <td ui-sref="detail({patternId:pattern.id})">{{pattern.id}}</td>
                <td ng-class="{'buy-color': pattern.patTyp == 'BULLISH', 'sell-color': pattern.patTyp == 'BEARISH' }"><div class="name-pattern-container" tooltip="{{pattern.name}} ({{pattern.exchSymbol}})"><span class="cursor-help">{{pattern.name | limitTo: 25}}</span></div></td>
                <td><span class="cursor-help" tooltip="{{pattern.exchName}}">{{pattern.exchSymbol}}</span></td>
                <td class="width-month-table-portfolio"> {{pattern.entryDate | date: 'MMM'}}</td>
                <td>
                    <span  class="cursor-help" tooltip="ALCISTA" ng-if="pattern.patTyp == 'BULLISH'">A</span>
                    <span  class="cursor-help" tooltip="BAJISTA" ng-if="pattern.patTyp == 'BEARISH'">B</span>
                </td>
                <td style="width: 32px;" class="table-cell-patterns border-right-table">
                    <div class="current-favourite cursor-pointer" tooltip-placement="left" tooltip="Marcar Estrategia Favorita" ng-click="toggleFavoriteFromList(pattern.id);"
                         ng-class="{'favourite-added': pattern.fav == true}"></div>
                </td>
                <td class="portfolio-button"><span ng-click="deleteFromPortfolioList(pattern.id);"><<</span></td>
            </tr>
            </tbody>
        </table>
        <div style="width: 450px;float:right;">
            <span class="portfolio-note">Incluya entre 5 y 20 Estrategias</span>
        </div>
    </div>
</div>