<div ng-repeat="area in commoditiesAreas">
    <table class="the-week-table commodities-table">
        <thead>
        <tr>
            <th colspan="14">
                <span>{{area.name}}</span>. Índices
            </th>
        </tr>
        <tr>
            <th></th>
            <th colspan="2">Semana {{mondayDay}}/{{mondayDay+4}}</th>
            <th></th>
            <th colspan="2">Lu {{mondayDay}}</th>
            <th colspan="2">Ma {{mondayDay+1}}</th>
            <th colspan="2">Mi {{mondayDay+2}}</th>
            <th colspan="2">Ju {{mondayDay+3}}</th>
            <th colspan="2">Vi {{mondayDay+4}}</th>
        </tr>
        </thead>
        <tbody ng-repeat="region in area.regions">
        <tr>
            <td colspan="14">{{region.name}}</td>
        </tr>
        <tr ng-repeat-start="indice in region.indices">
            <td rowspan="2" class="index-name"><span tooltip="{{indice.name}}">{{indice.name}}</span></td>
            <td ng-class="{'positive-percent': indice.global_daily_return >= 0, 'negative-percent': indice.global_daily_return < 0}"><span tooltip="Rentabilidad">{{indice.global_daily_return}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.global_bullish_years}}</span></td>
            <td rowspan="2" class="graphic-image-cell"><img ng-src="assets/img/graphic-image.png" class="graphic-image" ng-click="showSelectedGraphic($event,indice.name, indice.daily_return_graphic)"/></td>
            <td ng-class="{'positive-percent': indice.returns.L >= 0, 'negative-percent': indice.returns.L < 0}"><span tooltip="Rentabilidad">{{indice.returns.L}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.bullish_years.L}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.M >= 0, 'negative-percent': indice.returns.M < 0}"><span tooltip="Rentabilidad">{{indice.returns.M}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.bullish_years.M}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.X >= 0, 'negative-percent': indice.returns.X < 0}"><span tooltip="Rentabilidad">{{indice.returns.X}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.bullish_years.X}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.J >= 0, 'negative-percent': indice.returns.J < 0}"><span tooltip="Rentabilidad">{{indice.returns.J}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.bullish_years.J}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.V >= 0, 'negative-percent': indice.returns.V < 0}"><span tooltip="Rentabilidad">{{indice.returns.V}}%</span></td>
            <td class="bullish-year"><span tooltip="Años alcistas">{{indice.bullish_years.V}}</span></td>
        </tr>
        <tr ng-repeat-end>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.global_bearish_years}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.bearish_years.L}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.bearish_years.M}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.bearish_years.X}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.bearish_years.J}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) >=0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.86 && (indice.global_bullish_years+indice.global_bearish_years) != 0 && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="Años bajistas">{{indice.bearish_years.V}}</span></td>
        </tr>
        </tbody>
    </table>
</div>
<div selected-graphic-panel ng-hide="firstTime"></div>