<div ng-repeat="area in sypSectors">
    <table class="syp-table">
        <thead>
        <tr>
            <th colspan="14">
                <span>{{('WEEK.AREAS.'+area.name) | translate}}</span>. {{'INDICES'|translate}}
            </th>
        </tr>
        <tr>
            <th></th>
            <th colspan="2">{{'WEEK.week'|translate}}<br>{{days[0]}}/{{days[4]}}</th>
            <th></th>
            <th colspan="2">{{'WEEK.DAYS.mo'|translate}}<br>{{days[0]}}</th>
            <th colspan="2">{{'WEEK.DAYS.tu'|translate}}<br>{{days[1]}}</th>
            <th colspan="2">{{'WEEK.DAYS.we'|translate}}<br>{{days[2]}}</th>
            <th colspan="2">{{'WEEK.DAYS.th'|translate}}<br>{{days[3]}}</th>
            <th colspan="2">{{'WEEK.DAYS.fr'|translate}}<br>{{days[4]}}</th>
        </tr>
        </thead>
        <tbody  ng-repeat="sector in area.regions">
        <tr ng-class="{'ngRow-odd-week': !indice.isGrey,'ngRow-even-week': indice.isGrey}">
            <td rowspan="2" class="sector-name"><span tooltip="{{sector.name}}">{{sector.name}}</span></td>
            <td ng-class="{'positive-percent': sector.mainAsset.global_daily_return >= 0, 'week-negative-percent': sector.mainAsset.global_daily_return < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.global_daily_return | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.global_bullish_years | twoDecimals}}</span></td>
            <td rowspan="2" class="graphic-image-cell"><img ng-src="assets/img/graphic-image.png" class="graphic-image" ng-click="showSelectedGraphic($event,sector.name, sector.mainAsset.daily_return_graphic);$event.stopPropagation();"/></td>
            <td ng-class="{'positive-percent': sector.mainAsset.returns.l >= 0, 'week-negative-percent': sector.mainAsset.returns.l < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.returns.l | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.bullish_years.l | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': sector.mainAsset.returns.m >= 0, 'week-negative-percent': sector.mainAsset.returns.m < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.returns.m | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.bullish_years.m | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': sector.mainAsset.returns.x >= 0, 'week-negative-percent': sector.mainAsset.returns.x < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.returns.x | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.bullish_years.x | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': sector.mainAsset.returns.j >= 0, 'week-negative-percent': sector.mainAsset.returns.j < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.returns.j | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.bullish_years.j | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': sector.mainAsset.returns.v >= 0, 'week-negative-percent': sector.mainAsset.returns.v < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{sector.mainAsset.returns.v | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{sector.mainAsset.bullish_years.v | twoDecimals}}</span></td>
        </tr>
        <tr ng-repeat-end ng-class="{'ngRow-odd-week': !indice.isGrey,'ngRow-even-week': indice.isGrey}">
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.global_bearish_years/(sector.mainAsset.global_bullish_years+sector.mainAsset.global_bearish_years)) > 0.85 && (sector.mainAsset.global_bullish_years+sector.mainAsset.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.global_bullish_years/(sector.mainAsset.global_bullish_years+sector.mainAsset.global_bearish_years)) > 0.85 && (sector.mainAsset.global_bullish_years+sector.mainAsset.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.global_bearish_years | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.bearish_years.l/(sector.mainAsset.bullish_years.l+sector.mainAsset.bearish_years.l)) > 0.85 && (sector.mainAsset.bullish_years.l+sector.mainAsset.bearish_years.l) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.bullish_years.l/(sector.mainAsset.bullish_years.l+sector.mainAsset.bearish_years.l)) > 0.85 && (sector.mainAsset.bullish_years.l+sector.mainAsset.bearish_years.l) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.bearish_years.l | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.bearish_years.m/(sector.mainAsset.bullish_years.m+sector.mainAsset.bearish_years.m)) > 0.85 && (sector.mainAsset.bullish_years.m+sector.mainAsset.bearish_years.m) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.bullish_years.m/(sector.mainAsset.bullish_years.m+sector.mainAsset.bearish_years.m)) > 0.85 && (sector.mainAsset.bullish_years.m+sector.mainAsset.bearish_years.m) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.bearish_years.m | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.bearish_years.x/(sector.mainAsset.bullish_years.x+sector.mainAsset.bearish_years.x)) > 0.85  && (sector.mainAsset.bullish_years.x+sector.mainAsset.bearish_years.x) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.bullish_years.x/(sector.mainAsset.bullish_years.x+sector.mainAsset.bearish_years.x)) > 0.85  && (sector.mainAsset.bullish_years.x+sector.mainAsset.bearish_years.x) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.bearish_years.x | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.bearish_years.j/(sector.mainAsset.bullish_years.j+sector.mainAsset.bearish_years.j)) > 0.85 && (sector.mainAsset.bullish_years.j+sector.mainAsset.bearish_years.j) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.bullish_years.j/(sector.mainAsset.bullish_years.j+sector.mainAsset.bearish_years.j)) > 0.85 && (sector.mainAsset.bullish_years.j+sector.mainAsset.bearish_years.j) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.bearish_years.j | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(sector.mainAsset.bearish_years.v/(sector.mainAsset.bullish_years.v+sector.mainAsset.bearish_years.v)) > 0.85   && (sector.mainAsset.bullish_years.v+sector.mainAsset.bearish_years.v) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(sector.mainAsset.bullish_years.v/(sector.mainAsset.bullish_years.v+sector.mainAsset.bearish_years.v)) > 0.85   && (sector.mainAsset.bullish_years.v+sector.mainAsset.bearish_years.v) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{sector.mainAsset.bearish_years.v | twoDecimals}}</span></td>
        </tr>
        <tr ng-repeat-start="indice in sector.assets" ng-hide="showIndices">
            <td rowspan="2" class="index-name">
                <div class="name-index-container">
                    <span tooltip="{{indice.name}}">{{indice.name}}</span>
                </div>
            </td>
            <td ng-class="{'positive-percent': indice.global_daily_return >= 0, 'week-negative-percent': indice.global_daily_return < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.global_daily_return | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.global_bullish_years | twoDecimals}}</span></td>
            <td rowspan="2" class="graphic-image-cell"><img ng-src="assets/img/graphic-image.png" class="graphic-image" ng-click="showSelectedGraphic($event,indice.name, indice.daily_return_graphic);$event.stopPropagation();"/></td>
            <td ng-class="{'positive-percent': indice.returns.l >= 0, 'week-negative-percent': indice.returns.l < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.returns.l | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.bullish_years.l | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.m >= 0, 'week-negative-percent': indice.returns.m < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.returns.m | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.bullish_years.m | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.x >= 0, 'week-negative-percent': indice.returns.x < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.returns.x | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.bullish_years.x | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.j >= 0, 'week-negative-percent': indice.returns.j < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.returns.j | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.bullish_years.j | twoDecimals}}</span></td>
            <td ng-class="{'positive-percent': indice.returns.v >= 0, 'week-negative-percent': indice.returns.v < 0}"><span tooltip="{{'WEEK.performance'|translate}}">{{indice.returns.v | twoDecimals}}%</span></td>
            <td class="bullish-year"><span tooltip="{{'WEEK.bullish_years'|translate}}">{{indice.bullish_years.v | twoDecimals}}</span></td>
        </tr>
        <tr ng-repeat-end ng-hide="showIndices">
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.global_bearish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.85  && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.global_bullish_years/(indice.global_bullish_years+indice.global_bearish_years)) > 0.85  && (indice.global_bullish_years+indice.global_bearish_years) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.global_bearish_years | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.bearish_years.l/(indice.bullish_years.l+indice.bearish_years.l)) > 0.85   && (indice.bullish_years.l+indice.bearish_years.l) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.bullish_years.l/(indice.bullish_years.l+indice.bearish_years.l)) > 0.85   && (indice.bullish_years.l+indice.bearish_years.l) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.bearish_years.l | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.bearish_years.m/(indice.bullish_years.m+indice.bearish_years.m)) > 0.85   && (indice.bullish_years.m+indice.bearish_years.m) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.bullish_years.m/(indice.bullish_years.m+indice.bearish_years.m)) > 0.85   && (indice.bullish_years.m+indice.bearish_years.m) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.bearish_years.m | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.bearish_years.x/(indice.bullish_years.x+indice.bearish_years.x)) > 0.85   && (indice.bullish_years.x+indice.bearish_years.x) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.bullish_years.x/(indice.bullish_years.x+indice.bearish_years.x)) > 0.85  && (indice.bullish_years.x+indice.bearish_years.x) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.bearish_years.x | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.bearish_years.j/(indice.bullish_years.j+indice.bearish_years.j)) > 0.85 && (indice.bullish_years.j+indice.bearish_years.j) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.bullish_years.j/(indice.bullish_years.j+indice.bearish_years.j)) > 0.85 && (indice.bullish_years.j+indice.bearish_years.j) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.bearish_years.j | twoDecimals}}</span></td>
            <td class="predominance-cell">
                <img ng-src="assets/img/bear.png" ng-show="(indice.bearish_years.v/(indice.bullish_years.v+indice.bearish_years.v)) > 0.85 && (indice.bullish_years.v+indice.bearish_years.v) > 10" class="predominance-image"/>
                <img ng-src="assets/img/bull.png" ng-show="(indice.bullish_years.v/(indice.bullish_years.v+indice.bearish_years.v)) > 0.85 &&  (indice.bullish_years.v+indice.bearish_years.v) > 10" class="predominance-image"/>
            </td>
            <td class="bearish-year"><span tooltip="{{'WEEK.bearish_years'|translate}}">{{indice.bearish_years.v | twoDecimals}}</span></td>
        </tr>
        <tr>
            <td class="show-more-row">
                <div class="toggle-tables-link show-more" ng-click="showIndices=!showIndices" ng-show="showIndices">{{'WEEK.show_industries' | translate}}</div>
                <div class="toggle-tables-link show-less" ng-click="showIndices=!showIndices" ng-hide="showIndices">{{'WEEK.hide_industries' | translate}}</div>
            </td>
            <td colspan="13" class="show-more-row"></td>
        </tr>
        </tbody>

    </table>
</div>