<div>
    <table>
        <tr>
            <td>
                <input class="border-filters input-filter" ng-change="search();" style="width: 112px;" placeholder="{{'TOOLS.name'|translate}}" ng-delay="2000"
                       ng-model="filterOptions.filters.filterName">
            </td>
            <td>
                <select class="border-filters select-filter-correlation"
                        data-ng-model="filterOptions.filters.selectMonth"
                        ng-change="goToMonth()"
                        ng-options="(item.month | translate | uppercase ) +' '+item.year for item in filterOptions.months"
                        >
                </select>
            </td>
            <td>
                <select ng-if="!loadingFilters" ng-change="selectMarket()" class="border-filters select-filter-correlation"
                        data-ng-model="filterOptions.filters.selectedMarket" ng-disabled="filterOptions.selectors.markets.length <= 0">
                    <option value="">- {{'TOOLS.market'|translate}} -</option>
                    <option ng-repeat="item in filterOptions.selectors.markets | orderBy:['description']" value="{{item.id}}"
                            ng-selected="{{item.id == filterOptions.filters.selectedMarket}}">
                        {{item.description}}
                    </option>
                </select>
                <select class="border-filters select-filter-correlation" ng-if="loadingFilters" >
                    <option value="">- {{ 'LOADING'|translate}} -</option>
                </select>
            </td>
            <td>
                <select ng-change="search()" style="width: 100px;" class="border-filters select-filter-correlation"
                        ng-options="item.description | translate for item in filterOptions.selectors.operations"
                        data-ng-model="filterOptions.filters.selectedOperation">
                    <option value="">- {{'TOOLS.operation'|translate}} -</option>
                </select>
            </td>
            <td style="text-align: center;">
                <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search();">
                <span class="filter-label-select-correlation">{{'TOOLS.favorites'|translate}}</span>
            </td>
        </tr>
    </table>
</div>