<div>
    <table>
        <tr>
            <td>
                <input class="border-filters input-filter" ng-change="search();" style="width: 112px;" placeholder="{{'TOOLS.name'|translate}}" ng-delay="2000"
                       ng-model="filterOptions.filters.filterName">
            </td>
            <td>
                <select class="border-filters select-filter-correlation"
                        data-ng-model="filterOptions.filters.selectMonth"
                        ng-change="goToMonth()"
                        ng-options="(item.month | translate | uppercase ) +' '+item.year for item in filterOptions.months"
                        >
                </select>
            </td>
            <td>
                <select ng-disabled="correlationList.length > 0 || filterOptions.selectors.regions.length <= 0" ng-change="selectRegion()" class="border-filters select-filter-correlation"
                        data-ng-model="filterOptions.filters.selectedRegion">
                    <option value="">{{'TOOLS.region'|translate}}</option>
                    <option ng-repeat="item in filterOptions.selectors.regions | orderBy:['description']" value="{{item.id}}"
                            ng-selected="{{item.id == filterOptions.filters.selectedRegion}}">
                        {{('REGIONS.' + item.id) | translate}}
                    </option>
                </select>
            </td>
            <td style="text-align: center;">
                <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search();">
                <span class="filter-label-select-correlation">{{'TOOLS.favorites'|translate}}</span>
            </td>
        </tr>
    </table>
</div>