/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */
/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */
@import '../../vendor/bootstrap/less/bootstrap.less';
/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */
@import 'variables.less';

/**
 * Typography
 */

@font-face {
  font-family: "fontpo";
  src: url("../assets/fonts/verdana.ttf") format("truetype");
}

@font-face {
  font-family: "fontpo-bold";
  src: url("../assets/fonts/verdanab.ttf") format("truetype");
}


a{
  &:hover{
    text-decoration: none;
  }
}

body{
  color:#000;
  font-family: 'fontpo';
  font-size: 12px;
}

/***************/
.black-title-bold{
  font-size: 14px;
  font-family: verdana;
  margin-bottom: 20px;
  font-weight: bold;
  height: 20px;
  margin-top: 20px;
}

.central-header {
  height: 103px;
  margin-left: 35px;
  float: left;
  width: 445px;
}
.header-img {
  background: url('../assets/img/cabecera_cc.png');
}

.header-size{
  background-size: 520px 208px;
}

.logo-header {
  height: 60px;
  width: 180px;
  float: left;
  margin-top: 16px;
  background-position: 14px 275px;
}

.menu {
  z-index: 7;
  position: relative;
}
.black-head {
  background-color: #1A171B;
}

.mo-header{
  width: 960px;
  height: 103px;
  margin: 0 auto;
}

.nav-li {
  font-size: 11px;
  height: 24px;
  color: #FF8200;
  text-align: center;
  position:relative;
  a {
    top: 3px;
    position: relative;
    text-decoration: none;
    color:inherit;
  }
}

.menu-full{
  height:48px;
}

.menu-nav {
  height: 24px;
  background-color: #3D3D3F;
  z-index: 10;
  position: relative;
}

.menu-widget-right {
  float: right;
  padding-left: 50px;
  margin-top: 5px;
}

.nav-cont {
  width: 961px;
  height: 24px;
  margin: 0 auto;
  ul{
    li {
      list-style-type: none;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.font-verdana-bold {
  font-family: "fontpo-bold", "verdana";
  font-weight: bold;
}

.submenu-nav {
  height: 24px;
  background-color: white;
}

.first-item-menu{
  width: 161px;
}

.second-item-menu{
  width: 95px;
}

.third-item-menu{
  width: 189px;
}

.fourth-item-menu{
  width: 189px;
}

.fifth-item-menu{
  width: 198px;
}

.sixth-item-menu{
  width: 95px;
}
.display-none{
  display:none;
}

.display-block{
  display:block;
}

.submenu{
  li {
    padding: 1px 0 10px 0;
    color: #6F7072;
      a{
        padding: 5px 20px 6px 20px;
        cursor: pointer;
        margin-right: 10px;
        color: inherit;
        font-size: 11px;
        border-bottom: 1px solid #CECECE;
      }
    .item-nav-hover {
      background-color: #FF8200;
      color: #FFF;
      text-decoration: none;
    }
  }
}
.item-nav-hover {
  background-color: #FF8200;
  color: #FFF;
  text-decoration: none;
}



.float-right{
  float:right;
}



.menu-not-logged, .sub-menu-public{
  ul{
    padding-left:8px;
    margin-bottom: 0;
  }
}

.container{
  max-width: @screen-md-max !important
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
    padding-left: 0;
  }
}
/****** Disable responsiveness  (TODO: change width for each media and remove !important keyword) *****/
@media (min-width: 992px) {
  .container {
    width: 970px !important;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .container {
    width: 970px !important;
    padding-left: 0;
  }
}

@media (min-width: 200px) {
  .container {
    width: 970px !important;
    padding-left: 0;
  }
}
/*****  end disable responsiveness  ****/

.navbar{
  min-height: 0;
  margin-bottom: 0;
  border:none;
  border-radius: 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }


.orange-title{
  font-size: 12px ;
  font-weight: bold;
  font-style: normal;
  line-height: 120%;
  color: @orangeColor;
  margin-bottom: 1.5em;
  margin-top: 1em;
  float: left;
  width: 100%;
}

.public-zone-text p {
  text-align: justify;
  margin-bottom: 1em;
  font-size: 12px;
  font-style: normal;
  line-height: 130%;
  clear: left;
}

a{
  color: @linkColor;
  text-decoration: none;
  cursor:pointer;
  &:hover{
    color: @linkColor;
    text-decoration: underline;
  }
}
.public-list-first-level{
  li{
    list-style-image: url('../assets/img/public-list-li.png');
    margin-bottom: 0.5em;
    padding-left: 1px;
    clear: left;
  }
}

.tooltip-inner{
  background-color: rgb(255, 243, 192);
  font-size: 12px;
  line-height: 1.2em;
  text-align: left;
  color:#000000;
  padding: 3px 20px;
  max-width: none;
  opacity: 1;
  border:1px solid #E5973E;
  border-radius: 0;

}

.in {
  opacity: 1 !important;
}

.top {
  left: auto !important;
}

.tooltip-arrow {
  margin-left: 50px;
  border-top: none;
}

.element-with-tooltip{
  border-bottom: 1px dashed #999;
  cursor: help;
  font-weight: bold;
}

.menu-not-logged, .sub-menu-public{
  ul{
    padding-left:8px;
    margin-bottom: 0;
  }
}

.container{
  max-width: @screen-md-max
}

.navbar{
  min-height: 0;
  margin-bottom: 0;
  border:none;
  border-radius: 0;
}

/**
Flags styles
*/

.flag {
  width: 20px;
  height: 13px;
  padding: 0;
  margin-left: 1px;
  background-repeat: no-repeat;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}
.flag-cn {
  background-position: -448px 0;
}
.flag-de {
  background-position: -448px -60px;
}
.flag-es {
  background-position: -448px -30px;
}
.flag-fr {
  background-position: -448px -45px;
}
.flag-gb {
  background-position: -448px -15px
}
.flag-jp {
  background-position: -448px -90px;
}


.flag-menu {
  display: inline-block;
  list-style: none;
  padding: 0;
}

/******************    end flags selector ***************/

.signin-signup-box{
  font-family: Verdana;
  border: 1px solid @greyBorderColor;
  font-size: 11px;
  //width: 180px; replace with padding
  //height: 45px;
  color: white;
  padding: 10px 0 0 13px;
  background: rgb(0,0,0); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(84,84,86,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(84,84,86,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(84,84,86,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(84,84,86,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(84,84,86,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(84,84,86,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#545456',GradientType=0 ); /* IE6-9 */
  a{
    color:white;
    &:hover{
      text-decoration: none;
    }
  }

  .sign-background{
    background: url('../assets/img/sign-icons.png');
  }

  .sign-in{
    background: no-repeat scroll 0 -15px transparent;
    float: left;
    height: 14px;
    margin-bottom: 6px;
    text-decoration: none;
    text-indent: 25px;
    font-weight: 100;
    cursor: pointer;
    margin-top: 2px;
  }

  .sign-up{
    background: no-repeat scroll 0 -30px transparent;
    float: left;
    height: 14px;
    margin-bottom: 6px;
    text-decoration: none;
    text-indent: 25px;
    font-weight: 100;
    cursor: pointer;
    margin-top: 2px;
  }
}

/******** footer classes *******/
.footer-top {
  background-color: @orangeColor;
  color:#fff;
  font-size: 11px;
  text-align: right;
  padding: 12px 0;
}

.footer-body {
  padding:10px 0 24px 0;
  background-color: #3d3d3f;
  color: #fff;
  font-size: 10px;
  .footer-title-text{
    font-family: "fontpo-bold";
  }
  a{
    color: #fff;
    font-size: 10px;
  }
}

.footer-bottom {
  background-color: #b0b2b3;
  color: #3d3d3f;
  font-size: 11px;
  padding: 13px 0;
  a{
    color: #3d3d3f;
    &:hover{
      text-decoration: none;
    }
  }
}

.url-footer-container {
  float: left;
  line-height: 1.7;
  a{
    margin-left: 15px;
  }
}
.first-footer-container{
  width:180px;
  margin-left: 13px;
}
.second-footer-container{
  width:137px;
}
.third-footer-container{
  width:160px;
}
.fourth-footer-container{
  width:170px;
}
.fifth-footer-container{
  width:170px;
}
.sixth-footer-container{
  width:125px;
}

.footer-bottom-text{
  float: right;
  &:last-child{
    margin-right: 5px;
  }
}

/********** end footer classes  ****/

/********* Tabs classes  ****/
.nav-tabs{
  border:none;
}

.nav > li > a{
  padding:6px 15px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
  background-color: @orangeColor;
  border-radius: 0;
  color: #fff;
  font-family: "fontpo-bold", "verdana";
  font-size: 12px;
  font-weight: bold;
  border: none;
  z-index: 10;
}

.nav-tabs > li{
  color: #fff;
  font-family: "fontpo-bold", "verdana";
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  &:last-child{
    a {
      -webkit-box-shadow: inset -2px -1px 6px -4px rgba(50, 50, 50, 0.5);
      -moz-box-shadow: inset -2px -1px 6px -4px rgba(50, 50, 50, 0.5);
      box-shadow: inset -2px -1px 6px -4px rgba(50, 50, 50, 0.5);
      border-right: 0;
    }
  }
  a{
    margin-right: 0;
    background-color: @lightGrey;
    border-radius: 0;
    border: none;
    border-right: 1px solid #6D6E70;
    color: #fff;
    padding: 6px 64px 5px 64px;
    text-align: center;
    -webkit-box-shadow: inset -2px -1px 6px -1px rgba(50, 50, 50, 0.5);
    -moz-box-shadow: inset -2px -1px 6px -1px rgba(50, 50, 50, 0.5);
    box-shadow: inset -2px -1px 6px -1px rgba(50, 50, 50, 0.5);
    &:hover{
      background-color: @orangeColor;
      border-right: 1px solid #6D6E70;
    }
  }
}

table{
  border-spacing: 0;
}

.tables-pack-home {
  font-family: "fontpo-bold", "verdana";
  font-size: 11px;
  color: #ffffff;
  margin-bottom: 9px;
}

.area-cell{
  color: #ffffff;
  background-color: @orangeColor;
  border-top: 1px solid @orangeColor;
  text-align: center;
  font-weight: bold;
}

.area-cell-several-lines{
  line-height: 25px;
}

.table-pack {
  border: 1px solid silver;
  font-size: 10px;
  color: #ffffff;
  font-family: fontpo;
  tbody {
    tr {
      cursor: pointer;
      &:nth-child(odd) {
        background-color: #ECECED;
        border: 1px solid silver ;
      }
      &:nth-child(even) {
        background-color: #ffffff;
        border: 1px solid silver;
      }
      td{
        border-right: 1px solid silver;
        padding: 3px 4px 3px 4px;
        &:nth-child(1){
          color: #0663D7;
          width: 198px;
        }
        &:nth-child(2){
          color: #000000;
          width: 492px;
        }
        &:nth-child(3){
          color: #000000;
          width: 138px;
          text-align: center;
        }
      }
    }
  }
}

.subtotal-cart{
  td{
    background-color: #C0C0C0;
    color: #000000;
    border:none !important;
    &:nth-child(3){
      border: none;
      font-weight: bold;
    }
  }
}

.separator{
  height: 8px;
}

.header-table-pack{
  font-weight: bold;
  font-size: 11px;
  background-color: #000000;
  height:40px;
  td{
    padding-left: 20px;
  }
}
.subheader-table-pack{
  font-weight: bold;
  font-size: 11px;
  background-color: @greyColor;
  height:24px;
  td{
    text-align: center;
    border-right: 1px solid silver;
    &:nth-child(1) {
      width: 130px;
    }
    &:nth-child(3) {
      width: 492px;
    }
    &:nth-child(4) {
      width: 140px;
      border-right: 0;
    }
  }
}

/******** end Tabs Classes ****/

/******* cart classes  ******/
.shopping-cart-container{
  display: block;
  position: fixed;
  top: 160px;
  z-index: 99;
  right: 0;
  width: 502px;
}

.shopping-cart-summary {
  float: right;
  background-color: @greyColor;
  -webkit-box-shadow: -2px 2px 5px 0 #868686;
  -moz-box-shadow: -2px 2px 5px 0 #868686;
  box-shadow: -2px 2px 5px 0 #868686;
  overflow-y: auto;
  max-height: 428px;
  text-align: center;
  padding: 5px 10px;
}

.hide-summary-cart{
  animation: hide-cart 0.5s;
  -webkit-animation: hide-cart 0.5s;
  -moz-animation: hide-cart 0.5s;
  -o-animation: hide-cart 0.5s;
  margin-right: -460px;
}

@keyframes hide-cart{
  from {margin-right: 0;}
  to {margin-right: -460px;}
}

@-webkit-keyframes hide-cart{
  from {margin-right: 0;}
  to {margin-right: -460px;}
}

.show-summary-cart{
  animation:cart 0.5s;
  -webkit-animation:cart 0.5s;
  -moz-animation: cart 0.5s;
  -o-animation: cart 0.5s;

}

@keyframes cart{
  from {margin-right:-460px;}
  to {margin-right: 0;}
}

@-webkit-keyframes cart{
  from {margin-right:-460px;}
  to {margin-right: 0;}
}

.shopping-cart-tab {
  font-family: "fontpo-bold";
  font-size: 14px;
  text-align: center;
  position: relative;
  float: right;
  background-color: @greyColor;
  padding: 8px 0 2px 0;
  -webkit-box-shadow: -2px 2px 5px 0 #868686;
  -moz-box-shadow: -2px 2px 5px 0 #868686;
  box-shadow: -2px 2px 5px 0 #868686;
  cursor: pointer;
}

.icon-cart {
  color: @orangeColor;
  text-align: center;
  vertical-align: middle;
  background-image: url('../assets/img/cart1.png');
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0 8px 10px 13px;
  div{
    width: 20px;
    text-align: center;
  }
}

.title-cart{
  font-family:Verdana;
  font-size:17px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-summary-table{
  font-size: 10px;
  margin: 5px  0 5px 10px;
  tr{
    text-align: center;
    &:nth-child(even) {
      background-color: @smokeGrey;
    }
    &:nth-child(odd) {
      background-color: #ffffff;
    }
    th{
      background: @orangeColor;
      color: white;
      text-align: center;
    }
    td{
      padding:  2px 0;
      text-align: center;
      border-right: 1px solid @greyColor;
      &:nth-child(1){
        width: 162px;
      }
      &:nth-child(2){
        width: 72px;
      }
      &:nth-child(3){
        width: 84px;
      }
      &:nth-child(4){
        width: 73px;
      }
      &:nth-child(5){
        width: 40px;
      }
    }
  }
}

.delete-item-cart-button {
  background-image: url('../assets/img/removeicon.png');
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  border: none;
  cursor: pointer;
  margin-left: 12px;
}

.total-cart{
  color: #FFFFFF;
  background-color: #000000;
  border: 1px solid #FFFFFF;
  text-align: center;
  float: right;
  padding: 9px 32px;
  margin: 20px 10px;
}

.mo-button {
  font-size: 11px;
  font-family: "fontpo-bold";
  padding: 4px 8px 4px 8px;
  width: auto;
  background: #FF8200;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #FFCC80),
    color-stop(1, #FF8400)
  );
  background-image: -o-linear-gradient(bottom, #FFCC80 0%, #FF8400 100%);
  background-image: -moz-linear-gradient(bottom, #FFCC80 0%, #FF8400 100%);
  background-image: -webkit-linear-gradient(bottom, #FFCC80 0%, #FF8400 100%);
  background-image: -ms-linear-gradient(bottom, #FFCC80 0%, #FF8400 100%);
  background-image: linear-gradient(to bottom, #FFCC80 0%, #FF8400 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FFCC80', endColorstr='#FF8200');
  text-decoration: none;
  text-align: center;
  color: darkblue;
  border: 1px solid #9C9C9C;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}

.mo-cancel-button{
  font-size: 11px;
  font-family: "fontpo-bold";
  padding: 4px 8px 4px 8px;
  width: auto;
  background: #dddbbc;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0, #F6F5E5),
    color-stop(1, #DDDBBC)
  );
  background-image: -o-linear-gradient(bottom, #F6F5E5 0%, #DDDBBC 100%);
  background-image: -moz-linear-gradient(bottom, #F6F5E5 0%, #DDDBBC 100%);
  background-image: -webkit-linear-gradient(bottom, #F6F5E5 0%, #DDDBBC 100%);
  background-image: -ms-linear-gradient(bottom, #F6F5E5 0%, #DDDBBC 100%);
  background-image: linear-gradient(to bottom, #F6F5E5 0%, #DDDBBC 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f6f5e5', endColorstr='#dddbbc');
  text-decoration: none;
  text-align: center;
  color: darkblue;
  border: 1px solid #9C9C9C;
  text-shadow: 0 0 0 rgba(0,0,0,0.4);
  -webkit-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0 .05em rgba(0,0,0,0.4);
  box-shadow: 0 0 .05em rgba(0,0,0,0.4);
}

.buttons-cart-container{
  clear: both;
  float:right;
}

/******* end cart classes  ******/
.state-sphere {
  background-image: url('../assets/img/spheres.png');
  background-size: 15px 50px;
  margin: auto;
  height: 15px;
  width: 15px;
}

.no-started-state {
  background-position: 0 -17px;
}
.started-state {
  background-position: 0 34px;
}
.finished-state {
  background-position: 0 16px;
}

.pagination-container {
  text-align: center;
  padding: 0 8px;
  font-size: 11px;
  .pagination {
    margin: 0;
    li {
      &:nth-last-child(1), &:nth-last-child(2) {
        a{
          background-color: @orangeColor;
          color: #ffffff;
          border-radius: 0;
          padding: 0 9px;
          border: none;
        }
      }
      &:nth-child(1), &:nth-child(2) {
        a{
          background-color: @orangeColor;
          color: #ffffff;
          border-radius: 0;
          padding: 0 9px;
          border: none;
        }
      }
      a {
        color: #6F7072;
        background-color: #ffffff;
        border: none;
        border-top: 2px solid @orangeColor;
        padding: 0 9px;
        margin-left: 1px;
      }
      &.active {
        a {
          border-top: 2px solid @orangeColor;
          background-color: @orangeColor;
          color: #ffffff;
          border: none;
          font-size: 12px;
        }
      }
    }
  }
  .disabled {
    &:first-child, &:last-child{
      visibility: hidden;
    }
    a{
      border-top: 2px solid #C5C6C8;
      background-color: #C5C6C8 !important;
    }
  }
}


/** temrs and conditions, probably used in various pages**/

.terms-title {
  font-size: 18px;
  margin-bottom: 20px;
  clear: both;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using.
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/sign_up/sign-up.less';

