/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@linkColor: #0663D7;
@darkBlue: #083380;
@orangeColor: #FF8200;
@darkOrange: #ff6f00;
@greyBorderColor: #868789;
@greyLabel: #6F7072;
@greyColor: #9B9C9E;
@lightGrey: #B1B3B4;
@greyPaginator: #C5C6C8;
@mediumGrey: #888;
@greyBackground: #f2f2f2;
@darkGreyBackground: #bfbfbf;
@smokeGrey: #ECECED;
@darkRed: #C30;
@pinkWarning: #ffc0cb;
@black: #000;
@white: #ffffff;
@red: #FF0000;

/*gradients*/
@lightGreyGradient: #F6F5E5;
@darkGreyGradient: #DDDBBC;



