/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */
@skyBlue: #BED6F8;
@linkColor: #0663D7;
@darkLink: #003399;
@darkBlue: #083380;
@orangeColor: #FF8200;
@darkOrange: #ff6f00;
@lightOrange: #fcb565;
@lightOrangeGradient: #ffcb9b;
@greyLabel: #6F7072;
@greyBorderColor: #868789;
@mediumGrey: #888;
@greyColor: #9B9C9E;
@lightGrey: #B1B3B4;
@greyPaginator: #C5C6C8;
@darkGreyBackground: #bfbfbf;
@silver: #C0C0C0;
@greyOver: #DDDDDD;
@greyInput: #AAA;
@greyBackground: #f2f2f2;
@smokeGrey: #ECECED;
@darkRed: #C30;
@pinkWarning: #ffc0cb;
@black: #000;
@white: #ffffff;
@red: #FF0000;
@lightGreen: #54BA1E;
@lightBrown: #996600;
@darkGrey: #3D3D3F;
@lightYellowOdd: #FEF7CB;
@lightYellowEven: #EFE8BE;
@darkYellow: #D4C785;
@darkGreen: #339933;
@blue: #0000FF;
@greyPair:#666;

/*gradients*/
@lightGreyGradient: #F6F5E5;
@darkGreyGradient: #DDDBBC;



