/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */
@skyBlue: #BED6F8;
@linkColor: #0663D7;
@darkLink: #003399;
@darkBlue: #083380;
@darkBlue2: #0f0ffc;
@orangeColor: #FF8200;
@darkOrange: #ff6f00;
@lightOrange: #fcb565;
@lightOrangeGradient: #ffcb9b;
@greyLabel: #6F7072;
@greyBorderColor: #868789;
@mediumGrey: #888;
@greyColor: #9B9C9E;
@lightGrey: #B1B3B4;
@greyPaginator: #C5C6C8;
@darkGreyBackground: #bfbfbf;
@silver: #C0C0C0;
@greyOver: #DDDDDD;
@greyInput: #AAA;
@greyDisabled: #CBC9C9;
@greyBackground: #f2f2f2;
@smokeGrey: #ECECED;
@darkRed: #C30;
@pinkWarning: #ffc0cb;
@black: #000;
@white: #ffffff;
@red: #FF0000;
@lightGreen: #54BA1E;
@lightBrownDarkBackground: #D2B48C;   /*BE7F00;*/
@lightBrown: #996600;

@darkGrey: #3D3D3F;
@lightYellowOdd: #EFE8BE;
@lightYellowEven: #FEF7CB;
@darkYellow: #D4C785;
@darkGreen: #339933;
@blue: #0000FF;
@greyPair:#666;
@tooltipsDarkBlue: #00008b;
@brown-caption: #993300;
@blue-caption: #0066FF;
@orange-caption: #FF9900;
@header-detail: #272528;
/*Modals*/
@red-background: #f2dede;
@red-border: #ebccd1;
@red-text:#a94442;
@yellow-background: #fcf8e3;
@yellow-border: #faebcc;
@yellow-text: #8a6d3b;
@green-background: #dff0d8;
@green-border: #d6e9c6;
@green-text: #3c763d;

@lightBrownImage: #eeeeda;

/*gradients*/
@lightGreyGradient: #F6F5E5;
@darkGreyGradient: #DDDBBC;



