<table class="tables-my-subscriptions">
    <thead>
    <tr class="header-my-subscriptions-table">
        <td colspan="6">
            <select data-ng-model="filterOptions.filters.selectMonth" ng-options="month.name for month in filterOptions.months" ng-change="goToMonth()">
            </select>
        </td>
    </tr>
    <tr class="subheader-my-subscriptions-table">
        <td></td>
        <td>Grupos</td>
        <td>Mercados</td>
        <td>Seleccionar</td>
        <td>Fecha Inicio</td>
        <td>Tipo</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="area-cell">FUTUROS</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="packF in mySubscriptionsTablePack.futuresContent track by $index"  >
                    <td>{{packF.name}}</td>
                    <td>{{packF.scopeText}}</td>
                    <td><input ng-show="packF.selected" type="checkbox" ng-model="packF.selected" ng-disabled="packF.selected" ng-change="togglePack(packF);">
                        <input ng-show="!packF.selected" type="checkbox" ng-model="packF.toBuy" ng-change="togglePack(packF);"></td>
                    <td>{{packF.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select ng-disabled="pack.selected" ng-model="pack.duration"
                                ng-options="duration.value as duration.text for duration in durations"
                                ng-change="changeDuration(pack)"></select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>