<table class="tables-my-subscriptions">
    <thead>
    <tr class="header-my-subscriptions-table">
        <td colspan="6">
            {{actualDate | date:'MMMM yyyy' | uppercase}}
        </td>
    </tr>
    <tr class="subheader-my-subscriptions-table">
        <td></td>
        <td>Clase</td>
        <td>Alcance</td>
        <td>Seleccionar</td>
        <td>Fecha Inicio</td>
        <td>Tipo</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="area-cell">&Iacute;NDICES</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="pack in mySubscriptionsTablePack.indicesContent track by $index"ui-sref="catalog({packId: pack.id})">
                    <td>{{pack.region}}</td>
                    <td>{{pack.market}}</td>
                    <td><input type="checkbox" ng-model="pack.purchase" ng-disabled="pack.purchased"></td>
                    <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select disabled="true" ng-model="pack.duration">
                            <option value="Mensual">Mensual</option>
                            <option value="Trimestral">Trimestral</option>
                            <option value="Anual">Anual</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell">PAR &Iacute;NDICES</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="pack in mySubscriptionsTablePack.pairsIndicesContent track by $index" ui-sref="catalog({packId: pack.id})">
                    <td>{{pack.region}}</td>
                    <td>{{pack.market}}</td>
                    <td><input type="checkbox" ng-model="pack.purchase" ng-disabled="pack.purchased"></td>
                    <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select disabled="true" ng-model="pack.duration">
                            <option value="Mensual">Mensual</option>
                            <option value="Trimestral">Trimestral</option>
                            <option value="Anual">Anual</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>