<table class="tables-my-subscriptions">
    <thead>
    <tr class="header-my-subscriptions-table">
        <td colspan="6">
            <select data-ng-model="filterOptions.filters.selectMonth" ng-options="month.name for month in filterOptions.months" ng-change="goToMonth()">
            </select>
        </td>
    </tr>
    <tr class="subheader-my-subscriptions-table">
        <td></td>
        <td>Regi&oacute;n</td>
        <td>Mercados</td>
        <td>Seleccionar</td>
        <td>Fecha Inicio</td>
        <td>Tipo</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="area-cell">AM&Eacute;RICA</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="pack in mySubscriptionsTablePack.americaContent track by $index">
                    <td>{{pack.name}}</td>
                    <td>{{pack.scopeText}}</td>
                    <td><input ng-show="pack.selected" type="checkbox" ng-model="pack.selected" ng-disabled="pack.selected" ng-change="togglePack(pack);">
                        <input ng-show="!pack.selected" type="checkbox" ng-model="pack.toBuy" ng-change="togglePack(pack);"></td>
                    <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select ng-disabled="pack.selected" ng-model="pack.duration" ng-options="duration.value as duration.text for duration in durations"></select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines">ASIA<br> PAC&Iacute;FICO</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="pack in mySubscriptionsTablePack.asiaContent track by $index">
                    <td>{{pack.name}}</td>
                    <td>{{pack.scopeText}}</td>
                    <td><input ng-show="pack.selected" type="checkbox" ng-model="pack.selected" ng-disabled="pack.selected" ng-change="togglePack(pack);">
                        <input ng-show="!pack.selected" type="checkbox" ng-model="pack.toBuy" ng-change="togglePack(pack);"></td>
                    <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select ng-disabled="pack.selected" ng-model="pack.duration" ng-options="duration.value as duration.text for duration in durations">
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines">EUROPA<br> &Aacute;FRICA<br> ORIENTE MEDIO</td>
        <td colspan="5">
            <table class="my-subscriptions-table">
                <tbody>
                <tr ng-repeat="pack in mySubscriptionsTablePack.europeContent track by $index " >
                    <td>{{pack.name}}</td>
                    <td>{{pack.scopeText}}</td>
                    <td><input ng-show="pack.selected" type="checkbox" ng-model="pack.selected" ng-disabled="pack.selected" ng-change="togglePack(pack);">
                        <input ng-show="!pack.selected" type="checkbox" ng-model="pack.toBuy" ng-change="togglePack(pack);"></td>
                    <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
                    <td>
                        <select ng-disabled="pack.selected" ng-model="pack.duration" ng-options="duration.value as duration.text for duration in durations">
>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>