<table style="width: 950px;" class="table-pattern">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header" rowspan="2">
            Id
        </th>
        <th class="border-right-table patterns-futures-column-width">
            Operación
        </th>
        <th class="border-right-table" >
            Vencimto.
        </th>
        <th class="border-right-table"
            title="Mercado">
            <span class="cursor-help" tooltip-html-unsafe="Mercado">Merc.</span>
        </th>
        <th class="border-right-table"
            colspan="2" title="Número de Años">

            <span class="cursor-help" tooltip-html-unsafe="Número de Años">Años</span>
        </th>
        <th class="border-right-table"
            colspan="2">
            Fechas
        </th>
        <th class="border-right-table"
            colspan="3">
            Rentabilidad (%)
        </th>
        <th class="border-right-table"
            title="Duración">
            <span class="cursor-help" tooltip-html-unsafe="Duración">Dur.</span>
        </th>
        <th class="border-right-table"
            title="Volatilidad">
            <span class="cursor-help" tooltip-html-unsafe="Volatilidad">Vol.</span>
        </th>
        <th class="border-right-table"
            title="Favorito">
            <span class="cursor-help" tooltip-html-unsafe="Favorito">Fav.</span>
        </th>
        <th class="sub-border-right-table"
            title="Estado">
            <span class="cursor-help" tooltip-html-unsafe="Estado">Est.</span>
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table">
            Producto
        </th>
        <th class="border-right-table">
        </th>
        <th class="border-right-table">
        </th>
        <th class="sub-border-right-table"
            title="Ganancia">
            <span class="cursor-help" tooltip-html-unsafe="Ganancia">Gan.</span>
        </th>
        <th class="border-right-table"
            title="Pérdida">
            <span class="cursor-help" tooltip-html-unsafe="Pérdida">Pér.</span>
        </th>
        <th class="sub-border-right-table">
            Entrada
        </th>
        <th class="border-right-table">
            Salida
        </th>
        <th class="sub-border-right-table"
            title="Acumulada">
            <span class="cursor-help" tooltip-html-unsafe="Acumulada">Acum.</span>
        </th>
        <th class="sub-border-right-table">
            Media
        </th>
        <th class="border-right-table">
            Diaria
        </th>
        <th class="border-right-table">Días
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="border-right-table"></th>
        <th class="sub-border-right-table"></th>
    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>
        <td style="text-align: left; width: 230px;vertical-align: top;" class="table-cell-patterns border-right-table">
            <span ng-if="data.patternType == 'BULLISH'">Comprar</span>
            <span ng-if="data.patternType == 'BEARISH'">Vender</span><br/>
            <span class="cursor-help"
                  tooltip-html-unsafe="{{data.asset.longName}} ({{data.asset.exchange.symbol}}) {{data.asset.expirationYear}}"
                  ng-class="{'buy-color': data.patternType == 'BULLISH', 'sell-color': data.patternType == 'BEARISH'}">
                {{data.asset.longName}}
            </span>
        </td>
        <td style="width: 70px;"
            class="table-cell-patterns border-right-table">
            <!--expiration-->
            <div class="text-limitator">
               {{data.asset.expirationYear}}
                2014
            </div>
        </td>
        <td style="width: 48px;" class="table-cell-patterns border-right-table">
            <span tooltip-html-unsafe="{{data.data.asset.exchange.name}}" class="cursor-help" style="font-family:fontpo-bold;">{{data.asset.exchange.symbol}}</span>
        </td>
        <td style="width: 32px;font-family:fontpo-bold;" class="table-cell-patterns sub-border-right-table">
            <b>{{data.win | twoDecimals}}</b>
        </td>
        <td style="width: 32px;font-family:fontpo-bold;" class="table-cell-patterns border-right-table">
            <b>{{data.loss | twoDecimals}}</b>
        </td>
        <td style="width: 68px;" class="table-cell-patterns sub-border-right-table">
            {{data.entryDate | date: 'dd/MMM/yyyy'}}
        </td>
        <td style="width: 68px;" class="table-cell-patterns border-right-table">
            {{data.exitDate | date: 'dd/MMM/yyyy'}}
        </td>
        <td style="width: 44px;" class="table-cell-patterns sub-border-right-table">
            <b> {{data.accumulatedReturn | twoDecimals}}</b>
        </td>
        <td style="width: 44px;" class="table-cell-patterns sub-border-right-table">
            <b> {{data.averageReturn | twoDecimals}}</b>
        </td>
        <td style="width: 44px;" class="table-cell-patterns border-right-table">
            <b> {{data.dailyReturn | twoDecimals}}</b>
        </td>
        <td style="width: 30px;" class="table-cell-patterns border-right-table">
            <b> {{data.duration | twoDecimals}}</b>
        </td>
        <td style="width: 30px;" class="table-cell-patterns border-right-table">
            <b> {{data.asset.volatility | twoDecimals}}</b>
        </td>
        <td style="width: 32px;" class="table-cell-patterns border-right-table">
            <div class="current-favourite"
                 tooltip-html-unsafe="Marcar Estrategia Favorita"
                 g-class="{'favourite-added': data.Fav == 'true'}"></div>
        </td>
        <td style="width: 30px;" class="table-cell-patterns sub-border-right-table">
           <!-- <div class="state-sphere cursor-help" ng-class="{
           'started-state':data.Est == 'Comenzado',
            'no-started-state': data.Est == 'Sin Comenzar' ,
            'finished-state': data.Est == 'Finalizado'}"
                 tooltip-html-unsafe="{{data.Est}}"
                    ></div>-->
            <div tooltip="Sin Comenzar" class="state-sphere no-started-state" ng-show="data.statePattern == 0"></div>
            <div tooltip="Comenzado" class="state-sphere started-state" ng-show="data.statePattern == 1"></div>
            <div tooltip="Finalizado" class="state-sphere finished-state" ng-show="data.statePattern == 2"></div>
        </td>

    </tr>


</table>