<div class="no-patterns-container" ng-show="myData.length==0">NO EXISTEN PATRONES PARA EL MES SELECCIONADO</div>

<table style="width: 950px;" class="table-pattern"  ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header" rowspan="2">
            Id
        </th>
        <th class="border-right-table">
            Acción
        </th>

        <th class="border-right-table"
            colspan="2" title="Número de Años">
            <span class="cursor-help" tooltip-html-unsafe="Número de Años">Años</span>
        </th>
        <th class="border-right-table"
            colspan="2">
            Fechas
        </th>
        <th class="border-right-table"
            colspan="4">
            Rentabilidad (%)
        </th>
        <th class="border-right-table"
            title="Duración">
            <span class="cursor-help" tooltip-html-unsafe="Duración">Dur.</span>
        </th>
        <th class="border-right-table"
            title="Volatilidad">
            <span class="cursor-help" tooltip-html-unsafe="Volatilidad">Vol.</span>
        </th>
        <th class="border-right-table"
            title="Favorito">
            <span class="cursor-help" tooltip-placement="left" tooltip-html-unsafe="Favorito">Fav.</span>
        </th>
        <th class="sub-border-right-table"
            title="Estado">
            <span class="cursor-help" tooltip-placement="left" tooltip-html-unsafe="Estado">Est.</span>
        </th>
    </tr>
    <tr  class="table-header-bottom-patterns">
        <th class="border-right-table">
            Nombres
        </th>

        <th class="sub-border-right-table"
            title="Ganancia">
            <span class="cursor-help" tooltip-html-unsafe="Ganancia">Gan.</span>
        </th>
        <th class="border-right-table"
            title="Pérdida">
            <span class="cursor-help" tooltip-html-unsafe="Pérdida">Pér.</span>
        </th>
        <th class="sub-border-right-table">
            Entrada
        </th>
        <th class="border-right-table">
            Salida
        </th>
        <th class="sub-border-right-table"
            title="Acumulada">
            <span class="cursor-help" tooltip-html-unsafe="Acumulada">Acum.</span>
        </th>
        <th class="sub-border-right-table">
            Media
        </th>
        <th class="sub-border-right-table">
            Lados
        </th>
        <th class="border-right-table">
            Diaria
        </th>
        <th class="border-right-table">Días
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="border-right-table"></th>
        <th class="sub-border-right-table"></th>
    </tr>
    <tr ng-show="dataLoaded" ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="pairDetail({patternPairId:data.id})">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>
        <td  class="table-cell-patterns border-right-table pairs-index-market-patterns">
            <span>Alcista</span>
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.asset.longName}} ({{data.asset.exchange.symbol}})">
                {{data.asset.longName}}
            </span>
            <br/>
            <span>
                Bajista
            </span>
            <span  class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.bearishAsset.longName}} ({{data.bearishAsset.exchange.symbol}})">
                {{data.bearishAsset.longName}}
            </span>

        </td>
        <td  class="table-cell-patterns sub-border-right-table pairs-index-win-patterns">
            <b>{{data.win | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table pairs-index-loss-patterns">
            <b>{{data.loss | twoDecimals}}</b>
        </td>
        <td  class="table-cell-patterns sub-border-right-table pairs-index-entryDate-patterns">
            {{data.entryDate | date: 'dd/MMM/yyyy'}}
        </td>
        <td  class="table-cell-patterns border-right-table pairs-index-exitDate-patterns">
            {{data.exitDate | date: 'dd/MMM/yyyy'}}
        </td>
        <td class="table-cell-patterns sub-border-right-table pairs-index-accumulated-patterns">
            <b> {{data.accumulatedReturn | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table pairs-index-average-patterns">
            <b> {{data.averageReturn | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table pairs-index-bullish-patterns">
            <div class="buy-color">
                <b>{{data.bullishAverageReturn | twoDecimals}}</b>
            </div>
            <div  class="sell-color">
                <b>{{data.bearishAverageReturn | twoDecimals}}</b>
            </div>
        </td>
        <td  class="table-cell-patterns border-right-table pairs-index-daily-patterns">
            <b> {{data.dailyReturn | twoDecimals}}</b>
        </td>
        <td  class="table-cell-patterns border-right-table pairs-index-duration-patterns">
            <b> {{data.duration | twoDecimals}}</b>
        </td>
        <td  class="table-cell-patterns border-right-table pairs-index-vol-patterns">
            <b> {{data.pairVolatility | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table ">
            <div class="current-favourite" tooltip-placement="left" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(data.id);$event.stopPropagation();"
                 ng-class="{'favourite-added': data.favorite == true}"></div>
        </td>
        <td style="width: 30px;" class="table-cell-patterns sub-border-right-table">
            <div tooltip="Sin Comenzar" tooltip-placement="left" class="state-sphere no-started-state" ng-show="data.statePattern == 'NO_STARTED'"></div>
            <div tooltip="Comenzado" tooltip-placement="left" class="state-sphere started-state" ng-show="data.statePattern == 'STARTED'"></div>
            <div tooltip="Finalizado" tooltip-placement="left" class="state-sphere finished-state" ng-show="data.statePattern == 'FINISHED'"></div>
        </td>

    </tr>


</table>