

<table style="width: 955px;" class="table-pattern"  ng-show="myData.length>0" cellspacing="0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header id-column-my-patterns" rowspan="2">
            Id
        </th>
        <th class="border-right-table name-column-my-patterns">
            Acción
        </th>
        <th class="border-right-table sector-industry-column-my-patterns">
            Sector / Industria
        </th>
        <th class="border-right-table market-column-my-patterns" title="Mercado">
            <span class="cursor-help" tooltip-html-unsafe="Mercado">Merc.</span>
        </th>
        <th class="border-right-table years-column-my-patterns" colspan="2" title="Número de Años">
            <span class="cursor-help" tooltip-html-unsafe="Número de Años">Años</span>
        </th>
        <th class="border-right-table dates-column-my-patterns" colspan="2">
            Fechas
        </th>
        <th class="border-right-table profit-column-my-patterns" colspan="3">
            Rentabilidad (%)
        </th>
        <th class="border-right-table duration-column-my-patterns" title="Duración">
            <span class="cursor-help" tooltip-html-unsafe="Duración">Dur.</span>
        </th>
        <th class="border-right-table volatility-column-my-patterns" title="Volatilidad">
            <span class="cursor-help" tooltip-html-unsafe="Volatilidad">Vol.</span>
        </th>
        <th class="border-right-table favorite-column-my-patterns" title="Favorito">
            <span class="cursor-help" tooltip-placement="left" tooltip-html-unsafe="Favorito">Fav.</span>
        </th>
        <th class="sub-border-right-table state-column-my-patterns" title="Estado">
            <span class="cursor-help" tooltip-placement="left" tooltip-html-unsafe="Estado">Est.</span>
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table name-column-my-patterns">
            Nombre
        </th>

        <th class="border-right-table sector-industry-column-my-patterns"></th>

        <th class="border-right-table market-column-my-patterns"></th>

        <th class="sub-border-right-table years-gain-column-my-patterns" title="Ganancia">
            <span class="cursor-help" tooltip-html-unsafe="Ganancia">Gan.</span>
        </th>
        <th class="border-right-table years-loss-column-my-patterns" title="Pérdida">
            <span class="cursor-help" tooltip-html-unsafe="Pérdida">Pér.</span>
        </th>

        <th class="sub-border-right-table dates-entry-column-my-patterns">
            Entrada
        </th>
        <th class="border-right-table dates-exit-column-my-patterns">
            Salida
        </th>

        <th class="sub-border-right-table profit-accumulated-column-my-patterns" title="Acumulada">
            <span class="cursor-help" tooltip-html-unsafe="Acumulada">Acum.</span>
        </th>
        <th class="sub-border-right-table profit-average-column-my-patterns">
            Media
        </th>
        <th class="border-right-table profit-daily-column-my-patterns">
            Diaria
        </th>

        <th class="border-right-table duration-column-my-patterns">Días</th>

        <th class="border-right-table volatility-column-my-patterns">
            (%)
        </th>

        <th class="border-right-table favorite-column-my-patterns"></th>

        <th class="sub-border-right-table state-column-my-patterns"></th>
    </tr>
    <tr ng-show="dataLoaded"  ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="detail({patternId:data.id})">
        <td width="30" class="table-id-orange id-column-my-patterns" >
            {{data.id}}
        </td>

        <td style="text-align: left;vertical-align: top;" class="table-cell-patterns border-right-table name-column-my-patterns">
            <span ng-if="data.patTyp == 'BULLISH'">Comprar</span>
            <span ng-if="data.patTyp == 'BEARISH'">Vender</span>
            <br/>
            <div class="text-limitator">
            <span class="cursor-help"
                  tooltip-html-unsafe="{{data.name}} ({{data.exchSymbol}})"
                  ng-class="{'buy-color': data.patTyp == 'BULLISH', 'sell-color': data.patTyp == 'BEARISH'}">
                {{data.name}}
            </span>
            </div>
        </td>

        <td style="text-align: left; vertical-align: top;"
            class="table-cell-patterns border-right-table sector-industry-column-my-patterns"
            ng-class="{'buy-color': data.patTyp == 'BULLISH',
                            'sell-color': data.patTyp == 'BEARISH'}">
            <!--sector/industry-->
            <div class="text-limitator"><span class="cursor-help" tooltip-html-unsafe="{{data.sector}}">{{data.sector}}</span>
                <span ng-show="{{(data.sector != null && data.industry != null) && (data.sector != '' && data.industry != '')}}"> / </span>
            </div>
            <div class="text-limitator">
                <span class="cursor-help" tooltip="{{data.industry}}">{{data.industry}}</span>
            </div>
        </td>

        <td class="table-cell-patterns border-right-table market-column-my-patterns">
            <span tooltip-html-unsafe="{{data.exchName}}" class="cursor-help">{{data.exchSymbol}}</span>
        </td>

        <td class="table-cell-patterns sub-border-right-table years-gain-column-my-patterns">
            <b>{{data.win }}</b>
        </td>
        <td class="table-cell-patterns border-right-table years-loss-column-my-patterns">
            <b>{{data.loss | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns sub-border-right-table dates-entry-column-my-patterns">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table dates-exit-column-my-patterns">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>

        <td class="table-cell-patterns sub-border-right-table profit-accumulated-column-my-patterns" ng-class="{'negative-percent': data.accumulatedReturn < 0 }">
            <b> {{data.accumulatedReturn | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table profit-average-column-my-patterns"  ng-class="{'negative-percent': data.averageReturn < 0 }" >
            <b > {{data.averageReturn |  twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table profit-daily-column-my-patterns" ng-class="{'negative-percent': data.dailyReturn < 0 }">
            <b > {{data.dailyReturn | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table duration-column-my-patterns">
            <b> {{data.duration | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table volatility-column-my-patterns" ng-class="{'negative-percent': data.volat < 0 }">
          <span ng-show="data.volat>=0"><b> {{data.volat | twoDecimals}}</b></span>
        </td>

        <td class="table-cell-patterns border-right-table favorite-column-my-patterns">
            <div class="current-favourite" tooltip-placement="left" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(data.id);$event.stopPropagation();"
                 ng-class="{'favourite-added': data.fav == true}"></div>
        </td>

        <td class="table-cell-patterns sub-border-right-table state-column-my-patterns">
            <div tooltip="Sin Comenzar" tooltip-placement="left" class="state-sphere no-started-state" ng-show="data.statePattern == 'NO_STARTED'"></div>
            <div tooltip="Comenzado" tooltip-placement="left" class="state-sphere started-state" ng-show="data.statePattern == 'STARTED'"></div>
            <div tooltip="Finalizado" tooltip-placement="left" class="state-sphere finished-state" ng-show="data.statePattern == 'FINISHED'"></div>
        </td>

    </tr>


</table>