<div class="calendar-filters-container">
    <select data-ng-model="filterOptions.filters.selectMonth" ng-change="goToMonth()"
            ng-options="item.name for item in filterOptions.months">
    </select>
    <select data-ng-model="filterOptions.filters.selectedOperation" ng-change="search();">
        <option selected value="">- Operación -</option>
        <option ng-repeat="item in filterOptions.selectors.operations" value="{{item.id}}" >{{item.description}}</option>
    </select>
    <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search();"><label>Favoritos</label>
    <input type="text" placeholder="Día" data-ng-model="filterOptions.filters.dayDateInput" ng-change="search();" ng-delay="3000">
    <select data-ng-model="filterOptions.filters.order" class="select-order" ng-change="search();" ng-delay="3000">
        <option selected="selected" value="0">Ordenar por Fecha Entrada</option>
        <option value="1">Ordenar por Fecha Salida</option>
    </select>
</div>
<table class="calendar-table">
    <thead>
    <tr>
        <th>Compañía</th>
        <th ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">{{day.dayOfWeek}}<br/>{{day.dayOfMonth}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pattern in myData">
        <td ui-sref="detail({patternId:pattern.id})">
            <div class="text-limitator-calendar">
            <span ng-class="{'buy-color': pattern.patternType == 'BULLISH', 'sell-color': pattern.patternType == 'BEARISH'}" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}})">{{pattern.asset.longName}}</span>
            </div>
        </td>
        <td ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">
           <!-- <span ng-show="pattern.patternType == 'BEARISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && month.value == {{pattern.exitDate | date: 'MM'}}" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && month.value == {{pattern.exitDate | date: 'MM'}}" class="bullish-year calendar-letter">L</span>
            <span ng-show="pattern.patternType == 'BEARISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && month.value != {{pattern.exitDate | date: 'MM'}}" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && month.value != {{pattern.exitDate | date: 'MM'}}" class="bullish-year calendar-letter">L</span>-->

            <span ng-show="pattern.patternType == 'BEARISH' && mustPaint(day,pattern)" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && mustPaint(day,pattern)" class="bullish-year calendar-letter">L</span>

        </td>
    </tr>

    </tbody>


</table>
<div class="copyright">
    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
</div>
<!--pagination-->
<div class="pagination-container" style="margin-top:72px; clear:both;" ng-show="found > pagingOptions.pageSize">
    <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                next-text="&gt;"
                first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
</div>

<div class="calendar-caption">
    <span class="bullish-year calendar-letter">L: </span> Long (Compra)
    <span class="bearish-year calendar-letter">S: </span> Short (Venta)
</div>