<div class="calendar-filters-container">
    <select data-ng-model="filterOptions.filters.selectMonth" ng-change="goToMonth()" ng-options="item.name for item in filterOptions.months">
    </select>
    <select data-ng-model="filterOptions.filters.selectedRegion" ng-change="selectRegion();">
        <option selected value="">- Región -</option>
        <option ng-repeat="region in filterOptions.selectors.regions" ng-selected="{{region.id == filterOptions.filters.selectedRegion}}" value="{{region.id}}">{{region.description}}</option>
    </select>
    <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search()"><label>Favoritos</label>
    <input type="text" placeholder="Día" ng-change="search()" data-ng-model="filterOptions.filters.dayDateInput" ng-delay="3000">
    <select data-ng-model="filterOptions.filters.order" class="select-order" ng-change="search()" ng-delay="3000">
        <option selected="selected" value="0">Ordenar por Fecha Entrada</option>
        <option value="1">Ordenar por Fecha Salida</option>
    </select>
</div>
<table class="calendar-table">
    <thead>
    <tr>
        <th>Par</th>
        <th ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">{{day.dayOfWeek}}<br/>{{day.dayOfMonth}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pattern in myData">
        <td class="pair-pattern" ui-sref="pairDetail({patternId:pattern.id})">
            <div class="text-limitator-calendar">
            <span class="buy-color" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}})">{{pattern.asset.longName | limitTo:25}}</span>
            </div><div class="text-limitator-calendar">
            <span class="sell-color" tooltip="{{pattern.bearishAsset.longName}} ({{pattern.bearishAsset.exchange.symbol}})">{{pattern.bearishAsset.longName | limitTo:25}}</span>
        </div>
        </td>
        <td ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">
            <!--<span ng-show="day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && month.value == {{pattern.exitDate | date: 'MM'}}" class="pairs-letter calendar-letter">P</span>
            <span ng-show="day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && month.value != {{pattern.exitDate | date: 'MM'}}" class="pairs-letter calendar-letter">P</span>-->
            <span ng-show="mustPaint(day,pattern)" class="pairs-letter calendar-letter">P</span>
        </td>
    </tr>

    </tbody>


</table>
<div class="copyright">
    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
</div>
<!--pagination-->
<div class="pagination-container" style="margin-top:72px; clear:both;margin-bottom:20px;" ng-show="found > pagingOptions.pageSize">
    <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                next-text="&gt;"
                first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
</div>
