<div class="calendar-filters-container">
    <select data-ng-model="filterOptions.filters.selectMonth" class="filter-calendar"  ng-change="goToMonth()"
            ng-options="item.name for item in filterOptions.months">
    </select>
    <select data-ng-model="filterOptions.filters.index_type" class="filter-calendar"  ng-change="selectIndexType()">
        <option value="0">Índices</option>
        <option value="1">Par Índices</option>
    </select>
    <select data-ng-model="filterOptions.filters.selectedOperation" class="filter-calendar"  ng-change="search();">
        <option selected value="">- Operación -</option>
        <option ng-repeat="operation in filterOptions.selectors.operations" value="{{operation.id}}">{{operation.description}}</option>
    </select>
    <input type="checkbox" ng-model="filterOptions.filters.favourite" ng-change="search();"><label>Favoritos</label>
    <input type="text" placeholder="Día" ng-change="search();" data-ng-model="filterOptions.filters.dayDateInput" ng-delay="3000">
    <select data-ng-model="filterOptions.filters.order" class="select-order filter-calendar" ng-change="search();" ng-delay="3000">
        <option selected="selected" value="0">Ordenar por Fecha Entrada</option>
        <option value="1">Ordenar por Fecha Salida</option>
    </select>
</div>
<div class="loading-div no-patterns-container" ng-show="loading"><img src="assets/img/ajax-loader.gif" class="loading-gif"><span>Cargando calendario, por favor espere...</span></div>
<div class="no-patterns-container" ng-if="myData.length == 0 && !loading"><span >NO EXISTEN PATRONES CON ESTAS CONDICIONES</span></div>
<div ng-show="myData.length >0">
<table class="calendar-table">
    <thead>
    <tr>
        <th>Índice</th>
        <th ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">{{day.dayOfWeek}}<br/>{{day.dayOfMonth}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pattern in myData">
        <td ui-sref="detail({patternId:pattern.id})">
            <span ng-class="{'buy-color': pattern.patternType == 'BULLISH', 'sell-color': pattern.patternType == 'BEARISH'}" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}})">
                <div class="text-limitator-calendar">{{pattern.asset.longName}}
                    </div>

            </span>
        </td>
        <td ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">
            <!--<span ng-show="pattern.patternType == 'BEARISH'  && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && month.value == {{pattern.exitDate | date: 'MM'}}" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && month.value == {{pattern.exitDate | date: 'MM'}}" class="bullish-year calendar-letter">L</span>
            <span ng-show="pattern.patternType == 'BEARISH'  && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && month.value != {{pattern.exitDate | date: 'MM'}}" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && month.value != {{pattern.exitDate | date: 'MM'}}" class="bullish-year calendar-letter">L</span>-->
            <span ng-show="pattern.patternType == 'BEARISH' && mustPaint(day,pattern)" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BULLISH' && mustPaint(day,pattern)" class="bullish-year calendar-letter">L</span>

        </td>
    </tr>

    </tbody>


</table>
        </div>
<div class="copyright">
    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
</div>
<!--pagination-->
<div class="pagination-container" style="margin-top:72px; clear:both;" ng-show="found > pagingOptions.pageSize">
    <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                next-text="&gt;"
                first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
</div>

<div class="calendar-caption">
    <span class="bullish-year calendar-letter">L: </span> Long (Alcista)
    <span class="bearish-year calendar-letter">S: </span> Short (Bajista)
</div>