<div class="calendar-filters-container">
    <select disabled="true" data-ng-model="selectedMonth">
        <option ng-repeat="month in calendarMonths" value="{{month.value}}">{{month.description}}</option>
    </select>
    <select disabled="true" data-ng-model="selectedRegion">
        <option selected value="">- Región -</option>
        <option ng-repeat="region in calendarRegions" value="{{region.id}}">{{region.description}}</option>
    </select>
    <select disabled="true" data-ng-model="selectedMarket">
        <option selected value="">- Mercado -</option>
        <option ng-repeat="market in calendarMarkets" value="{{market.id}}">{{market.description}}</option>
    </select>
    <select disabled="true" data-ng-model="selectedOperation">
        <option selected value="">- Operación -</option>
        <option value="0">Compra</option>
        <option value="1">Venta</option>
    </select>
    <input type="checkbox" ng-model="favouriteCalendar"><label>Favoritos</label>
    <input type="text" placeholder="Día" data-ng-model="dayPattern">
    <select disabled="true" data-ng-model="filterOptions.filters.order" class="select-order" ng-change="search()" >
        <option selected value="0">Ordenar por Fecha Entrada</option>
        <option value="1">Ordenar por Fecha Salida</option>
    </select>
</div>
<table class="calendar-table">
    <thead>
    <tr>
        <th>Compañía</th>
        <th ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">{{day.dayOfWeek}}<br/>{{day.dayOfMonth}}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pattern in myData">
        <td>
            <span tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.name}}) {{pattern.id}}" class="cursor-help">{{pattern.asset.longName}}</span>
        </td>
        <td ng-repeat="day in daysOfMonth" ng-class="{'weekend' : day.dayOfWeek == 'Sa' || day.dayOfWeek == 'Do'}">
            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && {{pattern.exitDate | date:'MM'}} == month.value" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BEARISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && day.dayOfMonth <= {{pattern.exitDate | date: 'dd'}} && {{pattern.exitDate | date:'MM'}} == month.value" class="bullish-year calendar-letter">L</span>

            <span ng-show="pattern.patternType == 'BULLISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && {{pattern.exitDate | date:'MM'}} != month.value" class="bearish-year calendar-letter">S</span>
            <span ng-show="pattern.patternType == 'BEARISH' && day.dayOfMonth >= {{pattern.entryDate | date: 'dd'}} && {{pattern.exitDate | date:'MM'}} != month.value" class="bullish-year calendar-letter">L</span>
        </td>
    </tr>

    </tbody>


</table>
<div class="copyright">
    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
</div>
<!--pagination-->
<div class="pagination-container" style="margin-top:72px; clear:both;" ng-show="results > 10">
    <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                next-text="&gt;"
                first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
</div>

<div class="calendar-caption">
    <span class="bullish-year calendar-letter">L: </span> Long (Compra)
    <span class="bearish-year calendar-letter">S: </span> Short (Venta)
</div>