
<table style="width: 955px;" class="table-pattern"  ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header" rowspan="2">
            Id
        </th>
        <th class="border-right-table" style="width: 360px">
            {{'HISTORIC.indices'|translate}}
        </th>
        <th class="border-right-table">
            {{'HISTORIC.emisor'|translate}}
        </th>
        <th class="border-right-table" colspan="2">
            {{'HISTORIC.entry'|translate}}
            <img src="assets/img/entryArrow.png">
        </th>
        <th class="border-right-table" colspan="2">
            <img src="assets/img/exitArrow.png">
            {{'HISTORIC.exit'|translate}}
        </th>
        <th  class="border-right-table">
            <span tooltip-html-unsafe="{{'HISTORIC.last_rent'|translate}}">{{'HISTORIC.rent'|translate}}</span>
        </th>
        <th class="border-right-table"
            colspan="2">
            {{'HISTORIC.best_rent'|translate}}
        </th>
        <th class="border-right-table"  colspan="2">
            {{'HISTORIC.worst_rent'|translate}}
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.notes'|translate}}
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table" style="width: 340px;">
            {{'HISTORIC.name'|translate}}
        </th>
        <th class="border-right-table">

        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table">
            {{'HISTORIC.price'|translate}}
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table">
            {{'HISTORIC.price'|translate}}
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table" style="width: 20px">
            (%)
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table" style="width: 20px">
            (%)
        </th>
        <th class="sub-border-right-table">

        </th>
    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="pairDetail({patternId:data.id})">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>
        <td style="text-align: left; width: 230px;" class="table-cell-patterns border-right-table">
            <span>{{'HISTORIC.bullish'|translate}}</span>
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.name}} ({{data.exchSymbol}})">
                 {{data.name}}
            </span>
            <br/>
            <div class="text-limitator">
                <span>{{'HISTORIC.bearish'|translate}}</span>
            <span class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.name2}} ({{data.exchSymbol2}})">
                {{data.name2}}
            </span>
            </div>
        </td>
        <td class="border-right-table table-cell-patterns ">
            <span class="cursor-help" tooltip-html-unsafe="{{data.exchName}}">{{data.exchSymbol}}</span><br>
            <span class="cursor-help" tooltip-html-unsafe="{{data.exchName2}}">{{data.exchSymbol2}}</span>
        </td>
        <td class="table-cell-patterns sub-border-right-table">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table">
            <div class="buy-color"><b>{{data.entryValue | twoDecimals}}</b></div>
            <div class="sell-color"><b>{{data.bearishEntryValue | twoDecimals}}</b></div>
        </td>
        <td class="table-cell-patterns sub-border-right-table">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table">
            <div class="buy-color"><b>{{data.exitValue | twoDecimals}}</b></div>
            <div class="sell-color"><b>{{data.bearishExitValue | twoDecimals}}</b></div>
        </td>
        <td class="table-cell-patterns border-right-table" >
            <span><b>{{data.lastPerformance | twoDecimals}}</b></span>
        </td>
        <td class="table-cell-patterns sub-border-right-table" ng-class="{'yellow-even': !($index%2), 'yellow-odd': ($index%2)}">
            <span ng-show="data.bestGain >= 0.01">{{data.bestGainDate | date: 'dd/MMM/yy'}}</span>
        </td>
        <td class="table-cell-patterns border-right-table">
            <b ng-show="data.bestGain >= 0.01" ng-class="{'negative-percent': data.bestGain < 0}">{{data.bestGain |  twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table">
            <span ng-show="data.worstLoss <= -0.01"></spana> {{data.worstLossDate  | date: 'dd/MMM/yy'}}</span>
        </td>
        <td class="table-cell-patterns border-right-table">
            <b ng-show="data.worstLoss <= -0.01" ng-class="{'negative-percent': data.worstLoss < 0}">{{data.worstLoss |  twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table">
            <div class="notes-pattern-icon" ng-if="(data.notes.length > 0 || data.notes2.length>0)" ng-click="openNotes(data);$event.stopPropagation();"></div>
        </td>
    </tr>


</table>