
<table style="width: 955px;" class="table-pattern"  ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header" rowspan="2">
            Id
        </th>
        <th class="border-right-table patterns-stocks-column-width">
            {{'HISTORIC.operation'|translate}}
        </th>
        <th class="border-right-table" colspan="2">
            {{'HISTORIC.entry'|translate}}
            <img src="assets/img/entryArrow.png">
        </th>
        <th class="border-right-table" colspan="2">
            <img src="assets/img/exitArrow.png">
            {{'HISTORIC.exit'|translate}}
        </th>
        <th  class="border-right-table">
            <span tooltip-html-unsafe="{{'HISTORIC.last_rent'|translate}}">{{'HISTORIC.rent'|translate}}</span>
        </th>
        <th class="border-right-table"
            colspan="2">
            {{'HISTORIC.best_rent'|translate}}
        </th>
        <th class="border-right-table"  colspan="2">
            {{'HISTORIC.worst_rent'|translate}}
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.notes'|translate}}
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table">
            {{'HISTORIC.product'|translate}}
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table">
            {{'HISTORIC.price'|translate}}
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table">
            {{'HISTORIC.price'|translate}}
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table" style="width: 20px">
            (%)
        </th>
        <th class="sub-border-right-table">
            {{'HISTORIC.date'|translate}}
        </th>
        <th class="border-right-table" style="width: 20px">
            (%)
        </th>
        <th class="sub-border-right-table">

        </th>
    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="detail({patternId:data.id})">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>
        <td class="table-cell-patterns border-right-table futures-operation-patterns-value">
            <span ng-show="data.patTyp == 'BULLISH'">{{'HISTORIC.buy'|translate}}</span>
            <span ng-show="data.patTyp == 'BEARISH'">{{'HISTORIC.sell'|translate}}</span>
            <br/>
            <div class="text-limitator">
            <span class="cursor-help futures-market-patterns"
                  tooltip-html-unsafe="{{data.name}} {{data.asset.expirationYear}} ({{data.asset.exchange.symbol}})"
                  ng-class="{'buy-color': data.patTyp == 'BULLISH', 'sell-color': data.patTyp == 'BEARISH'}">
                {{data.name}}
            </span>
            </div>
        </td>

        <!--<td class="table-cell-patterns border-right-table">
            {{ data.asset.expirationYear }}
        </td>-->
        <td
            class="table-cell-patterns sub-border-right-table future-entryDate-patterns">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td  class="table-cell-patterns border-right-table future-entryValue-patterns">
            <b>{{data.entryValue | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table future-exitDate-patterns">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table future-exitValue-patterns">
            <b>{{data.exitValue | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table future-lastPerformance-patterns" ng-class="{'yellow-even': !($index%2), 'yellow-odd': ($index%2)}">
            <span><b >{{data.lastPerformance | twoDecimals}}</b></span>
        </td>
        <td class="table-cell-patterns sub-border-right-table future-bestGainDate-patterns">
            <span ng-show="data.bestGain >= 0.01">{{data.bestGainDate | date: 'dd/MMM/yy'}}</span>
        </td>
        <td class="table-cell-patterns border-right-table">
            <b ng-show="data.bestGain >= 0.01" ng-class="{'negative-percent': data.asset.lastQuote < 0}">{{data.bestGain | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns sub-border-right-table future-worstLossDate-patterns">
            <span ng-show="data.worstLoss <= -0.01">{{data.worstLossDate | date: 'dd/MMM/yy'}}</span>
        </td>
        <td class="table-cell-patterns border-right-table ">
            <b ng-show="data.worstLoss <= -0.01" ng-class="{'negative-percent': data.worstLoss < 0}">{{data.worstLoss | twoDecimals}}</b>
        </td>
        <td  class="table-cell-patterns sub-border-right-table future-notes-patterns">
            <div class="notes-pattern-icon" ng-if="data.notes.length > 0" ng-click="openNotes(data);$event.stopPropagation();"></div>
        </td>
    </tr>


</table>