<!-- Menú que se muestra en la parte pública cuando el usuario no está logueado -->

<ul id="submenu1"
    ng-class="{'display-block': actualSubmenu == 'submenu1', 'display-none': actualSubmenu != 'submenu1'}">
    <li id="organization-nav"
        ng-click="onClickSubmenu('organization-nav')"
        ng-mouseenter="onMouseEnterSubmenu('market-observatory-nav','submenu1','organization-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/organization"
           ng-class="{'item-nav-hover': selectItemSubmenu == 'organization-nav' || actualItemSubmenu == 'organization-nav'}">
            Organizaci&oacute;n
        </a>
    <li id="what_is_and_what_is_not-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('market-observatory-nav','submenu1','what_is_and_what_is_not-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/what_is_and_what_is_not" ng-class="{'item-nav-hover': selectItemSubmenu == 'what_is_and_what_is_not-nav'
            || actualItemSubmenu == 'what_is_and_what_is_not-nav'}">
            Qu&eacute; Es y Qu&eacute; No Es
        </a>
    <li id="service-conditions-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('market-observatory-nav','submenu1','service-coditions-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/service_conditions" ng-class="{'item-nav-hover': selectItemSubmenu == 'service-coditions-nav'
            || actualItemSubmenu == 'service-coditions-nav'}">
            Condiciones del Servicio
        </a>
    <li id="data-protection-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('market-observatory-nav','submenu1','data-protection-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/data_protection"  ng-class="{'item-nav-hover': selectItemSubmenu == 'data-protection-nav'
            || actualItemSubmenu == 'data-protection-nav'}">
            Protecci&oacute;n de datos
        </a>
</ul>

<ul id="submenu2"
    ng-class="{'display-block': actualSubmenu == 'submenu2', 'display-none': actualSubmenu != 'submenu2'}">
    <li id="summary-nav" ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('services-nav','submenu2','summary-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/summary" ng-class="{'item-nav-hover': selectItemSubmenu == 'summary-nav' || actualItemSubmenu == 'summary-nav'}">
            Resumen
        </a>
    <li id="products-and-markets-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('services-nav','submenu2','products-and-markets-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/products_and_exchanges"  ng-class="{'item-nav-hover': selectItemSubmenu == 'products-and-markets-nav'
            || actualItemSubmenu == 'products-and-markets-nav'}">
            Productos y Mercados
        </a>

    <li id="details-description-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('services-nav','submenu2','details-description-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/detailed_description" ng-class="{'item-nav-hover': selectItemSubmenu == 'details-description-nav'
            || actualItemSubmenu == 'details-description-nav'}">
            Descripci&oacute;n Detallada
        </a>

    <li id="fundaments-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('services-nav','submenu2','fundaments-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/fundamentals" ng-class="{'item-nav-hover': selectItemSubmenu == 'fundaments-nav'
            || actualItemSubmenu == 'fundaments-nav'}">
            Fundamentos
        </a>
</ul>
<ul id="submenu3"
    ng-class="{'display-block': actualSubmenu == 'submenu3', 'display-none': actualSubmenu != 'submenu3'}">
    <li id="actions-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','actions-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/stocks" ng-class="{'item-nav-hover': selectItemSubmenu == 'actions-nav' || actualItemSubmenu == 'actions-nav'}">
            Acci&oacute;n
        </a>
    <li id="funds-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','funds-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/funds" ng-class="{'item-nav-hover': selectItemSubmenu == 'funds-nav'
            || actualItemSubmenu == 'funds-nav'}">
            Fondos
        </a>
    <li id="etfcfd-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','etfcfd-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/etf_cfd" ng-class="{'item-nav-hover': selectItemSubmenu == 'etfcfd-nav' || actualItemSubmenu == 'etfcfd-nav'}">
            ETF's CFD's
        </a>
    <li id="futures-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','futures-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/futures" ng-class="{'item-nav-hover': selectItemSubmenu == 'futures-nav'
            || actualItemSubmenu == 'futures-nav'}">
            Futuros
        </a>
    <li id="pairs-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','pairs-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/pairs" ng-class="{'item-nav-hover': selectItemSubmenu == 'pairs-nav'
            || actualItemSubmenu == 'pairs-nav'}">
            Pares
        </a>
    <li id="advanced-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','advanced-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/advanced" ng-class="{'item-nav-hover': selectItemSubmenu == 'advanced-nav'
            || actualItemSubmenu == 'advanced-nav'}">
            Avanzado
        </a>
    <li id="diversify-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('application-services-nav','submenu3','diversify-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/diversification" ng-class="{'item-nav-hover': selectItemSubmenu == 'diversify-nav'
            || actualItemSubmenu == 'diversify-nav'}">
            Diversificaci&oacute;n
        </a>
</ul>
<ul id="submenu4"
    ng-class="{'display-block': actualSubmenu == 'submenu4', 'display-none': actualSubmenu != 'submenu4'}">
    <li id="prices-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','prices-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/prices" ng-class="{'item-nav-hover': selectItemSubmenu == 'prices-nav'
            || actualItemSubmenu == 'prices-nav'}">
            Precios
        </a>
    <li id="products-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','products-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/products" ng-class="{'item-nav-hover': selectItemSubmenu == 'products-nav'
            || actualItemSubmenu == 'products-nav'}">
            Productos
        </a>
    <li id="type-suscriptions-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','type-suscriptions-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/type-suscriptions" ng-class="{'item-nav-hover': selectItemSubmenu == 'type-suscriptions-nav'
            || actualItemSubmenu == 'type-suscriptions-nav'}">
            Tipos Suscripci&oacute;n
        </a>
    <li id="buy-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','buy-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/buy" ng-class="{'item-nav-hover': selectItemSubmenu == 'buy-nav'
            || actualItemSubmenu == 'buy-nav'}">
            Comprar
        </a>
    <li id="free-suscription-By-15-days-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','free-suscription-By-15-days-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/free_subscriptions" ng-class="{'item-nav-hover': selectItemSubmenu == 'free-suscription-By-15-days-nav'
            || actualItemSubmenu == 'free-suscription-By-15-days-nav'}">
            Suscripci&oacute;n Gratis 15 d&iacute;as
        </a>
    <li id="buy-guide-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('suscriptions-and-prices-nav','submenu4','buy-guide-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/buy_guide" ng-class="{'item-nav-hover': selectItemSubmenu == 'buy-guide-nav'
            || actualItemSubmenu == 'buy-guide-nav'}">
            Gu&iacute;a Comprar
        </a>
</ul>
<ul id="submenu5" class="float-right"
    ng-class="{'display-block': actualSubmenu == 'submenu5', 'display-none': actualSubmenu != 'submenu5'}">
    <li id="resources-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('investor-tools-nav','submenu5','resources-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/resources" ng-class="{'item-nav-hover': selectItemSubmenu == 'resources-nav'
            || actualItemSubmenu == 'resources-nav'}">
            Recursos
        </a>
    <li id="articles-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('investor-tools-nav','submenu5','articles-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/articles" ng-class="{'item-nav-hover': selectItemSubmenu == 'articles-nav'
            || actualItemSubmenu == 'articles-nav'}">
            Art&iacute;culos
        </a>
    <li id="symbols-and-markets-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('investor-tools-nav','submenu5','symbols-and-markets-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/symbols_and_exchanges" ng-class="{'item-nav-hover': selectItemSubmenu == 'symbols-and-markets-nav'
            || actualItemSubmenu == 'symbols-and-markets-nav'}">
            S&iacute;mbolos y Mercados
        </a>
    <li id="templates-MO-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('investor-tools-nav','submenu5','templates-MO-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/mo_template_collections" ng-class="{'item-nav-hover': selectItemSubmenu == 'templates-MO-nav'
            || actualItemSubmenu == 'templates-MO-nav'}">
            Colecci&oacute;n Plantillas MO
        </a>
</ul>
<ul id="submenu6" class="float-right"
    ng-class="{'display-block': actualSubmenu == 'submenu6', 'display-none': actualSubmenu != 'submenu6'}">
    <li id="support-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('contact-nav','submenu6','support-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/support" ng-class="{'item-nav-hover': selectItemSubmenu == 'support-nav'
            || actualItemSubmenu == 'support-nav'}">
            Soporte
        </a>
    <li id="companies-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('contact-nav','submenu6','companies-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/business" ng-class="{'item-nav-hover': selectItemSubmenu == 'companies-nav'
            || actualItemSubmenu == 'companies-nav'}">
            Empresas
        </a>
    <li id="employ-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('contact-nav','submenu6','employ-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/job" ng-class="{'item-nav-hover': selectItemSubmenu == 'employ-nav'
            || actualItemSubmenu == 'employ-nav'}">
            Empleo
        </a>
    <li id="location-nav"
        ng-click="onClickSubmenu()"
        ng-mouseenter="onMouseEnterSubmenu('contact-nav','submenu6','location-nav')"
        ng-mouseleave="onMouseLeaveSubmenu()">
        <a href="#/localization" ng-class="{'item-nav-hover': selectItemSubmenu == 'location-nav'
            || actualItemSubmenu == 'location-nav'}">
            Localizaci&oacute;n
        </a>
</ul>