<div class="login-panel">
    <span>{{'access'|translate}}</span>

    <form ng-submit="submit()" name="loginForm" method="POST" autocomplete="on">
        <label>{{'user'|translate}}</label><input type="text" class="float-right" ng-model="fields.email" name="username"
                                   ng-class="{'warning-input' : errorSignIn}"/>
        <label>{{'password'|translate}}</label><input type="password" ng-model="fields.password" class="float-right" name="password"
                                               ng-class="{'warning-input' : errorSignIn}"/>

        <div>
            <label>{{'rememberme'|translate}}</label> <input type="checkbox" ng-model="remember"/>
            <button type="submit" class="mo-button float-right">{{'enter'|translate}}</button>
        </div>
    </form>
    <div ng-show="errorSignIn" class="login-bottom-panel">
        <img ng-src="assets/img/warning-icon.png">
        <span class="warning-login-text">{{'badlogin1'|translate}}</span>
        <span class="warning-login-text">{{'badlogin2'|translate}}</span>
    </div>
    <div class="forget-password">
        <a ui-sref="forgotten-password" ng-click="hideSignInForm()">{{'forgotpass'|translate}}</a>
    </div>
</div>