<div>
    <span class="catalog-title">Cat&aacute;logo Acciones</span>

    <p>El siguiente cuadro es un resumen de contenidos del Pack a <b>Comprar</b> mediante suscripci&oacute;n. Contiene
        una lista de hasta 100 Compa&ntilde;&iacute;as con las mejores Estrategias durante el Mes indicado.</p>

    <p>
        La tabla muestra un avance de par&aacute;metros de las diferentes estrategias, que permite valorar las ventajas
        de Comprar el Pack.
    <ul class="public-list-first-level">
        <li>Nombre de la Compa&ntilde;&iacute;a, Mercado cotizaci&oacute;n y clasificaci&oacute;n Sectorial.</li>
        <li>N&uacute;mero de a&ntilde;os &ndash;o frecuencia de aciertos&ndash; que la estrategia gener&oacute;
            Beneficios y P&eacute;rdidas.
        </li>
        <li>Rentabilidad Acumulada durante 15 a&ntilde;os y Rentabilidad Media asociada al periodo de la operaci&oacute;n &ndash;no
            es rentabilidad anual&ndash;.
        </li>
        <li>Duraci&oacute;n de la operaci&oacute;n (Holding days) para planificar la disponibilidad del dinero.</li>
        <li>Volatilidad hist&oacute;rica para estimar perfil de riesgo.</li>
        <li>El &ldquo;Estado&rdquo; de la Estrategia se indica mediante un sem&aacute;foro: Color naranja si a d&iacute;a
            de hoy est&aacute; en curso. Color rojo si ya termin&oacute;. Color verde cuando en la fecha actual todav&iacute;a
            est&aacute; sin comenzar.
        </li>
        <li>Informaci&oacute;n de los datos Fundamentales de la Compa&ntilde;&iacute;a</li>
    </ul>
    Una vez comprado el Pack, como cliente, descubrir&aacute; toda la informaci&oacute;n detallada de las estrategias y
    herramientas de evaluaci&oacute;n.
    </p>
    <div class="start-date-catalog-container">{{startDate | date: 'MMMM yyyy'}}</div>
    <div class="region-catalog-container">{{selectedPack.name}}</div>
    <button id="purchase-button" ng-click="addNewItemCart(selectedPack, startDate); $event.stopPropagation();"
            class="mo-button purchase-button">Al carro
    </button>
    <span class="actual-date-catalog">Date: {{actualDate | date:'dd MMM'}}. (CET)</span>

    <div class="header-catalog-table">
        <div class="catalog-filter">
            <input placeholder="Nombre" ng-model="filterOptions.filters.filterName" ng-change="search();">
            <select ng-model="filterOptions.filters.selectedSector" ng-change="selectSector()" >
                <option value="">- Elegir Sector -</option>
                <option ng-repeat="item in filterOptions.selectors.sectors" value="{{item.id}}"
                        ng-selected="{{item.id == filterOptions.filters.selectedSector}}">
                    {{item.description}}
                </option>
            </select>
            <select ng-model="filterOptions.filters.selectedIndustry" ng-change="selectIndustry();">
                <option value="">- Elegir industria -</option>
                <option ng-repeat="item in filterOptions.selectors.industries" value="{{item.id}}"
                        ng-selected="{{item.id == filterOptions.filters.selectedIndustry}}">
                    {{item.description}}
                </option>
            </select>
            <select ng-model="filterOptions.filters.durationInterval" ng-change="search();">
                <option selected="selected" value="">- Elegir duraci&oacute;n -</option>
                <option value="[*/1]">Hasta 1 mes</option>
                <option value="[1/3]">De 1 a 3 meses</option>
                <option value="[3/*]">Mas de 3 meses</option>
            </select>
            <select ng-model="filterOptions.filters.volatilityInterval" ng-change="search();">
                <option selected="selected" value="">- Elegir volatilidad -</option>
                <option value="[*/25]">Menos de 25%</option>
                <option value="[25/50]">Entre 25% y 50%</option>
                <option value="[50/75]">Entre 50% y 75%</option>
                <option value="[75/*]">Mas de 75%</option>
            </select>
        </div>
        <div class="number-patterns-catalog">
            N&uacute;mero total de patrones: {{results}}; Patrones encontrados: {{found}}
        </div>
    </div>
    <table class="patterns-table-catalog">
        <tr>
            <th>Patr&oacute;n Acciones</th>
            <th>Mercado</th>
            <th>Sector / Industria</th>
            <th colspan="2">N&uacute;mero de A&ntilde;os</th>
            <th colspan="2">Rentabilidad (%)</th>
            <th>Duraci&oacute;n</th>
            <th><span class="cursor-help" tooltip="Volatilidad">Vol.</span></th>
            <th style="border-right: 1px solid #6f7072 !important;">Estado</th>
        </tr>
        <tr>
            <th>Nombre</th>
            <th>C&oacute;digo</th>
            <th></th>
            <th>Ganancia</th>
            <th>Pérdida</th>
            <th>Acumulada</th>
            <th>Promedio</th>
            <th>Meses</th>
            <th>(%)</th>
            <th></th>
        </tr>
        <tr ng-repeat="pattern in patterns">
            <td><span class="cursor-help" tooltip-html-unsafe="{{pattern.asset.longName}}">{{pattern.asset.longName | limitTo: 33}}</span>
            </td>
            <td><span class="cursor-help" tooltip-html-unsafe="{{pattern.asset.exchange.name}}">{{pattern.asset.exchange.symbol}}</span>
            </td>
            <td>
                <div class="sector-industry-breaker">
                <span tooltip-html-unsafe="{{pattern.asset.sector}}" class="cursor-help">{{pattern.asset.sector}}</span> <span
                    ng-show="pattern.asset.sector != null && pattern.asset.industry != null && pattern.asset.sector != '' && pattern.asset.industry != ''">/</span>
                <span tooltip-html-unsafe="{{pattern.asset.industry}}" class="cursor-help">{{pattern.asset.industry}}</span>
                </div></td>
            <td>{{pattern.win | twoDecimals}}</td>
            <td>{{pattern.loss | twoDecimals}}</td>
            <td>{{pattern.accumulatedReturn | twoDecimals}}</td>
            <td>{{pattern.averageReturn | twoDecimals}}</td>
            <td><span ng-show="(pattern.duration <31)">Hasta 1</span>
                <span ng-show="(pattern.duration >30 && pattern.duration <93)">De 1 a 3</span>
                <span ng-show="(pattern.duration >92)">Más de 3</span></td>
            <td>{{pattern.asset.volatility | twoDecimals}}</td>
            <td>
               <!-- <div tooltip="{{pattern.state}}" class="state-sphere"
                     ng-class="{'no-started-state': pattern.state == 'Sin Comenzar',  'started-state': pattern.state == 'Comenzado', 'finished-state': pattern.state == 'Finalizado'}"> </div>-->

                    <div tooltip="Sin Comenzar" tooltip-placement="left" class="state-sphere no-started-state cursor-help" ng-show="pattern.statePattern == 'NO_STARTED'"></div>
                    <div tooltip="Comenzado" tooltip-placement="left" class="state-sphere started-state cursor-help" ng-show="pattern.statePattern == 'STARTED'"></div>
                    <div tooltip="Finalizado" tooltip-placement="left" class="state-sphere finished-state cursor-help" ng-show="pattern.statePattern == 'FINISHED'"></div>

            </td>
        </tr>
    </table>
    <!--pagination-->
    <div class="pagination-container" ng-show="found > pagingOptions.pageSize" style="clear:both; margin-bottom:20px;">
        <pagination boundary-links="true" on-select-page="setPage(page)" total-items="found"
                    items-per-page="pagingOptions.pageSize" max-size="pagingOptions.pageSize"
                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                    next-text="&gt;"
                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
    </div>


</div>

<div class="browser-data-catalog">
    <p class="orange-title">&iquest;Desea informaci&oacute;n sobre los datos Fundamentales de una Compa&ntilde;&iacute;a?</p>

    <p>Introducir Nombre de la Compa&ntilde;&iacute;a (para acciones de Asia tambi&eacute;n C&oacute;digo Num&eacute;rico)</p>

    <div >
        <input placeholder="Nombre" ng-model="searchExternCatalog">
        <a ng-href="{{urlSearchCatalog}}" target="searchPat" ng-click="generateSearchUrl('Google', searchExternCatalog)">Buscar en
            Google<img ng-src="assets/img/home/google-icon.png"></a>
        <a ng-href="{{urlSearchCatalog}}" target="searchPat" ng-click="generateSearchUrl('Yahoo', searchExternCatalog)">Buscar en
            Yahoo<img ng-src="assets/img/home/yahoo-icon.png"></a>
        <a ng-href="{{urlSearchCatalog}}" target="searchPat" ng-click="generateSearchUrl('Bloomberg', searchExternCatalog)">Buscar en
            Bloomberg<img ng-src="assets/img/home/bloomberg-icon.png"></a>
    </div>
</div>