<p class="super-border private-black-title">Detalle del Patrón</p>
<p>
    <ul class="public-list-first-level">
        <li>Las cotizaciones que usa Market Observatory son al <b>Cierre del Mercado en el horario regular</b>, lo que en la práctica supone que una Compra o una Venta se realiza hacia el final de la sesión –end of day-.         <div style="display: inline-block;" ng-click="show=!show" ng-show="!show"><img
                src="assets/img/textdown.png"><a class="toggle-link" style="padding-left: 5px;">Mostrar más</a>
        </div></li>

        <div ng-show="show">
            <ul class="public-list-first-level">
                <li>Las Fechas de Entrada -o apertura de posición- y Salida -o cierre de posición- siguen el siguiente convenio:
                    <ul class="public-list-second-level">
                        <li>Si Fecha de Entrada coincide en festivo, la operación se realiza el “Día Siguiente con Sesión”</li>
                        <li>Si Fecha de Salida coincide en festivo, la operación se realiza el “Día Anterior con Sesión”</li>
                    </ul>
                </li>
                <li>Si desea afinar las Fechas de Entrada y Salida tenga en cuenta que:
                    <ul class="public-list-second-level">
                        <li>En un mercado Alcista las Compras se pueden adelantar y las Ventas retrasar.</li>
                        <li>En un mercado Bajista las Ventas se pueden adelantar y las Compras retrasar.</li>
                    </ul>
                </li>
                <li>Antes de tomar una posición en los valores menos líquidos, debe analizar el Volumen diario negociado y dimensionar correctamente el tamaño de su orden.</li>
                <li>Una “Venta a Corto” tiene un riesgo mayor que una Compra y aumenta en valores de alta volatilidad y que negocian escaso Volumen.</li>
                <li>Impacto de los Dividendos. Las cotizaciones recogen el reparto de los dividendos, un valor que cotiza a 10 EUR y distribuye en dividendos 1 EUR, baja su cotización a 9 EUR –aunque el valor neto de la inversión no ha bajado-. En el contexto de Market Observatory esto significa que:
                    <ul>
                        <li>Los Patrones Alcistas pueden estar infravalorados. A la rentabilidad acumulada habría que sumarle los dividendos repartidos en el periodo.</li>
                        <li>Los Patrones Bajistas pueden estar sobrevalorados. A la rentabilidad acumulada habría que restarle los dividendos repartidos en el periodo</li>
                    </ul>

                </li>
                <li>Para ampliar información sobre el Detalle de un Patrón leer <a ng-click="openModalInstance('services/detailed_description/basic')">Detalle Patrón Acciones.</a></li>
            </ul>
            <p>
                <img src="assets/img/textup.png"> <a style="padding-left: 5px;" class="toggle-link" ng-click="show=!show">Mostrar
                menos</a>
            </p>
        </div>

        <li>Nunca arriesgue un porcentaje elevado de su cartera en una sola operación. Use siempre técnicas de Gestión del Dinero.</li>

        <li>La información de la Estrategia NO se puede considerar en ningún caso una recomendación.</li>
    </ul>
</p>

<div class="detail-tab">{{actualTab}}</div>
<table class="detail-table">
    <thead>
    <tr>
        <th colspan="10">
            <table class="detail-header">
                <tr>
                    <td rowspan="2"></td>
                    <td rowspan="2"></td>
                    <td></td>
                    <td></td>
                    <td rowspan="2"><img src="'../assets/img/currency-detail.png"></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td rowspan="2">Año</td>
            <td colspan="2">Entrada --></td>
            <td colspan="2"><-- Salida</td>
            <td>Rentabilidad</td>
            <td colspan="2">Mejor Ganancia</td>
            <td colspan="2">Peor Pérdida</td>
        </tr>
        <tr>
            <td rowspan="2">Año</td>
            <td colspan="2">Entrada --></td>
            <td colspan="2"><-- Salida</td>
            <td>Rentabilidad</td>
            <td colspan="2">Mejor Ganancia</td>
            <td colspan="2">Peor Pérdida</td>
        </tr>
        <tr ng-repeat="row in myData">
            <td>{{row.year}}</td>
            <td>{{row.entryDate}}</td>
            <td><b>{{row.entryValue}}</b></td>
            <td>{{row.exitDate}}</td>
            <td><b>{{row.exitValue}}</b></td>
            <td><b>{{row.returnValue}}</b></td>
            <td>{{row.bestGainDate}}</td>
            <td><b>{{row.bestGain}}</b></td>
            <td>{{row.worstLostDate}}</td>
            <td><span ng-class="{'negative-percent': row.worstLost < 0}"><b>{{row.worstLost}}</b></span></td>
        </tr>
    </tbody>
</table>