.detail-tab{
  background-color: #ff8200;
  border-radius: 0;
  color: #ffffff;
  font-family: "fontpo-bold", "verdana";
  font-size: 12px;
  border: none;
  z-index: 10;
  width: 187px;
  padding: 6px 0;
  text-align: center;
  vertical-align: middle;
}

.detail-header{
  width: 960px;
  background-color: @header-detail;
  tr{
    th{
      white-space: nowrap;
      background-color: @header-detail !important;
      border: none !important;
      color: @white;
      padding-left: 10px;
      &:first-child{
        width: 1%;
        white-space: nowrap;
      }
      &:nth-child(6){
        width: 55px;
      }
      &:nth-child(3){
        max-width: 300px;
      }
      &:nth-child(4){
        width: 115px;
      }
      &:nth-child(5){
        width: 55px;
      }
      div{
        overflow: hidden;
        word-break: break-all;
      }
    }
  }
    &:nth-child(2){
      td {
        &:first-child {
          color: @white;
        }
      }
    }
}

.detail-separator{
    overflow: hidden;
    word-break: break-all;
}

.detail-div-tooltip-container{
  overflow: visible;
}

.hover-row-detail {
  &:hover {
    td{
      &:nth-child(1) {
        background-color: #3D3D3F;
        color: #FF8200 !important;
        cursor: pointer;
      }
      &:nth-child(6), &:nth-child(7)  {
        background-color: @greyOver !important;
      }
      background-color: @greyOver;
    }
  }
}
.detail-table{
  width: 960px;
  text-align: center;
  border-collapse: separate;
  margin-bottom: 20px;
  border-bottom: 2px solid #6f7072;
  img{
    margin-right: 5px;
  }
  thead {
    background: @black;
    th {
      background: @black;
      color: @white;
      font-size: 11px;
      .buy-color, .sell-color{
        font-size: 12px;
      }
    }
  }
  tbody{
    font-size: 10px;
    tr{


      height: 25px;
      &:nth-child(odd) {
        background-color: @white;
        td{
          &:nth-child(6){
             background-color: @lightYellowEven;
          }
        }
      }
      &:nth-child(even) {
        background-color: @smokeGrey;
        td{
          &:nth-child(6){
            background-color: @lightYellowOdd;
          }
        }
      }
      &:first-child{
        background: @greyBorderColor;
        color: @white;
        font-size: 11px;
        td{
          border-top: 3px solid @white;
          &:nth-child(6){
            background: @greyBorderColor;
          }
        }
      }
      &:nth-child(2){
        td {
          &:first-child {
            border-right: 1px solid #6F7071;
            border-top: 0;
            background: @greyPaginator;
            color: @black;
            font-family: fontpo, Verdana;
          }
          &:nth-child(6){
            background: @greyPaginator;
          }
        }
        background: @greyPaginator;
      }
      &:last-child{
        td {
          border-bottom: 3px solid @white;
        }
      }
      td{
        &:first-child{
          border-right: 5px solid @white;
          border-top: 3px solid @white;
          background: @orangeColor;
          color: @white;
          font-family: 'fontpo-bold';
        }
        &:nth-child(1){
          width: 73px;
        }
        &:nth-child(2), &:nth-child(4), &:nth-child(7), &:nth-child(9){
          width: 105px;
        }
      }
    }
  }
}

.currency-detail{
  font-size: 13px;
}

.label-date-header-detail{
  color: @white !important;
  font-size: 11px;
}

.graphic-header{
  background: @black;
  color: @white;
  display: inline-block;
  width: 960px;
  padding: 5px 10px;
  font-family: fontpo-bold;
  float:left;
}

.year-caption{
  background: @brown-caption;
  width: 27px;
  height: 3px;
  display: inline-block;
  margin-right: 5px;
}

.price-caption{
  background: @blue-caption;
  width: 27px;
  height: 3px;
  display: inline-block;
  margin-right: 5px;
}

.six-year-caption{
  background: @orange-caption;
  width: 27px;
  height: 3px;
  display: inline-block;
  margin-right: 5px;
}

.index-same-period-table{
  width: 960px;
  font-size: 11px;
  color: @black;
  text-align: center;
  border-bottom: 1px solid @greyLabel;
  border-collapse: inherit;
  thead {
    color: @white;
    tr {
      &:first-child{
        th{
          &:nth-child(2){
            padding-left: 18px;
          }
        }
      }
      th {
        &:first-child{
          text-align: left;
          padding-left: 10px;
          width: 311px;
        }
        img{
          margin-right: 9px;
        }
        background: @black;
        text-align: center;
        height: 26px;
      }
      &:nth-child(2){
        th {
          text-align: center;
          width: 180px;
        }
      }
    }
  }
  tbody{
    font-family: fontpo-bold;
    color: @black;
    tr{
      &:nth-child(odd) {
        background-color: @smokeGrey;
      }
      &:nth-child(even) {
        background-color: @white;
      }
      &:first-child{
        border-top: 2px solid @white;
      }
      td{
        &:first-child{
          font-family: fontpo-bold;
          background: @orangeColor;
          color: @white;
          text-align: left;
          padding-left: 20px;
          border-top: 2px solid @white;
          border-right: 6px solid @white;
          height: 25px;
        }
      }
    }
  }
}

.summary-table{
  margin-bottom: 20px;
  width: 960px;
  color: @black;
  text-align: center;
  border-bottom: 1px solid @greyLabel;
  thead {
    tr {
      th {
        color: @white;
        text-align: center;
        background: @black;
        border: 1px solid @greyLabel;
      }
    }
  }
  tbody{
    font-family: fontpo-bold;
    tr{
      height: 25px;
      &:nth-child(odd) {
        background-color: @smokeGrey;
      }
      &:nth-child(even) {
        background-color: @white;
      }
      td{
        font-size: 10px;
        &:first-child{
          font-family: fontpo;
          background: @black;
          color: @white;
        }
      }
    }
  }
}

.graphic-container{
  clear: both;
  float: left;
  width: 960px;
  height: 425px;
  border-left: 1px solid @greyColor;
  border-right: 1px solid @greyColor;
  img{
    margin: 25px auto;
    display: inherit;
  }
}


.div-graph-detail {
  position: absolute;
  top: 53px;
  padding-top: 20px;
  text-align: center;
  z-index: 100;
  background: white;
  left: 44%;
 /* max-height: 480px;
  max-width: 888px;*/
}

.close-graphic-button-detail {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 860px;
  clear: both;
  cursor: pointer;
  background-image: url('../assets/img/close_modal.png');
  background-size: 16px 16px;
}

.detail-container{
  border: 1px solid @greyColor;
  width: 962px;
  float:left;
  margin-bottom: 80px;
  position: relative;
}

.pdf-icon-detail{
  background-image: url('../assets/img/pdf_icon.png');
  height: 30px;
  width: 30px;
  float: right;
  background-repeat: no-repeat;
  margin-top: -35px;
  background-position: 50%;
  cursor: pointer;
  margin-bottom: 5px;
  &:hover{
    background-color: @orangeColor;
  }
}

.pair-detail-table{
  width: 960px;
  text-align: center;
  border-collapse: separate;
  margin-bottom: 20px;
  border-bottom: 2px solid #6f7072;
  position: relative;
  img{
    margin-right: 5px;
  }
  thead {
    background: @black;
    th {
      background: @black;
      color: @white;
      font-size: 11px;
      .buy-color, .sell-color{
        font-size: 12px;
      }
    }
    tr{
      &:nth-child(1){
        th{
          &:nth-child(1), &:nth-child(2), &:nth-child(3){
            vertical-align: bottom;
          }
        }

      }
      &:nth-child(2){
        th{
          &:nth-child(1), &:nth-child(2), &:nth-child(3){
            vertical-align: top;
          }
        }
      }
    }
  }
  tbody{
    font-size: 10px;
    tr{
      height: 25px;
      &:nth-child(odd) {
        background-color: @white;
        td{
          &:nth-child(6), &:nth-child(7){
            background-color: @lightYellowEven;
          }
        }
      }
      &:nth-child(even) {
        background-color: @smokeGrey;
        td{
          &:nth-child(6), &:nth-child(7){
            background-color: @lightYellowOdd;
          }
        }
      }
      &:first-child{
        background: @greyBorderColor;
        color: @white;
        font-size: 11px;
        td{
          border-top: 3px solid @white;
          &:nth-child(6), &:nth-child(7){
            background-color: @greyBorderColor;
          }
        }
      }
      &:nth-child(2){
        td {
          &:first-child {
            border-right: 1px solid #6F7071;
            border-top: 0;
            background: @greyPaginator;
            color: @black;
            font-family: fontpo, Verdana;
          }
          &:nth-child(6), &:nth-child(7){
            background-color: @greyPaginator;
          }
        }
        background: @greyPaginator;
      }
      &:last-child{
        td {
          border-bottom: 3px solid @white;
        }
      }
      td{
        &:first-child{
          border-right: 5px solid @white;
          border-top: 3px solid @white;
          background: @orangeColor;
          color: @white;
          font-family: 'fontpo-bold';
        }
        &:nth-child(1){
          width: 73px;
        }
        &:nth-child(2), &:nth-child(8), &:nth-child(10){
          width: 105px;
        }
        &:nth-child(4){
          width: 70px;
        }
        &:nth-child(6), &:nth-child(7){
          width: 65px;
        }
      }
    }
  }
}