<p class="super-border private-black-title">Detalle del Patrón</p>
<!--DETAIL PATTERN STOCKPAIR -->
<div ng-show="productType == 'PAIR_STOCK'" style="clear: both;">
    <p>
    <ul class="public-list-first-level">
        <li>Las cotizaciones son al <strong>Cierre del Mercado</strong> del horario regular –end of day-.         <div style="display: inline-block;" ng-click="show=!show" ng-show="!show"><img
                src="assets/img/textdown.png"><a class="toggle-link" style="padding-left: 5px;">Mostrar más</a>
        </div></li>

        <div ng-show="show">
            <ul class="public-list-first-level">
                <li>Las Fechas de Entrada -o apertura- y Salida -o cierre- usan el siguiente convenio:
                    <ul class="public-list-second-level">
                        <li>Si Fecha de <strong>Entrada</strong> coincide en festivo se traslada al “<strong>Siguiente</strong> día con sesión”  </li>
                        <li>Si Fecha de <strong>Salida</strong> coincide en festivo se traslada al “<strong>Anterior</strong> día con sesión” </li>
                    </ul>
                </li>
                <li>En los valores poco líquidos, antes de tomar una posición debe analizar el Volumen diario negociado y dimensionar correctamente el tamaño de su orden.</li>
                <li>Una “<strong>Venta a Corto</strong>” tiene un riesgo mayor que una Compra y aumenta notablemente en valores de alta volatilidad y que negocian escaso Volumen.</li>
                <li>Impacto de los Dividendos. Las cotizaciones recogen el reparto de los dividendos, un valor que cotiza a 10 EUR y distribuye en dividendos 1 EUR, baja su cotización a 9 EUR –aunque el
                    valor neto de su inversión no ha disminuido-. En el contexto de Market Observatory esto significa que:
                    <ul class="public-list-second-level">
                        <li>El Lado Alcista puede estar infravalorado. A la rentabilidad acumulada habría que sumarle los dividendos repartidos en el periodo. </li>
                        <li>El Lado Bajista puede estar sobrevalorado. A la rentabilidad acumulada habría que restarle los dividendos repartidos en el periodo</li>
                    </ul>
                </li>
            </ul>
            <p>
                <img src="assets/img/textup.png"> <a style="padding-left: 5px;" class="toggle-link" ng-click="show=!show">Mostrar
                menos</a>
            </p>
        </div>

        <li>Nunca arriesgue un porcentaje elevado de su cartera en una sola estrategia. Use siempre técnicas de Gestión del Dinero.</li>

        <li>La información de la estrategia no puede ser considerada en ningún caso una recomendación.</li>
    </ul>
    </p>
</div>

<div ng-show="productType == 'PAIR_INDEX'" style="clear: both;">
    <p>
    <ul class="public-list-first-level">
        <li>Las cotizaciones son al Cierre del Mercado del horario regular –end of day-.         <div style="display: inline-block;" ng-click="show=!show" ng-show="!show"><img
                src="assets/img/textdown.png"><a class="toggle-link" style="padding-left: 5px;">Mostrar más</a>
        </div></li>

        <div ng-show="show">
            <ul class="public-list-first-level">
                <li>Las Fechas de Entrada y Salida usan el siguiente convenio:
                    <ul class="public-list-second-level">
                        <li>Si Fecha de <strong>Entrada</strong> coincide en festivo se traslada al “Siguiente día con sesión”</li>
                        <li>Si Fecha de <strong>Salida</strong> coincide en festivo se traslada al “Anterior día con sesión”</li>
                    </ul>
                </li>
            </ul>
            <p>
                <img src="assets/img/textup.png"> <a style="padding-left: 5px;" class="toggle-link" ng-click="show=!show">Mostrar
                menos</a>
            </p>
        </div>

        <li>Usted no puede comprar acciones o participaciones directamente de un Índice, para ello debe usar diferentes instrumentos como Fondos, ETF’s, CFD’s y Futuros. </li>
        <li>Nunca arriesgue un porcentaje elevado de su cartera en una sola estrategia.</li>
        <li>La información de la estrategia no puede ser considerada en ningún caso una recomendación.</li>
    </ul>
    </p>
</div>


<div class="detail-tab">{{actualTab}}</div>
<div class="pdf-icon-detail" ng-click="generateHistoricalDetailPdf(infoPattern.id)" ng-disabled="disableButton"></div>
<div class="detail-container">
    <table class="pair-detail-table">
        <thead>
        <tr>
            <th colspan="11">
                <table class="detail-header">
                    <tr>
                        <th style="padding-left: 20px;">
                            <span class="buy-color"><b>COMPRAR</b></span>
                        </th>

                        <th class="buy-color">
                            <div  tooltip-html-unsafe="{{infoPattern.name}}" class="detail-div-tooltip-container cursor-help">
                                <div class="detail-separator"><b >{{infoPattern.name}}</b></div>
                            </div>
                        </th>
                        <th class="buy-color">
                            <div  tooltip-html-unsafe="{{infoPattern.sector}} / {{infoPattern.industry}}" class="detail-div-tooltip-container cursor-help">
                                <div class="detail-separator"><b >{{infoPattern.sector}}<span ng-show="infoPattern.sector != null && infoPattern.industry">/</span> {{infoPattern.industry}}</b></div>
                            </div>
                        </th>
                        <th class="label-date-header-detail"><img src='assets/img/entry_orange_arrow.png'>Fecha Entrada</th>
                        <th>{{ infoPattern.entryDate | date: 'dd MMM'}}</th>
                        <th class="currency-detail" rowspan="2">
                            <div  tooltip-html-unsafe="{{infoPattern.currency}}" class="detail-div-tooltip-container cursor-help">
                                <div class="detail-separator"><img src='assets/img/currency-detail.png'>{{infoPattern.currency}}</div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th style="padding-left: 20px;">
                            <span class="sell-color"><b>VENDER</b></span>
                        </th>

                        <th class="sell-color">
                            <div  tooltip-html-unsafe="{{infoPattern.nameBearishAsset}}" class="detail-div-tooltip-container cursor-help">
                                <div class="detail-separator"><b >{{infoPattern.nameBearishAsset}}</b></div>
                            </div>
                        </th>
                        <th class="sell-color">
                            <div  tooltip-html-unsafe="{{infoPattern.sectorBearishAsset}} / {{infoPattern.industryBearishAsset}}" class="detail-div-tooltip-container cursor-help">
                                <div class="detail-separator"><b >{{infoPattern.sectorBearishAsset}}<span ng-show="infoPattern.sectorBearishAsset != null && infoPattern.industryBearishAsset">/</span> {{infoPattern.industryBearishAsset}}</b></div>
                            </div>
                        </th>
                        <th class="label-date-header-detail"><img src='assets/img/exit_orange_arrow.png'>Fecha Salida</th>
                        <th>{{ infoPattern.exitDate | date: 'dd MMM'}}</th>
                    </tr>
                </table>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td rowspan="2" >Año</td>
            <td colspan="2" class="border-right-table">Entrada <img src='assets/img/entry_arrow.png'></td>
            <td colspan="2" class="border-right-table"><img src='assets/img/exit_arrow.png'> Salida</td>
            <td colspan="2" class="border-right-table">Rentabilidad</td>
            <td colspan="2" class="border-right-table">Mejor Ganancia</td>
            <td colspan="2" class="border-right-table">Peor Pérdida</td>
        </tr>
        <tr>
            <td>Fecha</td>
            <td class="border-right-table">Precio</td>
            <td class="sub-border-right-table" style="width: 100px">Fecha</td>
            <td class="border-right-table">Precio</td>
            <td class="sub-border-right-table">Lados %</td>
            <td class="border-right-table">Total %</td>
            <td class="sub-border-right-table">Fecha</td>
            <td class="border-right-table" style="width: 65px">%</td>
            <td class="sub-border-right-table">Fecha</td>
            <td class="border-right-table" style="width: 65px">%</td>
        </tr>
        <tr ng-repeat="row in myData" class="hover-row-detail">
            <td ng-click="loadGraphic($event,row.yearChartURL);$event.stopPropagation();">{{row.year}}</td>
            <td class="sub-border-right-table">{{row.entryDate | date: 'dd/MMM/yy'}}</td>
            <td class="border-right-table">
                <span class="buy-color"><b>{{row.entryValue |  twoDecimals}}</b></span>
                <br>
                <span class="sell-color"><b>{{row.bearishEntryValue |  twoDecimals}}</b></span>
            </td>
            <td class="sub-border-right-table">{{row.exitDate | date: 'dd/MMM/yy'}}</td>
            <td class="border-right-table">
                <span class="buy-color"><b>{{row.exitValue |  twoDecimals}}</b></span>
                <br>
                <span class="sell-color"><b>{{row.bearishExitValue |  twoDecimals}}</b></span>
            </td>
            <td class="sub-border-right-table">
                <span class="buy-color"><b>{{row.bullishReturn |  twoDecimals}}</b></span>
                <br>
                <span class="sell-color"><b>{{row.bearishReturn |  twoDecimals}}</b></span>
            </td>
            <td class="border-right-table" ng-class="{'negative-percent': row.returnValue < 0}"><b>{{row.returnValue |  twoDecimals}}</b></td>
            <td class="sub-border-right-table"><span ng-show="row.bestGainValue >= 0.01">{{row.bestGainDate | date: 'dd/MMM/yy'}}</span></td>

            <td class="border-right-table" ng-class="{'negative-percent': row.bestGainValue < 0}"><span ng-show="row.bestGainValue >= 0.01"> <b>{{row.bestGainValue |  twoDecimals}}</b></span></td>
            <td class="sub-border-right-table"><span ng-show="row.worstLostValue <= -0.01">{{row.worstLostDate | date: 'dd/MMM/yy'}}</span></td>
            <td class="border-right-table"><span ng-class="{'negative-percent': row.worstLostValue < 0}" ng-show="row.worstLostValue <= -0.01"><b>{{row.worstLostValue |  twoDecimals}}</b></span></td>
        </tr>
        </tbody>
    </table>

    <table class="summary-table">
        <thead>
        <tr>
            <th rowspan="2">Resumen</th>
            <th rowspan="2">Años</th>
            <th colspan="2">Rentabilidad Promedio</th>
            <th colspan="3">Rentabilidad (%)</th>
            <th rowspan="2">Duración Estrategia (días)</th>
        </tr>
        <tr>
            <th><span class="buy-color">Lado Comprador</span></th>
            <th><span class="sell-color">Lado Vendedor</span></th>
            <th>Acumulada</th>
            <th>Promedio</th>
            <th>Diaria</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Ganancias</td>
            <td class="sub-border-right-table">{{infoPattern.win}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.bullishAverageWin < 0}">{{infoPattern.bullishAverageWin |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.bearishAverageWin < 0}">{{infoPattern.bearishAverageWin |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.accumulatedWin < 0}">{{infoPattern.accumulatedWin |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.accumulatedWin / infoPattern.win) < 0}">{{(infoPattern.win > 0 ? infoPattern.accumulatedWin / infoPattern.win : 0) |  twoDecimals}}</td>
            <td class="sub-border-right-table">-</td>
            <td class="sub-border-right-table">-</td>
        </tr>
        <tr>
            <td>Pérdidas</td>
            <td class="sub-border-right-table">{{infoPattern.loss}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.bullishAverageLoss < 0}">{{infoPattern.bullishAverageLoss |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.bearishAverageLoss < 0}">{{infoPattern.bearishAverageLoss |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.accumulatedLoss < 0}">{{infoPattern.accumulatedLoss |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.accumulatedLoss / infoPattern.loss) < 0}">{{(infoPattern.loss > 0 ? infoPattern.accumulatedLoss / infoPattern.loss : 0) |  twoDecimals}}</td>
            <td class="sub-border-right-table">-</td>
            <td class="sub-border-right-table">-</td>
        </tr>
        <tr>
            <td>Total</td>
            <td class="sub-border-right-table">{{infoPattern.win + infoPattern.loss}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.bullishAverage) < 0}">{{infoPattern.bullishAverage |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.bearishAverage) < 0}">{{infoPattern.bearishAverage |  twoDecimals}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.accumulatedReturn) < 0}">{{infoPattern.accumulatedReturn |  twoDecimals}}</td>
            <!--<td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.accumulatedWin / infoPattern.win) < 0}">{{(infoPattern.accumulatedWin + infoPattern.accumulatedLoss / (infoPattern.win + infoPattern.loss)) |  twoDecimals}}</td>-->
            <td class="sub-border-right-table" ng-class="{'negative-percent': (infoPattern.averageReturn < 0)}">{{infoPattern.averageReturn}}</td>
            <td class="sub-border-right-table" ng-class="{'negative-percent': infoPattern.dailyReturn < 0}">{{infoPattern.dailyReturn |  twoDecimals}}</td>
            <td class="sub-border-right-table">{{infoPattern.duration}}</td>
        </tr>
        </tbody>
    </table>

    <table class="index-same-period-table" ng-show="infoPattern.samePeriodIndices.length > 0">
        <thead>
        <tr>
            <th rowspan="2">Índice (Igual Periodo)</th>
            <th><img src='assets/img/entry_orange_arrow.png'>Fecha Entrada</th>
            <th>{{infoPattern.entryDate | date: 'dd MMM'}}</th>
            <th colspan="2" class="border-right-table">Rentabilidad (%)</th>
            <th colspan="2">Años</th>
        </tr>
        <tr>
            <th><img src='assets/img/exit_orange_arrow.png'>Fecha Salida</th>
            <th>{{infoPattern.exitDate | date: 'dd MMM'}}</th>
            <th>Acumulada</th>
            <th class="border-right-table">Promedio</th>
            <th>Subida</th>
            <th>Bajada</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rowSamePeriod in infoPattern.samePeriodIndices">
            <td colspan="3">{{rowSamePeriod.asset.longName}}</td>
            <td class="border-right-table" ng-class="{'negative-percent': rowSamePeriod.accumulatedReturn < 0}">{{rowSamePeriod.accumulatedReturn}}</td>
            <td class="border-right-table" ng-class="{'negative-percent': rowSamePeriod.averageReturn < 0}">{{rowSamePeriod.averageReturn}}</td>
            <td class="border-right-table">{{rowSamePeriod.win}}</td>
            <td>{{rowSamePeriod.loss}}</td>
        </tr>
        </tbody>
    </table>
    <div class="copyright">
        Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
    </div>
</div>

<div class="pdf-icon-detail" ng-click="generateGraphicsPdf(infoPattern.id ,'PRICE');" ng-disabled="disableButton"></div>
<div class="graphic-header">
    <div class="float-left">
        <span class="buy-color">{{infoPattern.name}}</span> / <span class="sell-color">{{infoPattern.nameBearishAsset}}</span>
        <br>
        Precio / Patrón Estacional 15 años (00-14)
    </div>
    <div class="float-right" style="margin-top: 15px;">
        <div class="year-caption"></div>15 Años Patrón <div class="price-caption"></div> Precio
    </div>
</div>
<div class="graphic-container">
    <img ng-src="{{infoPattern.priceChartURL}}" class="graphic-detail">
</div>
<div class="graphic-header">
    <div class="float-left">
        <span class="buy-color">{{infoPattern.name}}</span> / <span class="sell-color">{{infoPattern.nameBearishAsset}}</span>
        <br>
        Patrones Estacionales 15 años (00-14) / 6 años (09-14)
    </div>
    <div class="float-right" style="margin-top: 15px;">
        <div class="year-caption"></div>15 Años Patrón <div class="six-year-caption"></div> 6 Años Patrón
    </div>
</div>
<div class="graphic-container" style="margin-bottom: 80px;border-bottom: 1px solid #9B9C9E;">
    <img ng-src="{{infoPattern.sixYearChartURL}}" class="graphic-detail">
    <div class="copyright" style="margin-top: -18px;">
        Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
    </div>
</div>



<div class="pdf-icon-detail" ng-click="generateGraphicsPdf(infoPattern.id ,'WEEKLY');" ng-disabled="disableButton"></div>
<div class="graphic-header">
    <div class="float-left">
        <span class="buy-color">{{infoPattern.name}}</span> / <span class="sell-color">{{infoPattern.nameBearishAsset}}</span>
        <br>
        Gráfico Semanal
    </div>
    <div class="float-right" style="margin-top: 15px;">
        <div class="price-caption"></div> Precio
    </div>
</div>
<div class="graphic-container">
    <img ng-src="{{infoPattern.weekChartURL}}" class="graphic-detail">
</div>
<div class="graphic-header">
    <div class="float-left">
        <span class="buy-color">{{infoPattern.name}}</span> / <span class="sell-color">{{infoPattern.nameBearishAsset}}</span>
        <br>
        Gráfico Mensual
    </div>
    <div class="float-right" style="margin-top: 15px;">
        <div class="price-caption"></div> Precio
    </div>
</div>
<div class="graphic-container" style="border-bottom: 1px solid #9B9C9E;margin-bottom: 20px;">
    <img ng-src="{{infoPattern.monthChartURL}}" class="graphic-detail">
    <div class="copyright" style="margin-top: -18px;">
        Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
    </div>
</div>