
<tabset>
    <tab ng-click="onClickTab(mySubscriptionsTablePack.value)" ng-repeat="mySubscriptionsTablePack in mySubscriptionsTablePacks" heading="{{mySubscriptionsTablePack.title | translate}}" active="mySubscriptionsTablePack.active" disabled="tab.disabled">
        <!--<div ng-show="loading">
            <div class="loading-div no-patterns-container loading-subs"   ng-show="loading"><img src="assets/img/ajax-loader.gif" class="loading-gif"><span>Cargando calendario, por favor espere...</span></div>
        </div>-->
        <div ng-show="!loading">
            <div ng-include="mySubscriptionsTablePack.url"></div>
        </div>
    </tab>
</tabset>
<div ng-show="loading">
    <div class="loading-div no-patterns-container loading-subs "   ng-show="loading"><img src="assets/img/ajax-loader.gif" class="loading-gif"><span>{{'SUBSCRIPTIONS.subscription_loading' | translate}}</span></div>
</div>
