.pack-cell{
  width:275px;
  color:white;
  background-color: #808080;
}
.pack-name-cell{
  text-align: center;
  color: black;
  font-size: 10px;
  padding: 2px 2px;
  vertical-align: middle;
  border: 1px solid black;
  border-right: 2px solid #6f7072;
}