.table-header-top-patterns{
  border-top: 3px solid white !important;
  font-family: "fontpo";
  font-size: 11px;
  color: @white;
  font-weight: lighter !important;
  background-color: @greyBorderColor;
  th {
    padding: 4px;
    height: 20px;
    text-align: center;
  }
}

.lookup-stock-column-width{
  width: 220px;
}

.patterns-stocks-column-width{
  width: 300px;
}

.patterns-index-column-width{
  width: 700px;
}

.patterns-futures-column-width{
  width: 450px;
}

.filters-margin{
  margin-top: -10px;
}
.table-header-bottom-patterns {
  background-color: @greyPaginator;
  color: @black;
  font-family: "fontpo";
  font-weight: lighter !important;
  font-size: 11px;
  th {
    padding: 4px;
    height: 15px;
    text-align: center;
    border-bottom: 1px solid @white;
  }
}

.table-id-header {
  vertical-align: middle;
  font-size: 11px;
  background-color: @orangeColor !important;
  border: 0 !important;
  color: white;
  border-top: 3px solid white !important;
  border-right: 5px solid white !important;
  font-size: 11px;
  border-bottom: 3px solid white !important;
  height: 30px;
  width: 45px;
}

.table-id-orange {
  background-color: @orangeColor;
  color: white !important;
  border-bottom: 3px solid white !important;
  border-right: 5px solid white !important;
  font-size: 8px !important;
  font-family: fontpo-bold, verdana;
  padding: 7px 4px 7px;
  text-align: center;
}
.table-id-orange-hover {
    background-color: #3D3D3F;
    color: #FF8200 !important;
}

.table-cell-patterns {
  font-size: 10px;
  font-family: fontpo;
  line-height: 11px;
  padding: 0px 5px;
  text-align: center;
}

.total-patterns {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.max-length-pairs-sector {
  height: 12px !important;
  overflow: hidden !important;
  word-break: break-all !important;
}

.table-pattern {

  tr {
    &:hover {

      td{
        &:nth-child(1) {
          background-color: #3D3D3F;
          color: #FF8200 !important;
        }
        background-color: @greyOver;
      }
    }


  }
}

.private-zone-tittle {
  float: left;
  font-size: 18px;
  margin-bottom: 0.4em;
  border-top: 1px solid @black;
  font-family: fontpo, verdana !important;
  height: 22px;
}

.footer-table-private {
  height: 38px;
  position: relative;
  float: left;
  top: 2px;
  padding: 8px 25px;
  width: 950px;
  margin-bottom: 3px;
  background-color: @greyBorderColor;
  color: @white;
  font-family: fontpo-bold;
  font-size: 11px;
}


/* favourites */
.current-favourite {
  width: 18px ;
  height: 17px !important;
  border: 0 ;
  margin: auto;
  padding: 0 ;
  background: url('../assets/img/favourites.png') scroll !important;
  color: transparent ;
}
.current-favourite:hover{
  background-position: 0 37px !important;
}

.favourite-added {
  background-position: 0 18px !important;
}

.text-limitator {
  height: 11px;
  overflow: hidden;
  word-break: break-all;
}

.month-filter {
  color: black;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}