.table-header-top-patterns{
  border-top: 3px solid white !important;
  font-family: "fontpo";
  font-size: 11px;
  color: @white;
  font-weight: lighter !important;
  background-color: @greyBorderColor;
  th {
    padding: 4px 4px 4px 4px;
    height: 20px;
    text-align: center;
  }
}

.table-header-bottom-patterns {
  background-color: @greyPaginator;
  color: @black;
  font-family: "fontpo";
  font-weight: lighter !important;
  font-size: 11px;
  th {
    padding: 4px 4px 4px 4px;
    height: 15px;
    text-align: center;
  }
}

.table-id-header {
  vertical-align: middle;
  font-size: 11px;
  background-color: @orangeColor !important;
  border: 0px !important;
  color: white;
  border-top: 3px solid white !important;
  border-right: 5px solid white !important;
  font-size: 11px;
  border-bottom: 3px solid white !important;
  height: 30px;
  width: 45px;
}

.table-id-orange {
  background-color: @orangeColor;
  color: white !important;
  border-bottom: 3px solid white !important;
  border-right: 5px solid white !important;
  font-size: 8px !important;
  font-family: fontpo-bold, verdana;
  padding: 7px 3px 7px;
  text-align: center;
}
.table-id-orange-hover {
    background-color: #3D3D3F;
    color: #FF8200 !important;
}

.table-cell-patterns {
  font-size: 10px;
  font-family: fontpo;
  line-height: 11px;
  padding: 2px;
  text-align: center;
}

.total-patterns {
  float: left;
  margin-right: 10px;
  margin-top: 3px;
}

.max-length-pairs-sector {
  height: 12px !important;
  overflow: hidden !important;
  word-break: break-all !important;
}

.table-pattern {

  tr {
    &:hover {

      td{
        &:nth-child(1) {
          background-color: #3D3D3F;
          color: #FF8200 !important;
        }
        background-color: @greyOver;
      }
    }


  }
}