<table class="tables-pack-home">
    <!--<thead>-->
    <tr class="header-table-pack">
        <td colspan="4">
            {{actualDate | date:'MMMM yyyy' | uppercase}}
        </td>
    </tr>
    <tr class="subheader-table-pack">
        <td></td>
        <td style="width:198px;">Regi&oacute;n</td>
        <td style="width:523px;">Mercados</td>
        <td>N&uacute;mero de Patrones</td>
    </tr>
   <!-- </thead>
    <tbody>-->
    <tr>
        <td class="area-cell" style="border-top: none;" rowspan="{{homeTablePack.americaContent.length + 1}}">AMÉRICA</td>
    </tr>
    <tr ng-repeat="pack in homeTablePack.americaContent track by $index" ui-sref="catalog({packCode: pack.pack.code, month: 0})"
        ng-class="{'table-home-odd': !($index%2), 'table-home-even': ($index%2)}">
        <td ><span tooltip="{{pack.pack.name}} ({{pack.letterFrom}} - {{pack.letterUntil}})">{{pack.pack.name}}</span></td>
        <td>{{pack.pack.scopeText}}</td>
        <td>{{pack.numPatterns}}</td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines" rowspan="{{homeTablePack.asiaContent.length + 1}}">ASIA<br> PACÍFICO</td>
    </tr>
        <tr ng-repeat="pack in homeTablePack.asiaContent track by $index" ui-sref="catalog({packCode: pack.pack.code, month: 0})"
            ng-class="{'table-home-odd': !($index%2), 'table-home-even': ($index%2)}">
            <td><span tooltip="{{pack.pack.name}} ({{pack.letterFrom}} - {{pack.letterUntil}})">{{pack.pack.name}}</span></td>
            <td>{{pack.pack.scopeText}}</td>
            <td>{{pack.numPatterns}}</td>
        </tr>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines" rowspan="{{homeTablePack.europeContent.length + 1}}">EUROPA<br> ÁFRICA<br> ORIENTE MEDIO</td>
            <tr ng-repeat="pack in homeTablePack.europeContent track by $index " ui-sref="catalog({packCode: pack.pack.code, month: 0})"
                ng-class="{'table-home-odd': !($index%2), 'table-home-even': ($index%2)}">
                <td><span tooltip="({{pack.letterFrom}} - {{pack.letterUntil}})">{{pack.pack.name}}</span></td>
                <td>{{pack.pack.scopeText}}</td>
                <td>{{pack.numPatterns}}</td>
            </tr>
    </tr>

</table>