<table class="tables-pack-home">
    <thead>
    <tr class="header-table-pack">
        <td colspan="4">
            {{actualDate | date:'MMMM yyyy' | uppercase}}
        </td>
    </tr>
    <tr class="subheader-table-pack">
        <td></td>
        <td>Regi&oacute;n</td>
        <td>Mercados</td>
        <td>N&uacute;mero de Patrones</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="area-cell">AM&Eacute;RICA</td>
        <td colspan="3">
            <table class="table-pack">
                <tbody>
                <tr ng-repeat="pack in homeTablePack.americaContent track by $index" ui-sref="catalog({packId: pack.id})">
                    <td>{{pack.region}}</td>
                    <td>{{pack.market}}</td>
                    <td>{{pack.numberPatterns}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines">ASIA<br> PAC&Iacute;FICO</td>
        <td colspan="3">
            <table class="table-pack">
                <tbody>
                <tr ng-repeat="pack in homeTablePack.asiaContent track by $index" ui-sref="catalog({packId: pack.id})">
                    <td>{{pack.region}}</td>
                    <td>{{pack.market}}</td>
                    <td>{{pack.numberPatterns}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td class="separator"></td>
    </tr>
    <tr>
        <td class="area-cell area-cell-several-lines">EUROPA<br> &Aacute;FRICA<br> ORIENTE MEDIO</td>
        <td colspan="3">
            <table class="table-pack">
                <tbody>
                <tr ng-repeat="pack in homeTablePack.europeContent track by $index " ui-sref="catalog({packId: pack.id})">
                    <td>{{pack.region}}</td>
                    <td>{{pack.market}}</td>
                    <td>{{pack.numberPatterns}}</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>