<div ng-controller="ProfileCtrl">
<form name="passwordForm" method="POST" autocomplete="on">
    <table class="profile-table" style="height: 145px; margin-top:20px;">
        <tr>
            <td colspan="4">
                <div class="orange-title">
                    Cambiar Password
                </div>
            </td>
        </tr>
        <tr>
            <td class="red-color-form">*</td>
            <td>
                Email actual
            </td>
            <td>
                <input type="text" class="signup-input"  style="width:200px;text-indent: 5px"
                       ng-maxlength="80"
                       ng-trim="false"
                       name="email" disabled ng-model="user.emailAddress" required="true"
                        alt="Email"
                       ng-class="{'warning-input': (profileForm.name.$error.required)
                                                  || ((profileForm.name.$error.pattern)
                                                  || profileForm.name.$error.maxlength)}"
                        >
            </td>
        </tr>
        <tr>
            <td class="red-color-form">*</td>
            <td>
                Password actual
            </td>
            <td>
                <input class="signup-input" ng-model="actualPassword" type="password"
                       name="passwordAc" required="true"
                       ng-pattern="passwordPatten" ng-trim="false"
                       style="width:200px;">
            </td>
            <td>
                    <span ng-show="(passwordSubmited) && (passwordError)"
                          class="red-color-form prices-font11">El password no es correcto</span>

            </td>


        </tr>
        <tr>
            <td class="red-color-form">*</td>
            <td>Password</td>
            <td>
                <input class="signup-input" ng-model="passwordUser" type="password"
                       name="password1" required="true"
                       ng-pattern="passwordPatten" ng-trim="false"
                       style="width:200px;" ng-minlength="8"></td>
            <td>

                <div class="red-color-form prices-font12"
                     ng-show="((passwordForm.password1.$error.minlength) && (passwordForm.password1.$dirty))">La
                    contrase&ntilde;a requiere de un m&iacute;nimo 8 caracteres
                </div>
                <div class="red-color-form prices-font12"
                     ng-show="((passwordForm.password1.$error.pattern) && (passwordForm.password1.$dirty))">
                    Caracteres inv&aacute;lidos en la contrase&ntilde;a
                </div>

            </td>
        </tr>
        <tr>
            <td class="red-color-form">*</td>
            <td>Repetir Password</td>
            <td>
                <input class="signup-input" ng-model="repeatPasswordUser" type="password"
                       name="password2" required="true" match="passwordUser"
                       style="width:200px;">
            </td>
            <td>
                <div class="red-color-form prices-font12"
                     ng-show="((passwordForm.password2.$error.mismatch) && (passwordForm.password2.$dirty))">
                    Los passwords no coinciden
                </div>

            </td>
        </tr>
        <tr>
            <td colspan="3" class="red-color-form prices-font10"
                style="text-align: left !important; padding-top: 13px;">*
                Campos
                obligatorios
            </td>

        </tr>
        <tr>
            <td colspan="2" style="padding-top:10px;">
                <button class="mo-button"
                        name="confirmPassword"
                        ng-click="savePassword()">

                    <!--    ng-disabled="passwordForm.$invalid">-->
                    Cambiar Password
                </button>

            </td>
            <td>
                <div><span ng-show="internalErrorPass" class="red-color-form prices-font11">Se ha producido un error interno, inténtelo luego</span>
                    <span ng-show="(!passwordError && (!internalErrorPass && (passwordSubmited)))"
                          class=" prices-font11">Se ha modificado el password con éxito</span>
                </div>
            </td>
            <td></td>
        </tr>

    </table>
</form>
</div>