<div ng-controller="ProfileCtrl">

    <div class="orange-title" style="float: none;margin: 20px;">Identificación Personal</div>

    <form name="profileForm" method="POST" autocomplete="on">
    <table class="profile-table">
        <tbody>
        <tr class="accountRowHeight">
            <td class="red-color-form">*</td>
            <td class="width-first-td"><span class="grey-label">Nombre y Apellidos</span></td>
            <td><input type="text"
                       ng-maxlength="80"
                       ng-pattern="namePattern" ng-trim="false"
                       name="name" ng-model="user.name" required="true"
                       class="profile-input" alt="Nombre"
                       ng-class="{'warning-input': (profileForm.name.$error.required)
                                                  || ((profileForm.name.$error.pattern)
                                                  || profileForm.name.$error.maxlength)}"
                    >
            </td>
            <td>
                <span ng-show="profileForm.name.$error.required"
                      class="red-color-form prices-font11">Campo obligatorio</span>
                <span ng-show="profileForm.name.$error.pattern" class="red-color-form prices-font11">El campo introducido contiene números o caracteres especiales</span>
            </td>
        </tr>
        <!--<tr class="accountRowHeight">
            <td class="red-color-form">*</td>
            <td class="width-first-td"><span class="grey-label">Apellido</span></td>
            <td><input id="lastname1" type="text" name="surname" required="true"
                       ng-maxlength="80"
                       ng-model="user.surname"
                       ng-pattern="namePattern" ng-trim="false"
                       class="profile-input"
                       ng-class="{'warning-input': (profileForm.surname.$error.required)
                                                  || ((profileForm.surname.$error.pattern)
                                                  || profileForm.surname.$error.maxlength)}"
                       alt="Apellido"></td>
            <td>
                <span ng-show="profileForm.surname.$error.required" class="red-color-form prices-font11">Campo obligatorio</span>
                <span ng-show="profileForm.surname.$error.pattern" class="red-color-form prices-font11">El campo introducido contiene números o caracteres especiales</span>
            </td>
        </tr>-->
        <tr class="accountRowHeight">
            <td class="red-color-form"></td>
            <td class="width-first-td"><span class="grey-label">Dirección</span></td>
            <td><input type="text" name="address"
                       ng-model="user.address" class="profile-input"
                       ng-class="{'warning-input':  (profileForm.address.$error.maxlength)}"
                       alt="Direccion"  ng-maxlength="200"></td>
            <td><span
                    class="red-color-form prices-font11"
                    ng-show="profileForm.address.$error.required">Campo obligatorio</span>
            </td>
        </tr>
        <tr class="accountRowHeight">
            <td class="red-color-form"> </td>
            <td class="width-first-td"><span class="grey-label">Ciudad</span></td>
            <td><input type="text" name="city"
                       ng-model="user.city" class="profile-input"
                       ng-class="{'warning-input':  (profileForm.city.$error.maxlength)}"
                       alt="Ciudad"></td>
            <td>
                <span class="red-color-form prices-font11"
                      ng-show="profileForm.city.$error.required">Campo obligatorio</span>
            </td>
        </tr>
        <tr class="accountRowHeight">
            <td class="red-color-form"> </td>
            <td class="width-first-td"><span class="grey-label">Código Postal</span></td>
            <td><input type="text" name="zipCode"
                       ng-pattern="zipPattern"
                       ng-class="{'warning-input':  (profileForm.zipCode.$error.maxlength)}"
                       ng-model="user.postalCode" class="profile-input"
                       alt="Codigo Postal"></td>
            <td><span
                    class="red-color-form prices-font11"
                    ng-show="profileForm.zipCode.$error.required">Campo obligatorio</span>

                <span ng-show="profileForm.zipCode.$error.pattern" class="red-color-form prices-font11">El campo introducido contiene caracteres especiales</span>
            </td>
        </tr>
        <tr class="accountRowHeight">
            <td class="red-color-form">*</td>
            <td class="width-first-td"><span class="grey-label">País</span></td>
            <td>
                <select class="signup-select" name="country" size="1"
                        ng-model="user.country"
                        required="true"
                        ng-class="{'warning-input': (profileForm.country.$error.required)}">
                    <option ng-repeat="item in countries" value="{{item.value}}"
                            ng-selected="{{item.value == user.country}}" ><!---->
                        {{item.name}}
                    </option>

                </select>
            </td>
        </tr>
        <tr class="accountRowHeight">
            <td class="red-color-form">*</td>
            <td class="width-first-td"><span class="grey-label">Idioma</span></td>
            <td>
                <select class="signup-select" name="language" size="1"
                        ng-model="user.language"
                        required="true"
                        ng-class="{'warning-input': (profileForm.language.$error.required)}">
                    <option ng-repeat="item in languages" value="{{item.value}}"
                            ng-selected="{{item.value == user.language}}" ><!---->
                        {{item.name}}
                    </option>

                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="padding-top: 13px;"><input class="mo-button"
                                                              name="confirmEdit"
                                                              ng-click="saveUser()"
                                                              value="Aceptar" type="button"></td>
            <td>
                <div><span ng-show="profileForm.$error.required || (profileForm.$error.pattern)"
                           class="red-color-form prices-font11">Hay campos erróneos</span></div>
                <div><span ng-show="internalError" class="red-color-form prices-font11">Se ha producido un error interno, inténtelo luego</span>
                </div>
                <div><span ng-show="userSaved" class="prices-font11">Se ha modificado correctamente</span>

                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" class="red-color-form prices-font10"
                style="text-align: left !important; padding-top: 13px;">*
                Campos
                obligatorios
            </td>
        </tr>
        </tbody>
    </table>
</form>

</div>