.profile-table {
  float: right;
  width: 790px;
  height: 280px;
  font-size: 12px;
  font-weight: normal;
  td {
    text-align: left;

    &:nth-child(1) {
      width: 6px;
    }
    &:nth-child(2) {
      width: 150px;
    }
    &:nth-child(3) {
      width: 205px;
    }
    &:nth-child(4) {
      width: 360px;
      text-align: left;
    }
  }

}

.profile-table td {
  height: 25px;
}

.profile-input {
  font-family: "fontpo", "verdana";
  width: 205px;
  padding: 0 !important;
  height: 17px !important;

}