<div class="super-border private-black-title">Cartera. Composición y Asignación</div>
<div class="private-container-text">
    <p>Herramienta que permite valorar las estrategias a incluir en una Cartera y la proporción de efectivo a asignar.</p>
    <p>Usa un modelo basado en la forma empírica de la Distribución, valores centrales y extremos de las colas.</p>
    <p>NOTA: En general una estrategia con 8 meses de “exposición” al mercado sufrirá mayor volatilidad que otra expuesta 1 solo mes. Para un análisis coherente debería incluir estrategias con “Duración” comparable.</p>

    <p>El modo de uso es como sigue: <span ng-click="show=!show" ng-hide="show" class="toggle-link show-more">Mostrar Más</span></p>
    <div ng-show="show">
        <ul class="public-list-first-level">
            <li>Use filtros para preseleccionar Mercados, Duración, etc.</li>
            <li>Utilice “<span class="blue-text">>></span>” para incluir estrategias a evaluar.</li>
            <li>Pulse “Calcular” y analice los Resultados.</li>
            <li>Use “<span class="blue-text"><<</span>” para eliminar los patrones menos interesantes.</li>
            <li>Añada con “<span class="blue-text">>></span>” nuevas estrategias y repita el ciclo.</li>
            <li>Utilice la marca de Favoritos para separar sus patrones preferidos.</li>
            <li>Evaluar los datos Fundamentales de las compañías favoritas.</li>
        </ul>

        <p>Haga click sobre las celdas de columna 'Id.' para ver:</p>
        <ul class="public-list-first-level">
            <li>Detalle de la estrategia.</li>
            <li>Evolución gráfica de la cotización en curso.</li>
        </ul>

        <p><a ng-click="openModalInstance('services/detailed_description/drawdown')">Más información.</a></p>

        <span ng-click="show=!show" class="toggle-link show-less">Mostrar menos</span>
    </div>

</div>

<div style="margin-top: 15px;">
    <tabset>
        <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title}}"
             active="ctab.active" disabled="tab.disabled">
            <fieldset ng-disabled="loading || loadingFilters">
            <div class="portfolio-filter-container">


                <div ng-include="getTemplateFilter()"></div>
            </div>
            <div class="loading-div-container">
                <div ng-include="getTemplateTable()">
            </div>

                <div class="footer-table-portfolio">
                    <div class="pagination-portfolio-container" >
                        <pagination ng-show="found > pagingOptions.pageSize" boundary-links="true" on-select-page="setPage(page);loading=false;" total-items="found"
                                    items-per-page="pagingOptions.pageSize" max-size="10"
                                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                                    next-text="&gt;"
                                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
                    </div>
                    <div>
                        <button style="width: 120px;margin-left: 165px;margin-right:35px;" class="mo-cancel-button" ng-click="clearPortfolioList();" ng-disabled="portfolioList.length == 0">
                            Cancelar
                        </button>
                        <button style="width: 120px;" class="mo-button" ng-click="drawdown(true);">
                            Calcular
                        </button>
                    </div>
                </div>
            </div>
            </fieldset>

        </tab>
    </tabset>
    <div class="loading-div-container">
        <div class="loading-div" ng-show="calculating"><img src="assets/img/ajax-loader.gif"><span>Calculando, por favor espere...</span></div>
        <div ng-show="portfolioData.length > 0" >

            <table class="table-portfolio-result" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        <th colspan="8">COMPOSICIÓN - ASIGNACIÓN DE LA CARTERA</th>
                    </tr>
                <tr>
                    <th>Id</th>
                    <th>Nombre Estrategia</th>
                    <th>Mercado</th>
                    <th>Inicio</th>
                    <th>Duración (mes)</th>
                    <th>Porcentaje (%)</th>
                    <th>Proporción</th>
                    <th class="cursor-help"><span tooltip-html-unsafe="Favorito">Fav.</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in portfolioData track by $index" class="cursor-pointer" ui-sref="detail({patternId:row.patternId})">
                        <td>{{row.patternId}}</td>
                        <td ng-if="row.patternType != null">
                            <span ng-show="row.patternType == 'BULLISH'">Comprar</span>
                            <span ng-show="row.patternType == 'BEARISH'">Vender</span>
                            <br>
                            <span ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}" class="cursor-help"  tooltip-html-unsafe="{{row.bullishAssetName}} ({{row.marketSymbol}})">{{row.bullishAssetName | limitTo: 30}}</span>
                        </td>
                        <td ng-if="row.patternType == null">
                            <div class="text-limitator">
                                <span>Comprar</span>
                                <span class="buy-color cursor-help" tooltip-html-unsafe="{{row.bullishAssetName}} ({{row.marketSymbol}})">{{row.bullishAssetName | limitTo: 30}}</span>
                            </div>
                            <div class="text-limitator">
                                <span>Vender</span>
                                <span class="sell-color cursor-help" tooltip-html-unsafe="{{row.bearishAssetName}} ({{row.marketSymbol}})">{{row.bearishAssetName | limitTo: 30}}</span>
                            </div>
                        </td>
                        <td><span tooltip-html-unsafe="{{row.marketName}}" class="cursor-help">{{row.marketSymbol}}</span></td>
                        <td>{{row.entryDate | date: 'MMM yy'}}</td>
                        <td>
                            <span ng-show="(row.length <31)">Hasta 1</span>
                            <span ng-show="(row.length >30 && row.length <93)">De 1 a 3</span>
                            <span ng-show="(row.length >92)">Más de 3</span>
                        </td>
                        <td>{{row.portfolioPercentage | twoDecimals}}</td>
                        <td>{{row.portfolioRatio | twoDecimals}}</td>
                        <td>
                            <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(row.patternId);$event.stopPropagation();"
                                 ng-class="{'favourite-added': row.favorite == true}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button style="width: 120px;float:right;margin-bottom: 10px; margin-right: 20px;" class="mo-button" ng-click="clearPortfolioList();goToTop();">
                Limpiar
            </button>
        </div>
    </div>
</div>