<div class="super-border private-black-title">CARTERA. Composición y Asignación</div>
<div class="private-container-text">
    <p>Permite valorar las estrategias a incluir en una cartera y la proporción de efectivo a asignar.</p>
    <p>Es un modelo empírico basado en la forma de la distribución, valores centrales y extremos de las colas.</p>
    <p>NOTA: Una estrategia de 8 meses de duración tendrá mayor riesgo de exposición al mercado que otra
        que se mantenga tan solo 1 mes. Para un análisis coherente debería incluir estrategias con “duración” comparable</p>

    <p>El modo de uso es como sigue: <span ng-click="show=!show" ng-hide="show" class="toggle-link show-more">Mostrar Más</span></p>
    <div ng-show="show">
        <ul class="public-list-first-level">
            <li>Use filtros para preseleccionar parámetros de las estrategias como duración, región, etc.</li>
            <li>Utilice “<span class="blue-text">>></span>” para añadir estrategias a evaluar.</li>
            <li>Use “<span class="blue-text"><<</span>” para eliminar estrategias que no desea evaluar.</li>
            <li>Pulse “Calcular” y analice los Resultados.</li>
            <li>Observe el detalle del Patrón haciendo clic en celda “Id”.</li>
            <li>Utilice la marca de Favoritos para identificar sus estrategias preferidas.</li>
            <li>Añada con “<span class="blue-text">>></span>” nuevas estrategias y repita el ciclo.</li>
            <li>Evaluar los datos Fundamentales de las compañías marcadas como favoritas.</li>
        </ul>
       <!-- <p><a ng-click="openModalInstance('services/detailed_description/drawdown')">Más información.</a></p>-->

        <span ng-click="show=!show" class="toggle-link show-less">Mostrar menos</span>
    </div>

</div>

<div style="margin-top: 15px;">
    <tabset>
        <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title|translate}}"
             active="ctab.active" disabled="tab.disabled">
            <fieldset  >
            <div class="portfolio-filter-container">


                <div ng-include="getTemplateFilter()"></div>
            </div>
            <div class="loading-div-container">
                <div ng-include="getTemplateTable()">
            </div>

                <div class="footer-table-portfolio">
                    <div class="pagination-portfolio-container" >
                        <pagination ng-show="found > pagingOptions.pageSize" boundary-links="true" on-select-page="setPage(page);loading=false;" total-items="found"
                                    items-per-page="pagingOptions.pageSize" max-size="10"
                                    page="pagingOptions.currentPage" class="pagination-sm" previous-text="&lt;"
                                    next-text="&gt;"
                                    first-text="&lt;&lt;" last-text="&gt;&gt;"></pagination>
                    </div>
                    <div>
                        <button style="width: 120px;margin-left: 165px;margin-right:35px;" class="mo-cancel-button" ng-click="clearPortfolioList();" ng-disabled="portfolioList.length == 0">
                            {{'TOOLS.cancel'|translate}}
                        </button>
                        <button style="width: 120px;" class="mo-button" ng-click="drawdown(true);">
                            {{'TOOLS.calc'|translate}}
                        </button>
                    </div>
                </div>
            </div>
            </fieldset>

        </tab>
    </tabset>
    <div class="loading-div-container">
        <div class="loading-div" ng-show="calculating"><img src="assets/img/ajax-loader.gif"><span>{{'TOOLS.calculating'|translate}}</span></div>
        <div ng-show="portfolioData.length > 0" >

            <table class="table-portfolio-result" style="margin-bottom: 30px;">
                <thead>
                    <tr>
                        <th colspan="8">{{'TOOLS.portfolio_result_header'|translate}}</th>
                    </tr>
                <tr>
                    <th>Id</th>
                    <th>{{'TOOLS.name'|translate}}</th>
                    <th>{{'TOOLS.issuer'|translate}}</th>
                    <th>{{'TOOLS.start'|translate}}</th>
                    <th>{{'TOOLS.duration'|translate}}</th>
                    <th>{{'TOOLS.percentage'|translate}} (%)</th>
                    <th>{{'TOOLS.ratio'|translate}}</th>
                    <th class="cursor-help"><span tooltip-html-unsafe="{{'TOOLS.favorite_long'|translate}}">{{'TOOLS.favorite_short'|translate}}</span></th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in portfolioData" class="cursor-pointer" ui-sref="detail({patternId:row.patternId})"> <!--track by $index-->
                        <td>{{row.patternId}}</td>
                        <td ng-if="row.patternType != null">
                            <!--span ng-show="row.patternType == 'BULLISH'">{{'TOOLS.buy'|translate}}</span>
                            <span ng-show="row.patternType == 'BEARISH'">{{'TOOLS.sell'|translate}}</span>
                            <br-->
                            <span ng-class="{'buy-color': row.patternType == 'BULLISH', 'sell-color': row.patternType == 'BEARISH'}" class="cursor-help"  tooltip-html-unsafe="{{row.bullishAssetName}} ({{row.marketSymbol}})">{{row.bullishAssetName | limitTo: 30}}</span>
                        </td>
                        <td ng-if="row.patternType == null">
                            <div class="text-limitator">
                                <!--span>{{'TOOLS.buy'|translate}}</span-->
                                <span class="buy-color cursor-help" tooltip-html-unsafe="{{row.bullishAssetName}} ({{row.marketSymbol}})">{{row.bullishAssetName | limitTo: 30}}</span>
                            </div>
                            <div class="text-limitator">
                                <!--span>{{'TOOLS.sell'|translate}}</span-->
                                <span class="sell-color cursor-help" tooltip-html-unsafe="{{row.bearishAssetName}} ({{row.marketSymbol2}})">{{row.bearishAssetName | limitTo: 30}}</span>
                            </div>
                        </td>
                        <td><span tooltip-html-unsafe="{{row.marketName}}" class="cursor-help">{{row.marketSymbol}}</span><br>
                            <span ng-if="row.marketName2 != null" tooltip-html-unsafe="{{row.marketName2}}" class="cursor-help">{{row.marketSymbol2}}</span>
                        </td>

                        <td>{{row.entryDate | date: 'MMM yy'}}</td>
                        <td>
                            <span ng-show="(row.length <31)">{{'TOOLS.duration_short'|translate}}</span>
                            <span ng-show="(row.length >30 && row.length <93)">{{'TOOLS.duration_medium'|translate}}</span>
                            <span ng-show="(row.length >92)">{{'TOOLS.duration_long'|translate}}</span>
                        </td>
                        <td>{{row.portfolioPercentage | twoDecimals}}</td>
                        <td>{{row.portfolioRatio | twoDecimals}}</td>
                        <td>
                            <div class="current-favourite" tooltip-html-unsafe="{{'TOOLS.favorite_mark'|translate}}" ng-click="toggleFavorite(row.patternId);$event.stopPropagation();"
                                 ng-class="{'favourite-added': row.favorite == true}"></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button style="width: 75px;float:right;margin-bottom: 10px; margin-right: 20px;" class="mo-button" ng-click="clearAll();goToTop();">
                {{'TOOLS.accept'|translate}}
            </button>
            <div style="clear:both;">
                <div class="copyright">
                    Copyright © {{actualDate | date: 'yyyy'}} Market Observatory
                </div>
            </div>
        </div>
    </div>
</div>
