<!DOCTYPE html>
<html ng-app="ngMo" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- TODO:social media tags -->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
    <header>
        <div id="menu-id" class="menu black-head">
            <div id="mo-header" class="mo-header">
                <a href="#/home">
                    <div class="header-img logo-header"></div>
                    <div class="header-img central-header"></div>
                </a>

                <div class="menu-widget-right">
                    <div class="flag-container">
                        <flag-box></flag-box>
                    </div>
                </div>
            </div>
        </div>

        <div id="menu-full">
            <div id="menu-nav-id" class="menu-nav">
                <div>
                    <div id="nav-cont-id" class="nav-cont" ng-controller="AppCtrl">
                        <nav public-menu id="menu-not-logged" class="navbar font-verdana-bold"></nav>
                        <nav public-sub-menu id="sub-menu-public" class="font-verdana-bold"></nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container"  ui-view="main" style="display:block;">

    </div>

    <footer class="footer">
        <div class="footer-top">Preguntas frecuentes FAQ</div>
        <div class="footer-body">
            <footer class="container">
                <div class="url-footer-container">
                    <a href="#/organization" class="footer-title-text">Market Observatory</a><br>
                    <a href="#/what_is_and_what_is_not">Qu&eacute; Es y Qu&eacute; No Es</a><br>
                    <a href="#/service_conditions">Condiciones del Servicio</a><br>
                    <a href="#/data_protection"> Protecci&oacute;n de Datos</a>
                </div>
            </footer>


        </div>
        <div class="footer-bottom"></div>
    </footer>

</body>
</html>
