<!DOCTYPE html>
<html ng-app="ngMo" ng-controller="AppCtrl">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- TODO:social media tags -->

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>

</head>
<body>
    <header>
        <div id="menuId" class="menu blackHead">
            <div id="MOHeader" class="MOHeader">
                <a href="#/home">
                    <div class="headerImg logoHeader"></div>
                    <div class="headerImg centralHeader"></div>
                </a>

                <div class="menu-widget-right">
                    <div class="flag-container">
                        <flag-box></flag-box>
                    </div>
                </div>
            </div>
        </div>

        <div id="menuFull">
            <div id="menuNavId" class="menuNav">
                <div>
                    <div id="navegContId" class="navegCont" ng-controller="AppCtrl">
                        <nav public-menu id="menu-not-logged" class="navbar fontVerdanaB"></nav>
                        <nav public-sub-menu id="sub-menu-public" class="fontVerdanaB"></nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container "  ui-view="main" style="display:block;">

    </div>

    <footer class="footer">
        <div class="container">
            <div class="footer-inner">
            </div>
        </div>
    </footer>

</body>
</html>
