<div>
    <div class="volatility-header-filter">
        <table class="volatility-table-filter">
            <tr>
                <td>
                    <input ng-change="search();" class="border-filters input-filter input-name-volat" placeholder="Nombre" ng-delay="2000"
                           ng-model="filterOptions.filters.filterName">

                </td>
                <td>
                    <select class="border-filters select-filter month-filter input-month-volat"
                            data-ng-model="filterOptions.filters.selectMonth"
                            ng-change="goToMonth()"
                            ng-options="item.name for item in filterOptions.months">
                    </select></td>
                <td>
                    <select ng-change="selectIndexType()" ng-model="filterOptions.filters.index_type" class="input-op-volat">
                        <option value="0">Índices</option>
                        <option value="1">Par Índices</option>
                    </select>
                </td>
                <td><select ng-change="search()" class="border-filters select-filter input-op-volat"
                            ng-options="item.description for item in filterOptions.selectors.operationsIndex"
                            data-ng-model="filterOptions.filters.selectedOperation">
                    <option value="">- Operacion -</option>
                </select>
                </td>
                <td class="td-volatility-filter" style="width:145px;">  <form name="rentForm">
                    <select class="border-filters select-filter select-filter input-op-volat"
                            ng-options="item.description for item in filterOptions.selectors.comparators"
                            ng-change="searchVolat();"
                            data-ng-model="filterOptions.filters.selectedVolatility">
                        <option value="">- Volatilidad -</option>
                    </select>
                    <input name="volatilityInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           style="margin-left: 2px;"  ng-delay="2000"
                           ng-change="searchVolat();"
                           ng-class=" {'warning-input':  (rentForm.volatilityInput.$error.pattern && (rentForm.volatilityInput.$dirty))}"
                           data-ng-model="filterOptions.filters.volatilityInput">
                </form>
                </td>
                <td>
                    <input type="checkbox" ng-change="search();" style="float:left;"
                           ng-model="filterOptions.filters.favourite">

                    <div class="favourite-text" style="color:white;">Favoritos</div>
                </td>


            </tr>
        </table>
    </div>
</div>
</div>

