<div>
    <div class="volatility-header-filter">
        <table class="volatility-table-filter">
            <tr>
                <td>
                    <input ng-change="search();" class="border-filters input-filter input-name-volat" placeholder="Nombre"
                           ng-model="filterOptions.filters.filterName">

                </td>
                <td>
                    <select class="border-filters select-filter month-filter input-month-volat"
                            data-ng-model="filterOptions.filters.selectMonth"
                            ng-change="goToMonth()"
                            ng-options="item.name for item in filterOptions.months">
                    </select></td>
                <td>
                    <select name="regionSelector" ng-change="selectRegion()" class="border-filters select-filter input-region-volat"
                            data-ng-model="filterOptions.filters.selectedRegion">
                        <option value="">- Región -</option>
                        <option ng-repeat="item in filterOptions.selectors.regions" value="{{item.id}}"
                                ng-selected="{{item.id == filterOptions.filters.selectedRegion}}">
                            {{item.description}}
                        </option>
                    </select></td>

                <td class="td-volatility-filter" style="width:145px;">  <form name="rentForm">
                    <select class="border-filters select-filter select-filter input-op-volat"
                            ng-options="item.description for item in filterOptions.selectors.comparators"
                            ng-change="search();"
                            data-ng-model="filterOptions.filters.selectedVolatility">
                        <option value="">- Volatilidad -</option>
                    </select>
                    <input name="volatilityInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           style="margin-left: 2px;"
                           ng-change="search();"
                           ng-class=" {'warning-input':  (rentForm.volatilityInput.$error.pattern && (rentForm.volatilityInput.$dirty))}"
                           data-ng-model="filterOptions.filters.volatilityInput">
                </form>
                </td>
                <td>
                    <input type="checkbox" ng-change="search();" style="float:left;"
                           ng-model="filterOptions.filters.favourite">

                    <div class="favourite-text" style="color:white;">Favoritos</div>
                </td>


            </tr>
        </table>
    </div>
</div>
</div>

