<div>
    <div class="volatility-header-filter">
        <table class="volatility-table-filter">
            <tr>
                <td>
                    <input ng-change="search();" class="border-filters input-filter input-name-volat" placeholder="{{'TOOLS.name'|translate}}" ng-delay="2000"
                           ng-model="filterOptions.filters.filterName">

                </td>
                <td>
                    <select class="border-filters select-filter month-filter input-month-volat"
                            data-ng-model="filterOptions.filters.selectMonth"
                            ng-change="goToMonth()"
                            ng-options="(item.month | translate | uppercase ) +' '+item.year for item in filterOptions.months">
                    </select></td>
                <td>
                    <select ng-change="selectIndexType()" ng-model="filterOptions.filters.index_type index-select-orange">
                        <option value="0">{{'INDICES'|translate}}</option>
                        <option value="1">{{'INDEX_PAIRS'|translate}}</option>
                    </select>
                </td>
                <td class="td-volatility-filter" style="width:145px;">  <form name="rentForm">
                    <select class="border-filters select-filter select-filter input-op-volat"
                            ng-options="item.description | translate for item in filterOptions.selectors.comparators"
                            ng-change="searchVolat();"
                            data-ng-model="filterOptions.filters.selectedVolatility">
                        <option value="">- {{'TOOLS.volatility'|translate}} -</option>
                    </select>
                    <input name="volatilityInput" class="border-filters input-filter small-input-filter" placeholder="%"
                           ng-pattern="rentPattern" ng-trim="false"
                           style="margin-left: 2px;" ng-delay="2000"
                           ng-change="searchVolat();"
                           ng-class=" {'warning-input':  (rentForm.volatilityInput.$error.pattern && (rentForm.volatilityInput.$dirty))}"
                           data-ng-model="filterOptions.filters.volatilityInput">
                </form>
                </td>
                <td>
                    <input type="checkbox" ng-change="search();" style="float:left;"
                           ng-model="filterOptions.filters.favourite">

                    <div class="favourite-text" style="color:white;">{{'TOOLS.favorites'|translate}}</div>
                </td>


            </tr>
        </table>
    </div>
</div>
</div>

app