<div class="super-border private-black-title">Calendario</div>
<div class="private-container-text">
<p>
    Muestra la organización cronológica de las estrategias como soporte para realización de operaciones:

    <ul class="public-list-first-level">
        <li>“L” para posiciones “Largas” o Compra.</li>
        <li>“S” para posiciones “Cortas” o Venta a Corto.</li>
    </ul>
    Recuerde el “convenio de fechas” establecido por Market Observatory:

    <ul class="public-list-first-level">
        <li>Las Entradas y Salidas están referenciadas a la hora de “Cierre” de la sesión regular del mercado.</li>
        <li>Fecha de Entrada (o apertura operación): Si el día coincide en Fin de Semana o Festivo la operación se hará:
            <ul class="public-list-second-level">
                <li>El día “Siguiente” con sesión de mercado.</li>
            </ul>
        <li>Fecha de Salida (o cierre operación): Si el día coincide en Fin de Semana o Festivo la operación se hará:</li>
            <ul class="public-list-second-level">
                <li>El día “Previo” con sesión de mercado.</li>
            </ul>
    </ul>

    <a ng-click="openModalInstance('services/detailed_description/calendar')">Más información</a>
</p>
</div>

<tabset class="float-left">
    <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title}}" active="ctab.active" disabled="tab.disabled">
        <div class="pdf-icon" ng-click="obtainCalendarPdf();"></div>
        <div class="loading-div-container">
            <div class="loading-div" ng-show="loading"><img src="assets/img/ajax-loader.gif" class="loading-gif"><span>Cargando, por favor espere...</span></div>
            <fieldset ng-disabled="loading">
                <div ng-include="urlSelected"></div>
            </fieldset>
        </div>
    </tab>
</tabset>

<script type="text/ng-template" id="calendarPdfContent.html">
    <div class="modal-alert">
        <div class="modal-header">
            <div class="header">Calendar - Solicitud envío correo electrónico
                <button class="btn-close btn-close-alert" ng-click="close()"></button>
            </div>
        </div>
        <div class="modal-body">
            <br>
            <select data-ng-model="data.region">
                <option value="" ng-selected="{{region.id == data.region}}">- Seleccione la región deseada -</option>
                <option ng-repeat="region in regions" value="{{region.id}}"
                        ng-selected="{{region.id == data.region}}">
                    {{region.description}}
                </option>
            </select>
            <div class="signup-form-warning" ng-show="showText">Debe seleccionar una región</div>
        </div>
        <div class="modal-footer">
            <button class="mo-button float-left" ng-click="cancel()">Cancelar</button>
            <button class="mo-button float-right" ng-click="ok()">Aceptar</button>

        </div>
    </div>
</script>

<script type="text/ng-template" id="calendarPdfOk.html">
    <div class="modal-alert">
        <div class="modal-body">
            <br>
            <div class="calendar-modal-text">Hemos enviado un correo electrónico con el documento solicitado.</div>
        </div>
        <div class="modal-footer">
            <button class="mo-button float-left" ng-click="close()">Aceptar</button>

        </div>
    </div>
</script>