<div class="super-border private-black-title">Calendario</div>
<div class="private-container-text">
<p>
    Muestra la organización cronológica de las estrategias como soporte para realización de operaciones:

    <ul class="public-list-first-level">
        <li>“L” para posiciones “Largas” o Compra.</li>
        <li>“S” para posiciones “Cortas” o Venta a Corto.</li>
    </ul>
    Recuerde el “convenio de fechas” establecido por Market Observatory:

    <ul class="public-list-first-level">
        <li>Las Entradas y Salidas están referenciadas a la hora de “Cierre” de la sesión regular del mercado.</li>
        <li>Fecha de Entrada (o apertura operación): Si el día coincide en Fin de Semana o Festivo la operación se hará:
            <ul class="public-list-second-level">
                <li>El día “Siguiente” con sesión de mercado.</li>
            </ul>
        <li>Fecha de Salida (o cierre operación): Si el día coincide en Fin de Semana o Festivo la operación se hará:</li>
            <ul class="public-list-second-level">
                <li>El día “Previo” con sesión de mercado.</li>
            </ul>
    </ul>

    <a ng-click="openModalInstance('services/detailed_description/calendar')">Más información</a>
</p>
</div>

<tabset class="float-left">
    <tab ng-click="changeTab(ctab.value)" ng-repeat="ctab in tabs" heading="{{ctab.title}}" active="ctab.active" disabled="tab.disabled">
        <div class="pdf-icon"></div>
        <div ng-include="urlSelected"></div>
    </tab>
</tabset>