<div>
    <!-- Advertising carousel -->
    <div ng-controller="HomeCtrl" carousel-controller-provider class="carousel-container" >
        <div>
            <carousel interval="myInterval">
                <slide ng-repeat="slide in myslides" active="slide.active">
                    <img ng-src="{{slide.image}}" style="margin:auto;">
                </slide>
                <div class="carousel-caption-copyright">
                    <p class="copyright_carousel">Copyright &copy; 2014 Market Observatory</p>
                </div>
            </carousel>
        </div>
    </div>
    <!-- Texts Home -->
    <div class="home-text-container">
        <div home-texts></div>
    </div>
    <!-- tabs product's type -->
    <tabset>
        <tab ng-click="onClickTab(homeTablePack.value)" ng-repeat="homeTablePack in homeTablePacks" heading="{{homeTablePack.title}}" active="homeTablePack.active" disabled="tab.disabled">
            <div ng-include="homeTablePack.url"></div>
        </tab>
    </tabset>
</div>