//Classes for advertising carousel
.carousel-indicators{
  bottom: -11px;
  left: 888px;
  width: 355px !important;
  border-left: 1px solid @greyColor;
  li {
    text-align: left;
    display: block;
    width: 355px;
    height: 42px;
    margin: 0px;
    padding-left: 62px;
    padding-right: 8px;
    text-indent: 0px;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid #ff6f00;
    cursor: pointer;
    padding-top: 3px;

    background-image: url('../assets/img/home/flecha1.png'), rgb(252,181,101); /* Old browsers */
    background-image: url('../assets/img/home/flecha1.png'), -moz-linear-gradient(right,  rgba(252,181,101,1) 0%, rgba(255,158,43,1) 46%, rgba(254,132,0,1) 100%); /* FF3.6+ */
    background-image: url('../assets/img/home/flecha1.png'), -webkit-gradient(linear, right right, right right, color-stop(0%,rgba(252,181,101,1)), color-stop(46%,rgba(255,158,43,1)), color-stop(100%,rgba(254,132,0,1))); /* Chrome,Safari4+ */
    background-image: url('../assets/img/home/flecha1.png'), -webkit-linear-gradient(right,  rgba(252,181,101,1) 0%,rgba(255,158,43,1) 46%,rgba(254,132,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url('../assets/img/home/flecha1.png'), -o-linear-gradient(right,  rgba(252,181,101,1) 0%,rgba(255,158,43,1) 46%,rgba(254,132,0,1) 100%); /* Opera 11.10+ */
    background-image: url('../assets/img/home/flecha1.png'), -ms-linear-gradient(right,  rgba(252,181,101,1) 0%,rgba(255,158,43,1) 46%,rgba(254,132,0,1) 100%); /* IE10+ */
    background-image: url('../assets/img/home/flecha1.png'), linear-gradient(to right,  rgba(252,181,101,1) 0%,rgba(255,158,43,1) 46%,rgba(254,132,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcb565', endColorstr='#fe8400',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-position: 8%;
    &:last-child{
      border-bottom:none;
      height:41px;
    }
    &:nth-child(1):after{
      content: "\00BFTodav\00ED a se atreve a Invertir en Bolsa SIN VENTAJAS?";
    }
    &:nth-child(2):after{
      content: "\00BFSon POCO Rentables sus Fondos de Inversi\00F3n?";
    }
    &:nth-child(3):after{
      content: "\00BFNo Sabe invertir en mercados BRICS y EMERGENTES?";
    }
    &:nth-child(4):after{
      content: "\00BFQuiere ser Experto inversor en ETF's o CFD's?";
    }
    &:nth-child(5):after{
      content: "\00BF Descontento con su FONDO de PENSIONES?";
    }
    &:nth-child(6):after{
      content: "\00A1 APRENDA a invertir como un Hedge Fund!";
    }
    &:nth-child(7):after{
      content: "\00BF Busca estrategias rentables de BAJO RIESGO?";
    }
    &:nth-child(8):after{
      content: "\00BFOpera en Futuros SIN Informaci\00F3n PROFESIONAL?";
    }
  }
  .active {
    color:black;
    width: 355px;
    height: 42px;
    margin: 0px;
    background-image: url('../assets/img/home/flecha1.png'), rgb(255,203,155); /* Old browsers */
    background-image: url('../assets/img/home/flecha1.png'), -moz-linear-gradient(right,  rgba(255,203,155,1) 0%, rgba(254,190,119,1) 46%, rgba(255,174,83,1) 100%); /* FF3.6+ */
    background-image: url('../assets/img/home/flecha1.png'), -webkit-gradient(linear, right top, left bottom, color-stop(0%,rgba(255,203,155,1)), color-stop(46%,rgba(254,190,119,1)), color-stop(100%,rgba(255,174,83,1))); /* Chrome,Safari4+ */
    background-image: url('../assets/img/home/flecha1.png'), -webkit-linear-gradient(right,  rgba(255,203,155,1) 0%,rgba(254,190,119,1) 46%,rgba(255,174,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image: url('../assets/img/home/flecha1.png'), -o-linear-gradient(right,  rgba(255,203,155,1) 0%,rgba(254,190,119,1) 46%,rgba(255,174,83,1) 100%); /* Opera 11.10+ */
    background-image: url('../assets/img/home/flecha1.png'), -ms-linear-gradient(right,  rgba(255,203,155,1) 0%,rgba(254,190,119,1) 46%,rgba(255,174,83,1) 100%); /* IE10+ */
    background-image: url('../assets/img/home/flecha1.png'), linear-gradient(to right,  rgba(255,203,155,1) 0%,rgba(254,190,119,1) 46%,rgba(255,174,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffcb9b', endColorstr='#ffae53',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    background-position: 8%;
  }
}

.carousel-inner{
  img{
    margin:0px !important;
    border-left:1px solid #9b9c9e;
  }
}

.carousel-control.left, .carousel-control.right{
  display: none;
}

.vertical .carousel-inner {
  height: 100%;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
    padding-left: 0px;
  }
}
.copyright_carousel {
  float: right;
  color: hsl(240, 2%, 24%);
  font-size: 11px;
  margin-right: 40px;
  text-shadow: none;
  font-family:'fontpo', 'verdana';

}

.carousel-caption-copyright{
  z-index: 16;
  height: 34px;
  border-top: 2px solid #000;
  bottom: -1px;
  width: 602px;
  position: absolute;
  background: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 0px;
  border-bottom: 1px solid @greyColor;
  border-left: 1px solid @greyColor;
}

.carousel-inner > .active{
  height:334px;
}

@-webkit-keyframes change-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes change-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes change-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes change-opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.carousel-inner > .item{
  //-webkit-animation: change-opacity 3s; /* Safari 4+ */
  //-moz-animation:    change-opacity 3s; /* Fx 5+ */
  //-o-animation:      change-opacity 3s; /* Opera 12+ */
  //animation:         change-opacity 3s; /* IE 10+ */

  -webkit-transition: 0.0001s ease left;
  transition: 0.0001s ease left;
}

.advertising-carousel-texts{
  color:#ffffff;
  font-weight: bold;
  font-family: fontpo-bold, verdana;
  font-size:12px;
}

.carousel-container{
  margin-bottom: 20px;
  margin-top:30px;
  -webkit-box-shadow: 2px 8px 10px -3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    2px 8px 10px -3px rgba(50, 50, 50, 0.75);
  box-shadow:         2px 8px 10px -3px rgba(50, 50, 50, 0.75);
}

.carousel-inner img{
  width:602px !important;
  height: 302px !important;

}
/************************** End Classes for advertising carousel  *********************/


/******* modal selectors  *******/

.modal-content{
  border-radius: 0px;
  width: 1000px;
  left:-190px;
  border: 5px outset gray;
}

.modal-header{
  border-bottom:0px;
  margin-bottom: 25px;
}

.modal-body{
  width: 946px;
  height: 640px;
  overflow-y: scroll;
  text-align: justify;
  margin-left: 25px;
  margin-bottom: 40px;
}

.btn-close{
  float:right;
  background-image: url('../assets/img/close_modal.png');
  background-color: transparent;
  height: 22px;
  width: 22px;
  border: none;
  &:hover{
    font-weight: bold;
  }
  &:focus{
    border:none;
    outline-color:transparent;
  }
}