<div class="black" style="font-size: 12px; ">
    <table  style="width: 774px !important;" border="0" cellpadding="0" cellspacing="0">
        <colgroup span="5"></colgroup>
        <thead>
        <tr  class="index-header">
            <th>
                <span class="index-header-index">Índice</span>
            </th>
            <th >
                <span class=" index-header-date">Fecha Cálculo</span>
            </th>
            <th >
                <span class="index-header-vol">Volatilidad %</span>
            </th>
            <th  >
                <span class="index-header-fav" tooltip-html-unsafe="Favoritos">Fav.</span>

            </th>
        </tr>
        </thead>
        <tbody class="index-tbody">

        <tr ng-repeat="data in myData" ng-class-even="'ngRow-odd'" ng-class-odd="'ngRow-even'">
            <td  class="index-name-value">
                <span  ng-class="{'buy-color': data.patternType == 'BULLISH', 'sell-color': data.patternType == 'BEARISH'}">{{data.asset.longName}}</span>
            </td>

            <td  class="index-date-value" >
                <span>{{data.asset.lastQuoteDate | date: 'd MMM yyyy'}}</span>
            </td>
            <td class="index-vol-value">
                <a ng-click="loadGraphic($event,data.asset.longName,data.patternType,null,false,data.asset.volatilityChartURL);$event.stopPropagation();">{{data.asset.volatility | number:0}}</a>
            </td>
            <td style="width: 62px;" class="table-cell-patterns sub-border-right-table">
                <div tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(data.id);$event.stopPropagation();" class="current-favourite"  ng-class="{'favourite-added': data.favorite == true}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

