<div class="black" style="padding-top: 10px;font-size: 12px; ">
    <table  style="position: relative;top: -5px;width: 774px !important;" border="0" cellpadding="0" cellspacing="0">
        <colgroup span="5"></colgroup>
        <thead>
        <tr  style="font-family: fontpo; height:24px">
            <th>
                <span style="text-align: center; padding-left:200px; display:inline-block; width:220px; ">Índice</span>
            </th>
            <th >
                <span style="padding-left:20px;">Fecha Cálculo</span>
            </th>
            <th >
                <span style="padding-left:20px;">Volatilidad %</span>
            </th>
            <th  >
                <span style="padding-left: 15px;" title="Favoritos">Fav.</span>
                <div  style="display:none;">
                    <div >PREV</div>
                    <div >Favoritos</div>
                </div>
            </th>
        </tr>
        </thead>
        <tbody>

        <tr class="rich-table-firstrow " ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" style=" font-size:11px;color:#996600 !important;">
            <td  style="text-align: left; width:462px;">
                <span  ng-class="{'buy-color': data.patternType == 'BULLISH', 'sell-color': data.patternType == 'BEARISH'}">{{data.asset.longName}}</span>
            </td>

            <td   class="rich-table-cell ">{{data | date: 'dd MMM yyyy'}}</td>
            <td  class="rich-table-cell " >
                <a ng-click="loadGraphic($event,data.vol)">{{data.asset.volatility | number:0}}</a>
            </td>
            <td style="width: 62px;" class="table-cell-patterns border-right-table">
                <div class="current-favourite" g-class="{'favourite-added': data.Fav == 'true'}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

