<div class="black" style="font-size: 12px; ">
    <table class="volat-table" style="width: 800px" border="0" cellpadding="0" cellspacing="0">
        <colgroup span="5"></colgroup>
        <thead>
        <tr  class="index-header">
            <th>
                <span class="index-header-index">Índice</span>
            </th>
            <th style="width: 100px;">
                <span class="index-header-date">Fecha Cálculo</span>
            </th>
            <th >
                <span class="index-header-vol">Volatilidad %</span>
            </th>
            <th  >
                <span class="index-header-fav" tooltip-html-unsafe="Favoritos">Fav.</span>

            </th>
        </tr>
        </thead>
        <tbody class="index-tbody">

        <tr ng-repeat="data in myData" ng-class-even="'ngRowVol-odd'" ng-class-odd="'ngRowVol-even'">
            <td  class="index-name-value">
                <span  ng-class="{'buy-color': data.patTyp == 'BULLISH', 'sell-color': data.patTyp == 'BEARISH'}">{{data.name}}</span>
            </td>

            <td  class="index-date-value" >
                <span>{{data.lastDate | date: 'd MMM yyyy'}}</span>
            </td>
            <td class="index-vol-value">
                <a ng-if="data.volat >= 0" ng-click="showSelectedGraphic($event,data.name,data.patTyp,null,false,data.volatChartURL);$event.stopPropagation();">{{data.volat | volatTruncate}}</a>
                <span ng-if="data.volat < 0">N/A</span>
            </td>
            <td style="width: 62px;" class="table-cell-patterns sub-border-right-table">
                <div tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(data.id);$event.stopPropagation();" class="current-favourite"  ng-class="{'favourite-added': data.fav == true}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

