 <div >
    <table  class="pairs-table-vol volat-table" cellpadding="0" cellspacing="0">
        <colgroup span="5"></colgroup>
        <thead >
        <tr  class="pairs-header">
            <th class="text-center">
                <span class="pairs-index-company" >{{'TOOLS.name'|translate}}</span>
            </th>
            <th  class="text-center">
                <span class="pairs-index-market">{{'TOOLS.market'|translate}}</span>
            </th>

            <th class="text-center">
                <span style="padding-left:5px;">{{'TOOLS.volatility'|translate}} %</span>
            </th>
            <th class="text-center">
                <span class="pairs-index-date">{{'TOOLS.vol_date'|translate}}</span>
            </th>
            <th class="text-center">
                <span class="pairs-index-vol">{{'TOOLS.vol_pair'|translate}} (%)</span>
            </th>
            <th  class="text-center">
                <span class="pairs-index-fav" tooltip-html-unsafe="{{'TOOLS.favorite_long'|translate}}">{{'TOOLS.favorite_short'|translate}}</span>
            </th>
        </tr>
        </thead>
        <tbody class="pairs-tbody">
        <tr ng-repeat="data in myData" ng-class-even="'ngRow-odd'" ng-class-odd="'ngRow-even'" style="font-size:10px;">
        <td  class="pairs-market-value">
            <div class="text-limitator">
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.name}} ({{data.exchSymbol}})">
                {{data.name}}
            </span>
            </div>
            <div class="text-limitator">
            <span class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.name2}} ({{data.exchSymbol2}})">
                {{data.name2}}
            </span>
            </div>
        </td>
        <td class="black-font-market" style="width:70px;"  >
            <div tooltip-html-unsafe="{{data.exchName}}" class="cursor-help"  >
                {{data.exchSymbol}}
            </div>
            <div tooltip-html-unsafe="{{data.exchName2}}" class="cursor-help"  >
                {{data.exchSymbol2 | limitTo: 4}}
            </div>

        </td>

        <td  class="pairs-vol-value">
            <a ng-if="data.volat >=0" ng-click="showSelectedGraphic($event,data.name,'BULLISH',null,false,data.volatChartURL);$event.stopPropagation();" >{{data.volat | volatTruncate}}</a>
            <span ng-if="data.volat <0">N/A</span><br/>
            <a ng-if="data.volat2 >=0" ng-click="showSelectedGraphic($event,data.name2,'BEARISH',null,false,data.volatChartURL2);$event.stopPropagation();">{{data.volat2 | volatTruncate}}</a>
            <span ng-if="data.volat2 <0">N/A</span>
        </td>
        <td class="black-font-pairs" >
            <span ng-if="data.lastDate2 <data.lastDate">{{data.lastDate2 | date: 'dd MMM yyyy'}}</span>
            <span ng-if="data.lastDate2 >=data.lastDate">{{data.lastDate | date: 'dd MMM yyyy'}}</span>


        </td>
        <td class="text-center pairs-vol-value">
            <a ng-if="data.volatPair >= 0" ng-click="showSelectedGraphic($event,data.name,null,data.name2,true,data.volatPairChartURL);$event.stopPropagation();" >{{data.volatPair | volatTruncate}}</a>
            <span ng-if="data.volatPair < 0">N/A</span>
        </td>
        <td  class="pairs-fav-value" class="table-cell-patterns border-right-table">
            <div tooltip-html-unsafe="{{'TOOLS.favorite_mark'|translate}}" ng-click="toggleFavorite(data.id);$event.stopPropagation();" class="current-favourite"  ng-class="{'favourite-added': data.fav == true}"></div>
        </td>
        </tr>
        </tbody>
    </table>
</div>