<div class="black" style="padding-top: 10px;font-size: 12px; ">
    <table  style="position: relative;top: -286px;width: 774px !important;" border="0" cellpadding="0" cellspacing="0">
        <colgroup span="5"></colgroup>
        <thead >
            <tr style="line-height:35px; background-color:black;color:white; font-family: fontpo; height:26px">
                <th >
                    <span style="padding-bottom: 2px;text-align: center; padding-left:133px; display:inline-block; width:120px; ">Nombre</span>
                </th>
                <th  >
                    <span style="padding-bottom: 2px;padding-left:36px;">Mercado</span>
                </th>
                <th>
                    <span style="padding-bottom: 2px;padding-left:15px;">Fecha Cálculo</span>
                </th>
                <th >
                    <span style="padding-bottom: 2px;padding-left:34px;">Volatilidad %</span>
                </th>
                <th >
                    <span style="padding-bottom: 2px;padding-left: 15px;" title="Favoritos">Fav.</span>
                    <div  style="display:none;">
                        <div >PREV</div>
                        <div >Favoritos</div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="data in myData"  ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" style=" font-size:11px;color:#996600 !important;">
                <td class="green"    style="text-align: left; width:330px;">
                    <span ng-class="{'buy-color': data.patternType == 'BULLISH', 'sell-color': data.patternType == 'BEARISH'}">{{data.asset.longName}}</span>
                </td>
                <td class="blac-font-market"   title="London Stock Exchange">
                    <span   >{{data.asset.exchange.symbol}}</span>
                    <div  style="display:none;">
                        <div ></div>
                        <div class="">London Stock Exchange</div>
                    </div>
                </td>
                <td >{{data.entryDate | date: 'dd MMM yyyy'}}</td>
                <td  >
                    <a ng-click="loadGraphic($event,data.vol)" >{{ data.asset.volatility| number:0}}</a>
                </td>
                <td style="width: 62px;" class="table-cell-patterns border-right-table">
                    <div class="current-favourite" g-class="{'favourite-added': data.Fav == 'true'}"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

