<table class="tables-my-packs">
    <thead>
    <tr class="header-my-packs-table">
        <td colspan="4">
            {{'FOREX'|translate}}
        </td>
    </tr>
    <tr class="subheader-my-packs-table">
        <td>{{'SUBSCRIPTIONS.pack'|translate}}</td>
        <td>{{'SUBSCRIPTIONS.start'|translate}}</td>
        <td>{{'SUBSCRIPTIONS.end'|translate}}</td>
        <td>{{'SUBSCRIPTIONS.order'|translate}}</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pack in myPacksTablePack.content track by $index">
        <td>{{pack.name}}</td>
        <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
        <td>{{pack.endDate | date: 'MMMM yyyy'}}</td>
        <td>
            <select ng-model="pack.orden" ng-change="selectOption(pack)" ng-disabled="pack.cancelled || (!pack.canRenew && !pack.refund)" class="selector-my-packs">
                <option value="">{{'SUBSCRIPTIONS.choose'|translate}}</option>
                <option ng-if="pack.canRenew" value="0">{{'SUBSCRIPTIONS.renovate'|translate}}</option>
                <option ng-if="pack.refund"  value="1">{{'SUBSCRIPTIONS.cancel'|translate}}</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>
