<table class="tables-my-packs">
    <thead>
    <tr class="header-my-packs-table">
        <td colspan="4">

        </td>
    </tr>
    <tr class="subheader-my-packs-table">
        <td>Pack</td>
        <td>Inicio</td>
        <td>Fin</td>
        <td>Orden</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="pack in myPacksTablePack.content track by $index">
        <td>{{pack.name}}</td>
        <td>{{pack.startDate | date: 'MMMM yyyy'}}</td>
        <td>{{pack.endDate | date: 'MMMM yyyy'}}</td>
        <td>
            <select ng-model="pack.orden" ng-change="selectOption(pack)">
                <option value="">Elegir</option>
                <option value="0">Renovar</option>
                <option ng-if="pack.refund"  value="1">Cancelar</option>
            </select>
        </td>
    </tr>
    </tbody>
</table>