
.table-organization {
  tbody {
    tr {
      td{
        padding: 10px 10px 5px 10px;
        vertical-align: top;
      }
    }
  }
}

.organization-image {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.organization-div-text {
  float: left;
  width: 355px;
}

