<div class="tools-container">

    <table style="width: 400px;" class="table-correlation">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Op.</td>
            <td>Añadir</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pattern in myData">
            <td>{{pattern.id}}</td>
            <td ng-class="{'buy-color': pattern.patternType == 'BULLISH', 'selHl-color': pattern.patternType == 'BEARISH' }">{{pattern.asset.longName}}</td>
            <td>
                <span tooltip="Venta" ng-if="pattern.patternType == 'BULLISH'">B</span>
                <span tooltip="Compra" ng-if="pattern.patternType == 'BEARISH'">A</span>
            </td>
            <td class="correlation-button"><span ng-class="{'disable-arrow': correlationList.length >= 10}" ng-click="addToCorrelationList(pattern.id);">>></span></td>
        </tr>
        </tbody>
    </table>
    <table style="width: 450px;float:right;" class="table-correlation">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Op.</td>
            <td>Fav.</td>
            <td>Quitar</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pattern in selectedPatterns">
            <td>{{pattern.id}}</td>
            <td>{{pattern.name}}</td>
            <td>{{pattern.operation}}</td>
            <td>{{pattern.favorite}}</td>
            <td class="correlation-button"><<</td>
        </tr>
        </tbody>
    </table>
    <div style="width: 450px;float:right;">
        <span class="correlation-note">Lista a Correlar (máx. 10 items)</span>
    </div>
</div>