<div class="tools-container" style="height: 525px;">

    <table style="width: 400px;float:left;" class="table-correlation">
        <thead>
        <tr>
            <td>Id</td>
            <td>Nombre</td>
            <td>Añadir</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pattern in myData">
            <td>{{pattern.id}}</td>
            <td>
                <span class="buy-color" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}})">{{pattern.asset.longName | limitTo: 23}}</span><br>
                <span class="sell-color" tooltip="{{pattern.bearishAsset.longName}} ({{pattern.bearishAsset.exchange.symbol}})">{{pattern.bearishAsset.longName | limitTo: 23}}</span>
            </td>
            <td class="correlation-button"><span ng-class="{'disable-arrow': correlationList.length >= 10}" ng-click="addToCorrelationList(pattern.id);">>></span></td>
        </tr>
        </tbody>
    </table>
    <div style="float:right;">
        <table style="width: 450px;" class="table-correlation">
            <thead>
            <tr>
                <td>Id</td>
                <td>Nombre</td>
                <td><span tooltip="Favoritos">Fav.</span></td>
                <td>Quitar</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="pattern in correlationList">
                <td>{{pattern.id}}</td>
                <td>
                    <span class="buy-color" tooltip="{{pattern.asset.longName}} ({{pattern.asset.exchange.symbol}})">{{pattern.asset.longName | limitTo: 25}}</span><br>
                    <span class="sell-color" tooltip="{{pattern.bearishAsset.longName}} ({{pattern.bearishAsset.exchange.symbol}})">{{pattern.bearishAsset.longName | limitTo: 25}}</span>
                </td>
                <td style="width: 32px;" class="table-cell-patterns border-right-table">
                    <div class="current-favourite" tooltip-html-unsafe="Marcar Estrategia Favorita" ng-click="toggleFavorite(pattern.id);"
                         ng-class="{'favourite-added': pattern.favorite == true}"></div>
                </td>
                <td class="correlation-button"><span ng-click="deleteFromCorrelationList(pattern.id);"><<</span></td>
            </tr>
            </tbody>
        </table>
        <div style="width: 450px;float:right;">
            <span class="correlation-note">Lista a Correlar (máx. 10 items)</span>
        </div>
    </div>
</div>