<div class="no-patterns-container" ng-show="myData.length==0">NO EXISTEN PATRONES PARA EL MES SELECCIONADO</div>

<table style="width: 955px;" class="table-pattern" ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header" rowspan="2">
            Id
        </th>
        <th class="border-right-table">
            Descripción
        </th>
        <th class="border-right-table" colspan="2">
            Entrada
        </th>
        <th class="border-right-table">
            <span>Salida</span>
        </th>
        <th class="border-right-table"
            colspan="3">
            <span>Último</span>
        </th>
        <th class="border-right-table">
            <span class="cursor-help" tooltip-html-unsafe="Volatilidad">Vol.</span>
        </th>
        <th class="border-right-table"
            colspan="2">
            Mejor Ganancia
        </th>
        <th class="border-right-table"  colspan="2">
            <span>Peor Pérdida</span>
        </th>
        <th class="border-right-table">
            <span>Notas</span>
        </th>
        <th class="sub-border-right-table">
            <span>Alarma</span>
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table">

        </th>
        <th class="sub-border-right-table">
            Fecha
        </th>
        <th class="border-right-table">
            Precio
        </th>
        <th class="border-right-table">
            Fecha
        </th>
        <th class="sub-border-right-table">
            Fecha
        </th>
        <th class="sub-border-right-table">
            Precio
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="sub-border-right-table">
            Fecha
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="sub-border-right-table">
            Fecha
        </th>
        <th class="border-right-table">
            (%)
        </th>
        <th class="border-right-table">

        </th>
        <th class="sub-border-right-table">
            Precio
        </th>
    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="pairDetail({patternId:data.id})">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>
        <td style="text-align: left; min-width: 178px;vertical-align: middle;" class="table-cell-patterns border-right-table">
            <span>Alcista</span>
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.asset.longName}} ({{data.asset.exchange.symbol}})">
                 {{data.asset.longName}}
            </span>
            <br/>
            <div class="text-limitator">
                <span>Bajista</span>
            <span class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.bearishAsset.longName}} ({{data.bearishAsset.exchange.symbol}})">
                {{data.bearishAsset.longName}}
            </span>
            </div>
        </td>
        <td style="width: 70px;"
            class="table-cell-patterns sub-border-right-table">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td style="width: 48px;" class="table-cell-patterns border-right-table">
            <div class="buy-color"><b>{{data.entryValue}}</b></div>
            <div class="sell-color"><b>{{data.bearishEntryValue}}</b></div>
        </td>
        <td style="width: 70px;" class="table-cell-patterns border-right-table">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>
        <td style="width: 70px;" class="table-cell-patterns sub-border-right-table">
            {{data.asset.lastQuoteDate | date: 'dd/MMM/yy'}}
        </td>
        <td style="width: 68px;" class="table-cell-patterns sub-border-right-table">
            <a class="link" ng-href="{{data.asset.priceChartURL}}"><b>{{data.asset.lastQuote | twoDecimals}}</b></div>
            <a class="link" ng-href="{{data.bearishAsset.priceChartURL}}"><b>{{data.bearishAsset.lastQuote | twoDecimals}}</b></div>
        </td>
        <td class="table-cell-patterns border-right-table">
            <b>{{data.lastPerformance | twoDecimals}}</b>
        </td>
        <td class="table-cell-patterns border-right-table">
            <a class="link"><b>{{data.asset.volatility | twoDecimals}}</b></a>
        </td>
        <td style="width: 70px;" class="table-cell-patterns sub-border-right-table">
            {{data.bestGainDate | date: 'dd/MM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table">
            <b ng-class="{'negative-percent': data.asset.lastQuote < 0}">{{data.bestGain | twoDecimals}}</b>
        </td>
        <td style="width: 70px;" class="table-cell-patterns sub-border-right-table">
            {{data.worstLossDate | date: 'dd/MM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table">
            <b>{{data.worstLoss | twoDecimals}}</b>
        </td>
        <td style="width: 30px;" class="table-cell-patterns border-right-table">

        </td>
        <td class="table-cell-patterns sub-border-right-table ng-binding">
            <div ng-click="open(data.id, data.asset.longName, data.bearishAsset.longName, data.patternType, data.priceAlert, data.conditionAlert);$event.stopPropagation();" class="blue-text" ng-class="{'alarm-icon': data.priceAlert == null ,'has-alarm-icon' : data.priceAlert != null}">
                <div style="margin-top: 10px;">
                    <span ng-show="data.conditionAlert == 'GREATER_THAN' &&  data.priceAlert != null">Mayor que</span>
                    <span ng-show="data.conditionAlert == 'LESS_THAN' &&  data.priceAlert != null">Menor que</span>
                    {{data.priceAlert}}
                </div>
            </div>
        </td>
    </tr>


</table>