
<table style="width: 955px;" class="table-pattern table-with-graph" ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header id-column-width" rowspan="2">
            Id
        </th>
        <th class="border-right-table description-column-width-pair-index">
            {{'FOLLOW.indices'|translate}}
        </th>
        <th class="border-right-table">
            {{'FOLLOW.emisor'|translate}}
        </th>
        <th class="border-right-table entry-column-width" colspan="2">
            {{'FOLLOW.entry'|translate}}
            <img src="assets/img/entryArrow.png">
        </th>
        <th class="border-right-table exit-column-width-index">
            <img src="assets/img/exitArrow.png">
            {{'FOLLOW.exit'|translate}}
        </th>
        <th class="border-right-table last-column-width" colspan="3">
            {{'FOLLOW.last'|translate}}
        </th>
        <th class="border-right-table volatility-column-width">
            <span class="cursor-help" tooltip-html-unsafe="{{'FOLLOW.volatility_long'|translate}}">{{'FOLLOW.volatility_short'|translate}}</span>
        </th>
        <th class="border-right-table best-gain-column-width" colspan="2">
            {{'FOLLOW.best_rent'|translate}}
        </th>
        <th class="border-right-table worst-loss-column-width" colspan="2">
            {{'FOLLOW.worst_rent'|translate}}
        </th>
        <th class="border-right-table notes-column-width">
            {{'FOLLOW.notes'|translate}}
        </th>
        <th class="sub-border-right-table alarm-column-width">
            {{'FOLLOW.alarm'|translate}}
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table description-column-width-pair-index">
            {{'FOLLOW.names'|translate}}
        </th>
        <th class="border-right-table">

        </th>
        <th class="sub-border-right-table entry-date-column-width-index">
            {{'FOLLOW.date'|translate}}
        </th>
        <th class="border-right-table entry-price-column-width">
            {{'FOLLOW.price'|translate}}
        </th>

        <th class="border-right-table exit-column-width">
            {{'FOLLOW.date'|translate}}
        </th>

        <th class="sub-border-right-table last-date-column-width">
            {{'FOLLOW.date'|translate}}
        </th>
        <th class="sub-border-right-table last-price-column-width">
            {{'FOLLOW.price'|translate}}
        </th>
        <th class="border-right-table last-percentage-column-width">
            (%)
        </th>

        <th class="border-right-table volatility-column-width">
            (%)
        </th>

        <th class="sub-border-right-table best-gain-date-column-width">
            {{'FOLLOW.date'|translate}}
        </th>
        <th class="border-right-table best-gain-percentage-column-width">
            (%)
        </th>

        <th class="sub-border-right-table worst-loss-date-column-width">
            {{'FOLLOW.date'|translate}}
        </th>
        <th class="border-right-table worst-loss-percentage-column-width">
            (%)
        </th>

        <th class="border-right-table notes-column-width"></th>

        <th class="sub-border-right-table alarm-column-width"></th>

    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'"  ng-click="goToPairDetail(data.id)" > <!--ui-sref="pairDetail({patternId:data.id})"-->
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>

        <td style="text-align: left; vertical-align: middle;" class="table-cell-patterns border-right-table description-column-width-pair-index">
            <div class="text-limitator">
            <span>{{'FOLLOW.bullish'|translate}}</span>
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.name}} ({{data.exchSymbol}})">
                 {{data.name}}
            </span>
            </div>
            <div class="text-limitator">
                <span>{{'FOLLOW.bearish'|translate}}</span>
                <span class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.name2}} ({{data.exchSymbol2}})">
                {{data.name2}}
                </span>
            </div>
        </td>
        <td class="border-right-table table-cell-patterns ">
            <span class="cursor-help" tooltip-html-unsafe="{{data.exchName}}">{{data.exchSymbol}}</span><br>
            <span class="cursor-help" tooltip-html-unsafe="{{data.exchName2}}">{{data.exchSymbol2}}</span>
        </td>
        <td class="table-cell-patterns sub-border-right-table entry-date-column-width-index">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table entry-price-column-width">
            <div class="buy-color"><b>{{data.entryValue | twoDecimals}}</b></div>
            <div class="sell-color"><b>{{data.bearishEntryValue | twoDecimals}}</b></div>
        </td>

        <td class="table-cell-patterns border-right-table exit-column-width">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>

        <td class="table-cell-patterns sub-border-right-table last-date-column-width">
            {{data.lastQuoteDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns sub-border-right-table last-price-column-width">
            <div class="link" ng-click="loadGraphic($event,data.name,'BULLISH',null,false,data.priceChartURL);$event.stopPropagation();"><b>{{data.lastQuote | twoDecimals}}</b></div>
            <div class="link" ng-click="loadGraphic($event,data.name2,'BEARISH',null,false,data.priceChartURL2);$event.stopPropagation();"><b>{{data.lastQuote2 | twoDecimals}}</b></div>
        </td>
        <td class="table-cell-patterns border-right-table last-percentage-column-width">
            <b>{{data.lastPerformance | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table volatility-column-width">
            <a class="link" ng-click="loadGraphic($event,data.name,data..patTyp,data.name2,true,data.pairVolatilityChartURL);$event.stopPropagation();">
                <span ng-show="data.pairVolatility>=0"><b>{{data.pairVolatility | volatTruncate}}</b></span>
            </a>
        </td>

        <td class="table-cell-patterns sub-border-right-table best-gain-date-column-width">
            <div  ng-show="data.bestGain >= 0.01" >{{data.bestGainDate | date: 'dd/MM/yy'}}</div>
        </td>
        <td class="table-cell-patterns border-right-table best-gain-percentage-column-width">
            <b ng-show="data.bestGain >= 0.01">{{data.bestGain | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns sub-border-right-table worst-loss-date-column-width">
            <div  ng-show="data.worstLoss <= -0.01">{{data.worstLossDate | date: 'dd/MM/yy'}}</div>
        </td>
        <td class="table-cell-patterns border-right-table worst-loss-percentage-column-width">
            <b ng-class="{'negative-percent': data.worstLoss <= -0.01}" ng-show="data.worstLoss <= -0.01">{{data.worstLoss | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table notes-column-width">
            <div class="notes-pattern-icon" ng-if="(data.notes.length > 0 || data.notes2.length>0)" ng-click="openNotes(data);$event.stopPropagation();"></div>
        </td>

        <td class="table-cell-patterns sub-border-right-table ng-binding alarm-column-width">
            <div ng-click="open(data.id, data.name, data.name2, null, data.priceAlert, data.conditionAlert, data.lastPerformance);$event.stopPropagation();" class="blue-text" ng-class="{'alarm-icon': data.priceAlert == null ,'has-alarm-icon' : data.priceAlert != null}">
                <div style="margin-top: 10px;">
                    <span ng-show="data.conditionAlert == 'GREATER_THAN' &&  data.priceAlert != null">{{'FOLLOW.gt'|translate}}</span>
                    <span ng-show="data.conditionAlert == 'LESS_THAN' &&  data.priceAlert != null">{{'FOLLOW.lt'|translate}}</span>
                    {{data.priceAlert}}
                </div>
            </div>
        </td>
    </tr>


</table>

<!--preload img-->
<div class="invisible-div">
    <div data-ng-repeat="data in myData">
        <img src="{{data.priceChartURL}}">
        <img src="{{data.priceChartURL2}}">
        <img src="{{data.pairVolatilityChartURL}}">
    </div>
</div>