
<table style="width: 955px;" class="table-pattern table-with-graph" ng-show="myData.length>0">
    <!--HEADER-->
    <tr class="table-header-top-patterns">
        <th class="table-id-header id-column-width" rowspan="2">
            Id
        </th>
        <th class="border-right-table description-column-width">
            Descripción
        </th>
        <th class="border-right-table entry-column-width" colspan="2">
            Entrada
            <img src="assets/img/entryArrow.png">
        </th>
        <th class="border-right-table exit-column-width exit-column-width">
            <img src="assets/img/exitArrow.png">
            <span>Salida</span>
        </th>
        <th class="border-right-table last-column-width" colspan="3">
            <span>Último</span>
        </th>
        <th class="border-right-table volatility-column-width">
            <span class="cursor-help" tooltip-html-unsafe="Volatilidad">Vol.</span>
        </th>
        <th class="border-right-table best-gain-column-width" colspan="2">
            Mejor Ganancia
        </th>
        <th class="border-right-table worst-loss-column-width" colspan="2">
            <span>Peor Pérdida</span>
        </th>
        <th class="border-right-table notes-column-width">
            <span>Notas</span>
        </th>
        <th class="sub-border-right-table alarm-column-width">
            <span>Alarma</span>
        </th>
    </tr>
    <tr class="table-header-bottom-patterns">
        <th class="border-right-table description-column-width"></th>

        <th class="sub-border-right-table entry-date-column-width">
            Fecha
        </th>
        <th class="border-right-table entry-price-column-width">
            Precio
        </th>

        <th class="border-right-table exit-column-width">
            Fecha
        </th>

        <th class="sub-border-right-table last-date-column-width">
            Fecha
        </th>
        <th class="sub-border-right-table last-price-column-width">
            Precio
        </th>
        <th class="border-right-table last-percentage-column-width">
            (%)
        </th>

        <th class="border-right-table volatility-column-width">
            (%)
        </th>

        <th class="sub-border-right-table best-gain-date-column-width">
            Fecha
        </th>
        <th class="border-right-table best-gain-percentage-column-width">
            (%)
        </th>

        <th class="sub-border-right-table worst-loss-date-column-width">
            Fecha
        </th>
        <th class="border-right-table worst-loss-percentage-column-width">
            (%)
        </th>

        <th class="border-right-table notes-column-width"></th>

        <th class="sub-border-right-table alarm-column-width">
            Precio
        </th>

    </tr>
    <tr ng-repeat="data in myData" ng-class-even="'ngRow-even'" ng-class-odd="'ngRow-odd'" ui-sref="pairDetail({patternId:data.id})">
        <td width="30" class="table-id-orange">
            {{data.id}}
        </td>

        <td style="text-align: left; vertical-align: middle;" class="table-cell-patterns border-right-table description-column-width">
            <div class="text-limitator">
            <span>Alcista</span>
            <span class="cursor-help buy-color"
                  tooltip-html-unsafe="{{data.asset.longName}} ({{data.asset.exchange.symbol}})">
                 {{data.asset.longName}}
            </span>
            </div>
            <div class="text-limitator">
                <span>Bajista</span>
                <span class="cursor-help sell-color"
                  tooltip-html-unsafe="{{data.bearishAsset.longName}} ({{data.bearishAsset.exchange.symbol}})">
                {{data.bearishAsset.longName}}
                </span>
            </div>
        </td>

        <td class="table-cell-patterns sub-border-right-table entry-date-column-width">
            {{data.entryDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns border-right-table entry-price-column-width">
            <div class="buy-color"><b>{{data.entryValue | twoDecimals}}</b></div>
            <div class="sell-color"><b>{{data.bearishEntryValue | twoDecimals}}</b></div>
        </td>

        <td class="table-cell-patterns border-right-table exit-column-width">
            {{data.exitDate | date: 'dd/MMM/yy'}}
        </td>

        <td class="table-cell-patterns sub-border-right-table last-date-column-width">
            {{data.asset.lastQuoteDate | date: 'dd/MMM/yy'}}
        </td>
        <td class="table-cell-patterns sub-border-right-table last-price-column-width">
            <div class="link" ng-click="loadGraphic($event,data.asset.longName,'BULLISH',null,false,data.asset.priceChartURL);$event.stopPropagation();"><b>{{data.asset.lastQuote | twoDecimals}}</b></div>
            <div class="link" ng-click="loadGraphic($event,data.bearishAsset.longName,'BEARISH',null,false,data.bearishAsset.priceChartURL);$event.stopPropagation();"><b>{{data.bearishAsset.lastQuote | twoDecimals}}</b></div>
        </td>
        <td class="table-cell-patterns border-right-table last-percentage-column-width">
            <b>{{data.lastPerformance | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table volatility-column-width">
            <a class="link" ng-click="loadGraphic($event,data.asset.longName,data.patternType,data.bearishAsset.longName,true,data.pairVolatilityChartURL);$event.stopPropagation();">
                <span ng-show="data.pairVolatility>=0"><b>{{data.pairVolatility | twoDecimals}}</b></span>
            </a>
        </td>

        <td class="table-cell-patterns sub-border-right-table best-gain-date-column-width">
            <div  ng-show="data.bestGain >= 0.01" >{{data.bestGainDate | date: 'dd/MM/yy'}}</div>
        </td>
        <td class="table-cell-patterns border-right-table best-gain-percentage-column-width">
            <b ng-show="data.bestGain >= 0.01">{{data.bestGain | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns sub-border-right-table worst-loss-date-column-width">
            <div  ng-show="data.worstLoss <= -0.01">{{data.worstLossDate | date: 'dd/MM/yy'}}</div>
        </td>
        <td class="table-cell-patterns border-right-table worst-loss-percentage-column-width">
            <b ng-class="{'negative-percent': data.worstLoss <= -0.01}" ng-show="data.worstLoss <= -0.01">{{data.worstLoss | twoDecimals}}</b>
        </td>

        <td class="table-cell-patterns border-right-table notes-column-width">
            <div class="notes-pattern-icon" ng-if="data.asset.notes.length > 0" ng-click="openNotes(data.asset, data.bearishAsset);$event.stopPropagation();"></div>
        </td>

        <td class="table-cell-patterns sub-border-right-table ng-binding alarm-column-width">
            <div ng-click="open(data.id, data.asset.longName, data.bearishAsset.longName, null, data.priceAlert, data.conditionAlert, data.lastPerformance);$event.stopPropagation();" class="blue-text" ng-class="{'alarm-icon': data.priceAlert == null ,'has-alarm-icon' : data.priceAlert != null}">
                <div style="margin-top: 10px;">
                    <span ng-show="data.conditionAlert == 'GREATER_THAN' &&  data.priceAlert != null">Mayor que</span>
                    <span ng-show="data.conditionAlert == 'LESS_THAN' &&  data.priceAlert != null">Menor que</span>
                    {{data.priceAlert}}
                </div>
            </div>
        </td>
    </tr>


</table>